Repository momentum-design/momentum-design, pull requests merged in 2024-10, with the labels that each got.

#858 fix: adjust topological order of dependencies in docs
  packages/documentation/package.json
  yarn.lock
Labels: validated, Author: Core Team, docs

#834 fix(spec): add req packages to build for test setup
  .github/workflows/pull-request.yml
Labels: validated, Author: Core Team

#859 feat: automation semantic versioning
  packages/tools/automation/src/commands/get-packages/constants.ts
  packages/tools/automation/src/commands/increment-packages/constants.ts
  packages/tools/automation/src/commands/increment-packages/increment-packages.ts
  packages/tools/automation/src/commands/increment-packages/increment-packages.unit.test.ts
  packages/tools/automation/src/commands/increment-packages/types.ts
  packages/tools/automation/src/models/fixtures/packages.fixture.ts
  packages/tools/automation/src/models/package/package.ts
  packages/tools/automation/src/utils/git/git.test.ts
  packages/tools/automation/src/utils/git/git.ts
Labels: validated, Author: Core Team, tools

#862 fix: adding output format react to components
  .github/workflows/pull-request.yml
  .gitignore
  packages/components/.eslintrc.js
  packages/components/config/custom-elements-manifest.config.js
  packages/components/config/esbuild/esbuild-e2e.config.js
  packages/components/config/playwright/playwright.config.ts
  packages/components/package.json
  packages/components/prettier.config.js
  packages/components/scripts/makeReact.js
  packages/components/src/components/themeprovider/themeprovider.styles.ts
  packages/components/src/index.ts
  packages/components/src/tsconfig.json
  packages/components/tsconfig.json
  yarn.lock
Labels: validated, Author: Core Team, components

#863 ci: fix deploy increment packages
  .github/workflows/deploy-package.yml
Labels: validated, Author: Core Team

#864 test(e2e): add playwright install to support browser install on CI
  .github/workflows/pull-request.yml
  packages/components/package.json
Labels: validated, Author: Core Team, components

#860 feat: Various icon updates
  packages/assets/icons/src/brand/cisco-ai-assistant-default.svg
  packages/assets/icons/src/brand/cisco-ai-assistant-inactive.svg
  packages/assets/icons/src/brand/social-instagram.svg
  packages/assets/icons/src/brand/social-line-colored.svg
  packages/assets/icons/src/brand/social-line.svg
  packages/assets/icons/src/brand/social-rcs-colored.svg
  packages/assets/icons/src/brand/social-rcs.svg
  packages/assets/icons/src/brand/social-telegram-colored.svg
  packages/assets/icons/src/brand/social-telegram.svg
  packages/assets/icons/src/brand/social-wechat-colored.svg
  packages/assets/icons/src/brand/social-wechat.svg
  packages/assets/icons/src/brand/swiftmatch-colored.svg
  packages/assets/icons/src/brand/swiftmatch.svg
  packages/assets/icons/src/core/capture-rewind-bold.svg
  packages/assets/icons/src/core/capture-rewind-light.svg
  packages/assets/icons/src/core/capture-rewind-regular.svg
  packages/assets/icons/src/core/fast-forward-bold.svg
  packages/assets/icons/src/core/fast-forward-light.svg
  packages/assets/icons/src/core/fast-forward-regular.svg
  packages/assets/icons/src/core/forward-ten-sec-bold.svg
  packages/assets/icons/src/core/forward-ten-sec-light.svg
  packages/assets/icons/src/core/forward-ten-sec-regular.svg
  packages/assets/icons/src/core/mms-filled.svg
  packages/assets/icons/src/core/redo-bold.svg
  packages/assets/icons/src/core/redo-light.svg
  packages/assets/icons/src/core/redo-regular.svg
  packages/assets/icons/src/core/rewind-ten-sec-bold.svg
  packages/assets/icons/src/core/rewind-ten-sec-light.svg
  packages/assets/icons/src/core/rewind-ten-sec-regular.svg
  packages/assets/icons/src/core/sms-filled.svg
  packages/assets/icons/src/core/sms-outgoing-filled.svg
  packages/assets/icons/src/core/undo-bold.svg
  packages/assets/icons/src/core/undo-light.svg
  packages/assets/icons/src/core/undo-regular.svg
Labels: validated, icons

#865 docs: component class style
  packages/components/config/plop/templates/add/component/{{componentName}}.stories.ts.hbs
  packages/components/config/storybook/commonArgTypes.ts
  packages/components/config/storybook/preview.js
  packages/components/src/components/themeprovider/themeprovider.stories.ts
  packages/components/src/models/component/component.component.ts
Labels: validated

#866 fix: add style dictionary transform to resolve token value
  packages/tools/token-builder/package.json
  packages/tools/token-builder/src/common/__mocks__/constants.ts
  packages/tools/token-builder/src/common/constants.ts
  packages/tools/token-builder/src/models/token-builder/token-builder.ts
  yarn.lock
Labels: validated

#867 test(e2etest): add scripts to support e2e test for each browser
  packages/components/package.json
Labels: validated, Author: Core Team, components

#868 chore: Icon provider component
  .vscode/settings.json
  packages/components/config/playwright/setup/Components.page.ts
  packages/components/config/playwright/setup/utils/accessibility.ts
  packages/components/src/components/avatar/avatar.component.ts
  packages/components/src/components/avatar/avatar.constants.ts
  packages/components/src/components/avatar/avatar.stories.ts
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/badge/badge.constants.ts
  packages/components/src/components/badge/badge.stories.ts
  packages/components/src/components/badge/badge.styles.ts
  packages/components/src/components/icon/icon.component.ts
  packages/components/src/components/icon/icon.constants.ts
  packages/components/src/components/icon/icon.e2e-test.ts
  packages/components/src/components/icon/icon.stories.ts
  packages/components/src/components/iconprovider/iconprovider.component.ts
  packages/components/src/components/iconprovider/iconprovider.constants.ts
  packages/components/src/components/iconprovider/iconprovider.context.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.ts
  packages/components/src/components/iconprovider/iconprovider.stories.ts
  packages/components/src/components/iconprovider/iconprovider.stories.utils.ts
  packages/components/src/components/text/text.utils.ts
  yarn.lock
Labels: validated, Author: Core Team, components

#869 refactor: themeprovider changes to get it finished
  packages/components/.eslintrc.js
  packages/components/config/playwright/public/index.html
  packages/components/config/playwright/setup/Components.page.ts
  packages/components/config/playwright/setup/constants.ts
  packages/components/config/playwright/setup/index.ts
  packages/components/config/playwright/setup/types.ts
  packages/components/config/storybook/preview.js
  packages/components/config/storybook/provider/themeProvider.js
  packages/components/config/storybook/themes/index.js
  packages/components/config/storybook/utils.ts
  packages/components/package.json
  packages/components/src/components/themeprovider/themeprovider.component.ts
  packages/components/src/components/themeprovider/themeprovider.constants.ts
  packages/components/src/components/themeprovider/themeprovider.context.ts
  packages/components/src/components/themeprovider/themeprovider.e2e-test.ts
  packages/components/src/components/themeprovider/themeprovider.stories.ts
  packages/components/src/components/themeprovider/themeprovider.stories.utils.ts
  packages/components/src/components/themeprovider/themeprovider.types.ts
  packages/components/src/components/themeprovider/themeprovider.utils.ts
  packages/components/src/tsconfig.json
  packages/components/src/tsdoc.json
Labels: validated, components

#870 docs: added storybook badges addon
  packages/components/config/plop/templates/add/component/{{componentName}}.component.ts.hbs
  packages/components/config/plop/templates/add/component/{{componentName}}.stories.ts.hbs
  packages/components/config/storybook/main.js
  packages/components/config/storybook/preview.js
  packages/components/package.json
  packages/components/src/components/avatar/avatar.stories.ts
  packages/components/src/components/badge/badge.stories.ts
  packages/components/src/components/icon/icon.stories.ts
  packages/components/src/components/iconprovider/iconprovider.stories.ts
  packages/components/src/components/text/text.stories.ts
  packages/components/src/components/themeprovider/themeprovider.stories.ts
  packages/components/src/tsdoc.json
  yarn.lock
Labels: validated, Author: Core Team, components

#842 feat: typography tokens (variables)
  packages/assets/tokens/config/tokens/core.json
  packages/assets/tokens/config/tokens/typography.json
  packages/assets/tokens/package.json
  packages/assets/tokens/src/$metadata.json
  packages/assets/tokens/src/$themes.json
  packages/assets/tokens/src/core/typography.json
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
  packages/tools/token-builder/package.json
  packages/tools/token-builder/src/common/__mocks__/constants.ts
  packages/tools/token-builder/src/common/constants.ts
  packages/tools/token-builder/src/models/token-builder/token-builder.ts
  yarn.lock
Labels: validated, tokens, tools

#874 test(e2e): added e2e tests for themeprovider
  packages/components/config/esbuild/esbuild-e2e.config.js
  packages/components/config/playwright/public/index.css
  packages/components/config/playwright/public/index.html
  packages/components/config/playwright/setup/constants.ts
  packages/components/config/playwright/setup/index.ts
  packages/components/package.json
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-a-other-theme-which-does-not-exist-error-case.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-darkWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-darkWebex-standalone.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-darkWebex.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-lightWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-lightWebex-standalone.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-lightWebex.png
  packages/components/src/components/themeprovider/__screenshots__/firefox/mdc-themeprovider-darkWebex.png
  packages/components/src/components/themeprovider/__screenshots__/firefox/mdc-themeprovider-lightWebex.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-a-other-theme-which-does-not-exist-error-case.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-darkWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-darkWebex-standalone.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-darkWebex.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-lightWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-lightWebex-standalone.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-lightWebex.png
  packages/components/src/components/themeprovider/__screenshots__/webkit/mdc-themeprovider-darkWebex.png
  packages/components/src/components/themeprovider/__screenshots__/webkit/mdc-themeprovider-lightWebex.png
  packages/components/src/components/themeprovider/themeprovider.e2e-test.ts
  packages/components/src/components/themeprovider/themeprovider.e2e-test.utils.ts
  packages/components/tsconfig.json
Labels: validated, components

#875 feat: themeprovider release
  packages/components/src/components/themeprovider/themeprovider.stories.ts
  packages/components/src/components/themeprovider/themeprovider.styles.ts
Labels: validated, Author: Core Team, components

#871 fix: add consumption guide for components
  packages/components/.eslintrc.js
  packages/components/config/storybook/main.js
  packages/components/src/Consumption.mdx
Labels: validated, Author: Core Team, components

#877 test(e2etest): fix e2e failed issue
  packages/components/src/components/themeprovider/themeprovider.styles.ts
Labels: validated, Author: Core Team, components

#873 fix:Type token updates
  packages/assets/tokens/src/core/typography.json
Labels: tokens

#881 fix(themeprovider): make use of typography tokens
  packages/components/config/storybook/preview.js
  packages/components/scripts/copyTokens.js
  packages/components/src/Consumption.mdx
  packages/components/src/components/themeprovider/themeprovider.component.ts
  packages/components/src/components/themeprovider/themeprovider.constants.ts
  packages/components/src/components/themeprovider/themeprovider.styles.ts
Labels: validated, Author: Core Team, components

#872 test(iconprovider): add e2etest for iconprovider
  packages/components/config/esbuild/esbuild-e2e.config.js
  packages/components/config/playwright/public/index.html
  packages/components/config/playwright/setup/Components.page.ts
  packages/components/src/components/avatar/avatar.component.ts
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/icon/icon.component.ts
  packages/components/src/components/iconprovider/__screenshots__/chrome/mdc-iconprovider-nested.png
  packages/components/src/components/iconprovider/__screenshots__/chrome/mdc-iconprovider-standalone.png
  packages/components/src/components/iconprovider/__screenshots__/chrome/mdc-iconprovider.png
  packages/components/src/components/iconprovider/__screenshots__/firefox/mdc-iconprovider-nested.png
  packages/components/src/components/iconprovider/__screenshots__/firefox/mdc-iconprovider-standalone.png
  packages/components/src/components/iconprovider/__screenshots__/firefox/mdc-iconprovider.png
  packages/components/src/components/iconprovider/__screenshots__/msedge/mdc-iconprovider-nested.png
  packages/components/src/components/iconprovider/__screenshots__/msedge/mdc-iconprovider-standalone.png
  packages/components/src/components/iconprovider/__screenshots__/msedge/mdc-iconprovider.png
  packages/components/src/components/iconprovider/__screenshots__/webkit/mdc-iconprovider-nested.png
  packages/components/src/components/iconprovider/__screenshots__/webkit/mdc-iconprovider-standalone.png
  packages/components/src/components/iconprovider/__screenshots__/webkit/mdc-iconprovider.png
  packages/components/src/components/iconprovider/iconprovider.component.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.utils.ts
  packages/components/src/components/text/text.component.ts
Labels: validated, components

#883 docs: updated Readme; created guides section
  packages/components/README.md
  packages/components/conventions/component-styles-variables.md
Labels: validated, Author: Core Team, components

#878 fix: provider stylesheet inheritance and display format
  packages/components/src/components/iconprovider/iconprovider.component.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.ts
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-a-other-theme-which-does-not-exist-error-case.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-darkWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-darkWebex-standalone.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-lightWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-lightWebex-standalone.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-a-other-theme-which-does-not-exist-error-case.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-darkWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-darkWebex-standalone.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-lightWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-lightWebex-standalone.png
  packages/components/src/components/themeprovider/themeprovider.component.ts
  packages/components/src/components/themeprovider/themeprovider.e2e-test.ts
  packages/components/src/components/themeprovider/themeprovider.stories.ts
  packages/components/src/models/provider/provider.component.ts
  packages/components/src/models/provider/provider.styles.ts
Labels: validated, components

#879 chore(component): update existing icon component
  packages/components/config/storybook/provider/themeProvider.js
  packages/components/src/components/icon/icon.component.ts
  packages/components/src/components/icon/icon.stories.ts
  packages/components/src/components/icon/icon.styles.ts
  packages/components/src/components/icon/icon.utils.ts
Labels: validated, components

#889 chore: updated github pr template
  .github/pull_request_template.md
Labels: validated, Author: Core Team

#886 docs: convention for aria delegation
  packages/components/conventions/component-aria-delegation.md
Labels: validated, Author: Core Team, components

#888 docs: added convention for tsdoc
  packages/components/conventions/component-tsdoc.md
Labels: validated, Author: Core Team, components

#892 fix: themeprovider-font-defaults
  packages/assets/fonts/src/css/fonts.css
  packages/components/config/playwright/setup/constants.ts
  packages/components/src/components/iconprovider/__screenshots__/chrome/mdc-iconprovider-nested.png
  packages/components/src/components/iconprovider/__screenshots__/chrome/mdc-iconprovider-standalone.png
  packages/components/src/components/iconprovider/__screenshots__/firefox/mdc-iconprovider-nested.png
  packages/components/src/components/iconprovider/__screenshots__/firefox/mdc-iconprovider-standalone.png
  packages/components/src/components/iconprovider/__screenshots__/msedge/mdc-iconprovider-nested.png
  packages/components/src/components/iconprovider/__screenshots__/msedge/mdc-iconprovider-standalone.png
  packages/components/src/components/iconprovider/__screenshots__/webkit/mdc-iconprovider-nested.png
  packages/components/src/components/iconprovider/__screenshots__/webkit/mdc-iconprovider-standalone.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-body-large.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-body-regular.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-body-small.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-heading-1.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-heading-2.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-heading-3.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-heading-4.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-heading-6.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-heading-7.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-body-large.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-body-regular.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-body-small.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-heading-1.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-heading-2.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-heading-3.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-heading-4.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-heading-6.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-heading-7.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-body-large.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-body-regular.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-body-small.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-heading-1.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-heading-2.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-heading-3.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-heading-4.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-heading-6.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-heading-7.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-body-large.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-body-regular.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-body-small.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-heading-1.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-heading-2.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-heading-3.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-heading-4.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-heading-6.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-heading-7.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-a-other-theme-which-does-not-exist-error-case.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-darkWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-darkWebex-standalone.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-lightWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/chrome/mdc-themeprovider-lightWebex-standalone.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-a-other-theme-which-does-not-exist-error-case.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-darkWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-darkWebex-standalone.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-lightWebex-nested.png
  packages/components/src/components/themeprovider/__screenshots__/msedge/mdc-themeprovider-lightWebex-standalone.png
  packages/components/src/components/themeprovider/themeprovider.component.ts
  packages/components/src/components/themeprovider/themeprovider.stories.ts
  packages/components/src/components/themeprovider/themeprovider.styles.ts
Labels: validated, Author: Core Team, components, fonts

#894 ci: fix automation targets
  packages/tools/automation/src/commands/create-release/constants.ts
Labels: validated, Author: Core Team, tools

#890 fix: update iconProvider storybook
  packages/components/config/storybook/preview.js
  packages/components/src/components/iconprovider/iconprovider.component.ts
  packages/components/src/components/iconprovider/iconprovider.stories.ts
  packages/components/src/components/iconprovider/iconprovider.stories.utils.ts
Labels: validated, Author: Core Team, components

#895 feat: iconProvider release
  packages/components/src/components/iconprovider/iconprovider.stories.ts
Labels: validated, Author: Core Team, components

#898 fix: utils export, convert to cjs and exporting types
  config/esbuild/esbuild.config.js
  packages/assets/utils/esbuild.config.js
  packages/assets/utils/package.json
  packages/assets/utils/tsconfig.json
Labels: validated, Author: Core Team, utils

#900 feat: Various icon updates
  packages/assets/icons/src/core/airplay-bold.svg
  packages/assets/icons/src/core/airplay-light.svg
  packages/assets/icons/src/core/airplay-regular.svg
  packages/assets/icons/src/core/sms-filled.svg
Labels: validated, icons

#893 chore(specs): write e2e specs for updated icon component
  packages/components/src/components/icon/__screenshots__/chrome/mdc-icon-color.png
  packages/components/src/components/icon/__screenshots__/firefox/mdc-icon-color.png
  packages/components/src/components/icon/__screenshots__/msedge/mdc-icon-color.png
  packages/components/src/components/icon/__screenshots__/webkit/mdc-icon-color.png
  packages/components/src/components/icon/icon.e2e-test.ts
Labels: validated, components

#905 refactor: small changes to text component
  packages/components/src/components/iconprovider/iconprovider.component.ts
  packages/components/src/components/iconprovider/iconprovider.stories.ts
  packages/components/src/components/text/text.component.ts
  packages/components/src/components/text/text.constants.ts
  packages/components/src/components/text/text.stories.ts
  packages/components/src/components/themeprovider/themeprovider.component.ts
  packages/components/src/components/themeprovider/themeprovider.stories.ts
  packages/components/src/tsdoc.json
Labels: validated, Author: Core Team, components

#909 fix: add color modifiers
  packages/tools/token-builder/src/models/token-builder/token-builder.ts
Labels: validated, Author: Core Team, tools

#906 fix: Update to design of airplay icon
  packages/assets/icons/src/core/airplay-bold.svg
  packages/assets/icons/src/core/airplay-light.svg
  packages/assets/icons/src/core/airplay-regular.svg
Labels: validated, icons

#908 feat: Major update; Deprecating logos from icon library
  packages/assets/icons/src/brand/alphalink-colored.svg
  packages/assets/icons/src/brand/apple-business-chat-colored.svg
  packages/assets/icons/src/brand/cisco-ai-assistant-default.svg
  packages/assets/icons/src/brand/cisco-ai-assistant-inactive.svg
  packages/assets/icons/src/brand/google-meet-colored.svg
  packages/assets/icons/src/brand/ms-teams-colored.svg
  packages/assets/icons/src/brand/slido-colored.svg
  packages/assets/icons/src/brand/social-alexa-colored.svg
  packages/assets/icons/src/brand/social-alexa.svg
  packages/assets/icons/src/brand/social-facebook-colored.svg
  packages/assets/icons/src/brand/social-facebook.svg
  packages/assets/icons/src/brand/social-fbmessenger-colored.svg
  packages/assets/icons/src/brand/social-fbmessenger.svg
  packages/assets/icons/src/brand/social-instagram.svg
  packages/assets/icons/src/brand/social-line-colored.svg
  packages/assets/icons/src/brand/social-line.svg
  packages/assets/icons/src/brand/social-microsoft-colored.svg
  packages/assets/icons/src/brand/social-microsoft.svg
  packages/assets/icons/src/brand/social-rcs-colored.svg
  packages/assets/icons/src/brand/social-rcs.svg
  packages/assets/icons/src/brand/social-telegram-colored.svg
  packages/assets/icons/src/brand/social-telegram.svg
  packages/assets/icons/src/brand/social-viber-colored.svg
  packages/assets/icons/src/brand/social-viber.svg
  packages/assets/icons/src/brand/social-wechat-colored.svg
  packages/assets/icons/src/brand/social-wechat.svg
  packages/assets/icons/src/brand/social-whatsapp-colored.svg
  packages/assets/icons/src/brand/social-whatsapp.svg
  packages/assets/icons/src/brand/social-x.svg
  packages/assets/icons/src/brand/swiftmatch-colored.svg
  packages/assets/icons/src/brand/swiftmatch.svg
  packages/assets/icons/src/brand/videotron-colored.svg
  packages/assets/icons/src/brand/videotron-horizontal.svg
  packages/assets/icons/src/brand/zoom-colored.svg
Labels: validated, icons

#904 chore(text): modify storybook for text component
  packages/components/src/components/text/text.component.ts
  packages/components/src/components/text/text.constants.ts
  packages/components/src/components/text/text.stories.ts
  packages/components/src/components/text/text.types.ts
Labels: validated, Author: Core Team, components

#913 fix: move typography out of themeprovider
  packages/components/config/playwright/public/index.html
  packages/components/config/storybook/provider/themeProvider.js
  packages/components/src/Consumption.mdx
  packages/components/src/components/themeprovider/themeprovider.component.ts
  packages/components/src/components/themeprovider/themeprovider.constants.ts
Labels: validated, Author: Core Team, components

#903 feat: Focus ring effect token updates
  packages/assets/tokens/src/$metadata.json
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
  packages/tools/token-builder/src/models/token-builder/token-builder.ts
Labels: validated, tokens, tools

#911 fix(text): we added Text
  packages/components/src/components/text/text.stories.ts
Labels: validated, Author: Core Team, components

#915 fix(windows): build on windows
  packages/components/scripts/makeReact.js
  packages/tools/builder/src/assets/builder/transformer/ttf-transformer.ts
  packages/tools/builder/src/assets/builder/transformer/types-transform.unit.test.ts
  packages/tools/builder/src/assets/builder/transformer/types-transformer.ts
  packages/tools/builder/src/assets/builder/transformer/woff-transformer.ts
  packages/tools/builder/src/assets/builder/transformer/woff2-transformer.ts
  packages/tools/figma-plugins/assets-export/package.json
  packages/tools/token-builder/src/models/dictionary/dictionary.ts
  packages/tools/token-builder/src/models/platform/platform.ts
  packages/tools/token-builder/src/validator/index.ts
  packages/tools/token-builder/test/module/module.test.ts
Labels: validated, Author: Core Team, components, tools

#917 docs: updated tsdoc to support few more properties
  packages/components/conventions/component-tsdoc.md
  packages/components/src/tsdoc.json
Labels: validated, Author: Core Team, components

#899 style: add shared styles for focus ring
  packages/components/src/utils/styles/index.ts
Labels: validated, Author: Core Team, components

#919 fix: update playwright config test command
  packages/components/config/playwright/playwright.config.ts
Labels: validated, Author: Core Team, components

#920 fix: update playwright config test command in docker
  packages/components/config/playwright/docker/playwright.docker.config.ts
Labels: validated, Author: Core Team, components

#922 fix: add color modifiers to convert color tokens from Tokens Studio to color values.
  packages/tools/token-builder/src/common/constants.ts
Labels: validated

#923 fix: tech debt for icon component
  packages/components/src/components/icon/icon.stories.ts
Labels: validated, Author: Core Team, components

#916 docs: add focus ring in storybook
  packages/components/config/storybook/main.js
  packages/components/config/storybook/preview.js
  packages/components/src/stories/FocusRing/subcomponent-focusring.constants.ts
  packages/components/src/stories/FocusRing/subcomponent-focusring.stories.docs.mdx
  packages/components/src/stories/FocusRing/subcomponent-focusring.stories.ts
  packages/components/src/stories/FocusRing/subcomponent-focusring.stories.utils.ts
  packages/components/src/stories/FocusRing/subcomponent-focusring.styles.ts
  packages/components/src/tsconfig.json
  packages/components/src/utils/styles/index.ts
Labels: validated, Author: Core Team, components

#927 ci: moving build to es2020 instead of commonjs
  packages/components/src/tsconfig.json
Labels: validated, Author: Core Team, components
