Repository momentum-design/momentum-design, pull requests merged in 2024-12, with the labels that each got.

#975 docs: error handling convention
  packages/components/conventions/component-error-handling.md
Labels: validated, Author: Core Team, components

#977 fix: Color token updates - LUI
  packages/assets/tokens/src/$themes.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#965 docs: convention-no-relative-workspace-imports
  packages/components/conventions/no-relative-imports-workspace.md
Labels: validated, Author: Core Team, components

#981 feat: bullet component
  packages/components/src/components/bullet/__screenshots__/chrome/mdc-bullet-sizes-high-contrast.png
  packages/components/src/components/bullet/__screenshots__/chrome/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/chrome/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/firefox/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/firefox/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/mobile-chrome/mdc-bullet-sizes-high-contrast.png
  packages/components/src/components/bullet/__screenshots__/mobile-chrome/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/mobile-chrome/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/mobile-safari/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/mobile-safari/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/msedge/mdc-bullet-sizes-high-contrast.png
  packages/components/src/components/bullet/__screenshots__/msedge/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/msedge/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/tablet-chrome/mdc-bullet-sizes-high-contrast.png
  packages/components/src/components/bullet/__screenshots__/tablet-chrome/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/tablet-chrome/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/tablet-safari/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/tablet-safari/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/webkit/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/webkit/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/bullet.component.ts
  packages/components/src/components/bullet/bullet.constants.ts
  packages/components/src/components/bullet/bullet.e2e-test.ts
  packages/components/src/components/bullet/bullet.stories.ts
  packages/components/src/components/bullet/bullet.styles.ts
  packages/components/src/components/bullet/bullet.types.ts
  packages/components/src/components/bullet/index.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#982 fix: add icon data-name
  packages/components/src/components/icon/icon.e2e-test.ts
  packages/components/src/components/icon/icon.utils.ts
Labels: validated, Author: Core Team, components

#984 fix: increase timeout of playwright from 30 to 35ms
  packages/components/config/playwright/docker/playwright.docker.config.ts
  packages/components/config/playwright/playwright.config.ts
Labels: validated, Author: Core Team, components

#985 fix: added part to icon css
  packages/components/src/components/icon/icon.styles.ts
  packages/components/src/components/icon/icon.utils.ts
Labels: validated, Author: Core Team, components

#991 feat: various logo and background updates
  packages/assets/brand-visuals/config/momentum.json
  packages/assets/brand-visuals/src/backgrounds/operation-pop-background-light.png
  packages/assets/brand-visuals/src/logos/social-whatsapp-bw.svg
  packages/assets/brand-visuals/src/logos/webex-app-icon-record-container.svg
  packages/assets/brand-visuals/src/logos/webex-suite-tiles-light-assist.svg
  packages/assets/brand-visuals/src/logos/webex-suite-tiles-light-bot.svg
  packages/assets/brand-visuals/src/logos/webex-suite-tiles-light-campaign.svg
  packages/assets/brand-visuals/src/logos/webex-suite-tiles-light-engage.svg
  packages/assets/brand-visuals/src/logos/webex-suite-wordmark-dark-ai-agent-studio.svg
  packages/assets/brand-visuals/src/logos/webex-suite-wordmark-dark-bot-builder.svg
  packages/assets/brand-visuals/src/logos/webex-suite-wordmark-light-ai-agent-studio.svg
  packages/assets/brand-visuals/src/logos/webex-suite-wordmark-light-bot-builder.svg
  packages/tools/builder/src/assets/builder/builder.ts
  packages/tools/builder/src/assets/builder/file-handler.ts
  packages/tools/builder/src/assets/builder/flow.ts
  packages/tools/builder/src/assets/builder/types.ts
  packages/tools/figma-plugins/assets-export/config/figma-plugin-settings-default.json
Labels: validated, brand-visuals, tools

#987 docs: refactored conventions & added new
  packages/components/config/plop/templates/add/component/{{componentName}}.stories.ts.hbs
  packages/components/conventions/README.md
  packages/components/conventions/component-color-tokens.md
  packages/components/conventions/component-css-rem-unit.md
  packages/components/conventions/component-storybook.md
  packages/components/conventions/component-styles-variables.md
  packages/components/conventions/component-styling.md
  packages/components/conventions/pixel-perfect-values.md
  packages/components/src/components/avatar/avatar.stories.ts
  packages/components/src/components/badge/badge.stories.ts
  packages/components/src/components/bullet/bullet.stories.ts
  packages/components/src/components/button/button.stories.ts
  packages/components/src/components/icon/icon.stories.ts
  packages/components/src/components/iconprovider/iconprovider.stories.ts
  packages/components/src/components/presence/presence.stories.ts
  packages/components/src/components/text/text.stories.ts
  packages/components/src/components/themeprovider/themeprovider.stories.ts
  packages/components/src/stories/FocusRing/subcomponent-focusring.stories.ts
Labels: validated, Author: Core Team, components

#986 feat: theme token update (12/10/2024)
  packages/assets/tokens/src/$themes.json
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#992 docs: consumption guide styling
  packages/components/src/Consumption.mdx
Labels: validated, Author: Core Team, components

#993 chore: add update-snapshot cmd to run on a specific browser
  packages/components/TESTING.md
  packages/components/package.json
Labels: validated, Author: Core Team, components

#995 fix: conditionally create row wrapper
  packages/components/config/playwright/setup/utils/Stickersheet.ts
  packages/components/src/components/bullet/__screenshots__/chrome/mdc-bullet-sizes-high-contrast.png
  packages/components/src/components/bullet/__screenshots__/chrome/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/chrome/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/firefox/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/firefox/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/mobile-chrome/mdc-bullet-sizes-high-contrast.png
  packages/components/src/components/bullet/__screenshots__/mobile-chrome/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/mobile-chrome/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/mobile-safari/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/mobile-safari/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/msedge/mdc-bullet-sizes-high-contrast.png
  packages/components/src/components/bullet/__screenshots__/msedge/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/msedge/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/tablet-chrome/mdc-bullet-sizes-high-contrast.png
  packages/components/src/components/bullet/__screenshots__/tablet-chrome/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/tablet-chrome/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/tablet-safari/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/tablet-safari/mdc-bullet-sizes-rtl.png
  packages/components/src/components/bullet/__screenshots__/webkit/mdc-bullet-sizes-ltr.png
  packages/components/src/components/bullet/__screenshots__/webkit/mdc-bullet-sizes-rtl.png
  packages/components/src/components/text/text.e2e-test.ts
Labels: validated, Author: Core Team, components

#972 chore: avatar component and storybook
  packages/components/src/components/avatar/avatar.component.ts
  packages/components/src/components/avatar/avatar.constants.ts
  packages/components/src/components/avatar/avatar.stories.ts
  packages/components/src/components/avatar/avatar.styles.ts
  packages/components/src/components/avatar/avatar.types.ts
  packages/components/src/components/avatar/avatar.utils.ts
  packages/components/src/components/avatar/index.ts
Labels: validated, Author: Core Team, components

#996 chore: add avatar e2e specs for visual regression
  packages/components/src/components/avatar/__screenshots__/chrome/mdc-avatar-high-contrast.png
  packages/components/src/components/avatar/__screenshots__/chrome/mdc-avatar-ltr.png
  packages/components/src/components/avatar/__screenshots__/chrome/mdc-avatar-rtl.png
  packages/components/src/components/avatar/__screenshots__/firefox/mdc-avatar-ltr.png
  packages/components/src/components/avatar/__screenshots__/firefox/mdc-avatar-rtl.png
  packages/components/src/components/avatar/__screenshots__/mobile-chrome/mdc-avatar-high-contrast.png
  packages/components/src/components/avatar/__screenshots__/mobile-chrome/mdc-avatar-ltr.png
  packages/components/src/components/avatar/__screenshots__/mobile-chrome/mdc-avatar-rtl.png
  packages/components/src/components/avatar/__screenshots__/mobile-safari/mdc-avatar-ltr.png
  packages/components/src/components/avatar/__screenshots__/mobile-safari/mdc-avatar-rtl.png
  packages/components/src/components/avatar/__screenshots__/msedge/mdc-avatar-high-contrast.png
  packages/components/src/components/avatar/__screenshots__/msedge/mdc-avatar-ltr.png
  packages/components/src/components/avatar/__screenshots__/msedge/mdc-avatar-rtl.png
  packages/components/src/components/avatar/__screenshots__/tablet-chrome/mdc-avatar-high-contrast.png
  packages/components/src/components/avatar/__screenshots__/tablet-chrome/mdc-avatar-ltr.png
  packages/components/src/components/avatar/__screenshots__/tablet-chrome/mdc-avatar-rtl.png
  packages/components/src/components/avatar/__screenshots__/tablet-safari/mdc-avatar-ltr.png
  packages/components/src/components/avatar/__screenshots__/tablet-safari/mdc-avatar-rtl.png
  packages/components/src/components/avatar/__screenshots__/webkit/mdc-avatar-ltr.png
  packages/components/src/components/avatar/__screenshots__/webkit/mdc-avatar-rtl.png
  packages/components/src/components/avatar/avatar.component.ts
  packages/components/src/components/avatar/avatar.e2e-test.ts
  packages/components/src/components/avatar/avatar.styles.ts
Labels: validated, Author: Core Team, components

#978 docs: Implement Divider Component
  packages/components/config/storybook/utils.ts
  packages/components/src/components/divider/divider.component.ts
  packages/components/src/components/divider/divider.constants.ts
  packages/components/src/components/divider/divider.e2e-test.ts
  packages/components/src/components/divider/divider.stories.ts
  packages/components/src/components/divider/divider.styles.ts
  packages/components/src/components/divider/divider.types.ts
  packages/components/src/components/divider/index.ts
Labels: validated, Author: Core Team, components

#997 feat: publish button component
  packages/components/src/components/button/button.stories.ts
Labels: validated, Author: Core Team, components

#998 feat: complete and release avatar component
  packages/components/src/components/avatar/avatar.stories.ts
Labels: validated, Author: Core Team, components

#1001 fix: release avatar component
  packages/components/src/components/avatar/avatar.stories.ts
Labels: validated, Author: Core Team, components

#1002 test: Added E2E tests for Divider component
  packages/components/config/playwright/setup/utils/Stickersheet.ts
  packages/components/src/components/divider/__screenshots__/chrome/mdc-divider-horizontal-high-contrast.png
  packages/components/src/components/divider/__screenshots__/chrome/mdc-divider-horizontal-ltr.png
  packages/components/src/components/divider/__screenshots__/chrome/mdc-divider-horizontal-rtl.png
  packages/components/src/components/divider/__screenshots__/chrome/mdc-divider-vertical-high-contrast.png
  packages/components/src/components/divider/__screenshots__/chrome/mdc-divider-vertical-ltr.png
  packages/components/src/components/divider/__screenshots__/chrome/mdc-divider-vertical-rtl.png
  packages/components/src/components/divider/__screenshots__/firefox/mdc-divider-horizontal-ltr.png
  packages/components/src/components/divider/__screenshots__/firefox/mdc-divider-horizontal-rtl.png
  packages/components/src/components/divider/__screenshots__/firefox/mdc-divider-vertical-ltr.png
  packages/components/src/components/divider/__screenshots__/firefox/mdc-divider-vertical-rtl.png
  packages/components/src/components/divider/__screenshots__/mobile-chrome/mdc-divider-horizontal-high-contrast.png
  packages/components/src/components/divider/__screenshots__/mobile-chrome/mdc-divider-horizontal-ltr.png
  packages/components/src/components/divider/__screenshots__/mobile-chrome/mdc-divider-horizontal-rtl.png
  packages/components/src/components/divider/__screenshots__/mobile-chrome/mdc-divider-vertical-high-contrast.png
  packages/components/src/components/divider/__screenshots__/mobile-chrome/mdc-divider-vertical-ltr.png
  packages/components/src/components/divider/__screenshots__/mobile-chrome/mdc-divider-vertical-rtl.png
  packages/components/src/components/divider/__screenshots__/mobile-safari/mdc-divider-horizontal-ltr.png
  packages/components/src/components/divider/__screenshots__/mobile-safari/mdc-divider-horizontal-rtl.png
  packages/components/src/components/divider/__screenshots__/mobile-safari/mdc-divider-vertical-ltr.png
  packages/components/src/components/divider/__screenshots__/mobile-safari/mdc-divider-vertical-rtl.png
  packages/components/src/components/divider/__screenshots__/msedge/mdc-divider-horizontal-high-contrast.png
  packages/components/src/components/divider/__screenshots__/msedge/mdc-divider-horizontal-ltr.png
  packages/components/src/components/divider/__screenshots__/msedge/mdc-divider-horizontal-rtl.png
  packages/components/src/components/divider/__screenshots__/msedge/mdc-divider-vertical-high-contrast.png
  packages/components/src/components/divider/__screenshots__/msedge/mdc-divider-vertical-ltr.png
  packages/components/src/components/divider/__screenshots__/msedge/mdc-divider-vertical-rtl.png
  packages/components/src/components/divider/__screenshots__/tablet-chrome/mdc-divider-horizontal-high-contrast.png
  packages/components/src/components/divider/__screenshots__/tablet-chrome/mdc-divider-horizontal-ltr.png
  packages/components/src/components/divider/__screenshots__/tablet-chrome/mdc-divider-horizontal-rtl.png
  packages/components/src/components/divider/__screenshots__/tablet-chrome/mdc-divider-vertical-high-contrast.png
  packages/components/src/components/divider/__screenshots__/tablet-chrome/mdc-divider-vertical-ltr.png
  packages/components/src/components/divider/__screenshots__/tablet-chrome/mdc-divider-vertical-rtl.png
  packages/components/src/components/divider/__screenshots__/tablet-safari/mdc-divider-horizontal-ltr.png
  packages/components/src/components/divider/__screenshots__/tablet-safari/mdc-divider-horizontal-rtl.png
  packages/components/src/components/divider/__screenshots__/tablet-safari/mdc-divider-vertical-ltr.png
  packages/components/src/components/divider/__screenshots__/tablet-safari/mdc-divider-vertical-rtl.png
  packages/components/src/components/divider/__screenshots__/webkit/mdc-divider-horizontal-ltr.png
  packages/components/src/components/divider/__screenshots__/webkit/mdc-divider-horizontal-rtl.png
  packages/components/src/components/divider/__screenshots__/webkit/mdc-divider-vertical-ltr.png
  packages/components/src/components/divider/__screenshots__/webkit/mdc-divider-vertical-rtl.png
  packages/components/src/components/divider/divider.component.ts
  packages/components/src/components/divider/divider.e2e-test.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1000 refactor: cleanup stickersheet, update existing tests
  packages/components/config/playwright/setup/utils/Stickersheet.ts
  packages/components/src/components/avatar/avatar.e2e-test.ts
  packages/components/src/components/bullet/bullet.e2e-test.ts
  packages/components/src/components/presence/presence.e2e-test.ts
  packages/components/src/components/text/text.e2e-test.ts
Labels: validated, Author: Core Team, components

#976 docs: Implement Marker component
  packages/components/src/components/marker/__screenshots__/chrome/mdc-marker-variants-high-contrast.png
  packages/components/src/components/marker/__screenshots__/chrome/mdc-marker-variants-ltr.png
  packages/components/src/components/marker/__screenshots__/chrome/mdc-marker-variants-rtl.png
  packages/components/src/components/marker/__screenshots__/firefox/mdc-marker-variants-ltr.png
  packages/components/src/components/marker/__screenshots__/firefox/mdc-marker-variants-rtl.png
  packages/components/src/components/marker/__screenshots__/mobile-chrome/mdc-marker-variants-high-contrast.png
  packages/components/src/components/marker/__screenshots__/mobile-chrome/mdc-marker-variants-ltr.png
  packages/components/src/components/marker/__screenshots__/mobile-chrome/mdc-marker-variants-rtl.png
  packages/components/src/components/marker/__screenshots__/mobile-safari/mdc-marker-variants-ltr.png
  packages/components/src/components/marker/__screenshots__/mobile-safari/mdc-marker-variants-rtl.png
  packages/components/src/components/marker/__screenshots__/msedge/mdc-marker-variants-high-contrast.png
  packages/components/src/components/marker/__screenshots__/msedge/mdc-marker-variants-ltr.png
  packages/components/src/components/marker/__screenshots__/msedge/mdc-marker-variants-rtl.png
  packages/components/src/components/marker/__screenshots__/tablet-chrome/mdc-marker-variants-high-contrast.png
  packages/components/src/components/marker/__screenshots__/tablet-chrome/mdc-marker-variants-ltr.png
  packages/components/src/components/marker/__screenshots__/tablet-chrome/mdc-marker-variants-rtl.png
  packages/components/src/components/marker/__screenshots__/tablet-safari/mdc-marker-variants-ltr.png
  packages/components/src/components/marker/__screenshots__/tablet-safari/mdc-marker-variants-rtl.png
  packages/components/src/components/marker/__screenshots__/webkit/mdc-marker-variants-ltr.png
  packages/components/src/components/marker/__screenshots__/webkit/mdc-marker-variants-rtl.png
  packages/components/src/components/marker/index.ts
  packages/components/src/components/marker/marker.component.ts
  packages/components/src/components/marker/marker.constants.ts
  packages/components/src/components/marker/marker.e2e-test.ts
  packages/components/src/components/marker/marker.stories.ts
  packages/components/src/components/marker/marker.styles.ts
  packages/components/src/components/marker/marker.types.ts
  packages/components/src/index.ts
Labels: validated, components

#1004 feat: release decorator component
  packages/components/src/components/bullet/bullet.stories.ts
  packages/components/src/components/divider/divider.stories.ts
  packages/components/src/components/marker/marker.stories.ts
Labels: validated, Author: Core Team, components

#1003 fix: theme token update (12/19/2024)
  packages/assets/tokens/src/theme/stable/dark.json
Labels: validated, tokens
