Repository momentum-design/momentum-design, pull requests merged in 2024-11, with the labels that each got.

#930 fix: color token update
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#934 build: do not process png as svg
  packages/assets/brand-visuals/config/momentum.json
Labels: validated, Author: Core Team, brand-visuals

#918 docs: created a set of convention documentations
  CONTRIBUTING.md
  packages/components/conventions/clean-code-guidelines.md
  packages/components/conventions/component-code-structure.md
  packages/components/conventions/component-color-tokens.md
  packages/components/conventions/component-css-rem-unit.md
  packages/components/conventions/component-import.md
  packages/components/conventions/constants-and-enums.md
  packages/components/conventions/typescript-type-only-imports.md
Labels: validated, Author: Core Team, components

#929 feat: Various icon updates, multiple deprecated icons
  packages/assets/icons/src/brand/social-mms-colored-gold.svg
  packages/assets/icons/src/brand/social-mms.svg
  packages/assets/icons/src/brand/social-sms-colored-mint.svg
  packages/assets/icons/src/brand/social-sms-outgoing.svg
  packages/assets/icons/src/brand/social-sms.svg
  packages/assets/icons/src/core/archive-filled.svg
  packages/assets/icons/src/core/audio-options-bold.svg
  packages/assets/icons/src/core/audio-options-filled.svg
  packages/assets/icons/src/core/audio-options-light.svg
  packages/assets/icons/src/core/audio-options-regular.svg
  packages/assets/icons/src/core/headset-alert-bold.svg
  packages/assets/icons/src/core/pen-bold.svg
  packages/assets/icons/src/core/pen-filled.svg
  packages/assets/icons/src/core/pen-light.svg
  packages/assets/icons/src/core/pen-regular.svg
  packages/assets/icons/src/core/record-active-badge-filled.svg
  packages/assets/icons/src/core/record-paused-badge-filled.svg
  packages/assets/icons/src/core/redial-bold.svg
  packages/assets/icons/src/core/redial-light.svg
  packages/assets/icons/src/core/redial-regular.svg
  packages/assets/icons/src/core/trending-bold.svg
  packages/assets/icons/src/core/trending-down-bold.svg
  packages/assets/icons/src/core/trending-down-filled.svg
  packages/assets/icons/src/core/trending-down-light.svg
  packages/assets/icons/src/core/trending-down-regular.svg
  packages/assets/icons/src/core/trending-filled.svg
  packages/assets/icons/src/core/view-list-filled.svg
Labels: validated, icons

#926 chore: update constants in text component
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/text/text.component.ts
  packages/components/src/components/text/text.constants.ts
  packages/components/src/components/text/text.e2e-test.ts
  packages/components/src/components/text/text.stories.ts
  packages/components/src/components/text/text.types.ts
Labels: validated, Author: Core Team, components

#925 chore: add storybook for badge component
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/badge/badge.stories.ts
  packages/components/src/components/badge/badge.styles.ts
Labels: validated, Author: Core Team, components

#933 fix: support gradient tokens in ios-webex output
  packages/tools/token-builder/src/formats/ios-webex/handlebars-helpers.ts
Labels: validated, tools

#936 fix: Token name change
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#937 feat: Various Icon Updates
  packages/assets/icons/src/core/accessibility-bold.svg
  packages/assets/icons/src/core/accessibility-regular.svg
  packages/assets/icons/src/core/adjust-bold.svg
  packages/assets/icons/src/core/adjust-filled.svg
  packages/assets/icons/src/core/adjust-horizontal-bold.svg
  packages/assets/icons/src/core/adjust-horizontal-filled.svg
  packages/assets/icons/src/core/adjust-horizontal-light.svg
  packages/assets/icons/src/core/adjust-horizontal-regular.svg
  packages/assets/icons/src/core/adjust-light.svg
  packages/assets/icons/src/core/adjust-regular.svg
  packages/assets/icons/src/core/annotate-bold.svg
  packages/assets/icons/src/core/annotate-light.svg
  packages/assets/icons/src/core/four-way-navigation-bold.svg
  packages/assets/icons/src/core/four-way-navigation-regular.svg
  packages/assets/icons/src/core/three-d-object-light.svg
  packages/assets/icons/src/core/three-d-object-regular.svg
  packages/assets/icons/src/core/translate-undo-bold.svg
  packages/assets/icons/src/core/translate-undo-light.svg
  packages/assets/icons/src/core/translate-undo-regular.svg
  packages/assets/icons/src/core/vpn-bold.svg
  packages/assets/icons/src/core/vpn-filled.svg
  packages/assets/icons/src/core/vpn-light.svg
  packages/assets/icons/src/core/vpn-regular.svg
Labels: validated, icons

#931 test(badge): e2e test for badge
  packages/components/src/components/badge/__screenshots__/chrome/mdc-badge-counter.png
  packages/components/src/components/badge/__screenshots__/chrome/mdc-badge-default.png
  packages/components/src/components/badge/__screenshots__/chrome/mdc-badge-error-overlay.png
  packages/components/src/components/badge/__screenshots__/chrome/mdc-badge-icon.png
  packages/components/src/components/badge/__screenshots__/chrome/mdc-badge-success.png
  packages/components/src/components/badge/__screenshots__/chrome/mdc-badge-warning.png
  packages/components/src/components/badge/__screenshots__/chrome/mdc-badge.png
  packages/components/src/components/badge/__screenshots__/firefox/mdc-badge-counter.png
  packages/components/src/components/badge/__screenshots__/firefox/mdc-badge-default.png
  packages/components/src/components/badge/__screenshots__/firefox/mdc-badge-error-overlay.png
  packages/components/src/components/badge/__screenshots__/firefox/mdc-badge-icon.png
  packages/components/src/components/badge/__screenshots__/firefox/mdc-badge-success.png
  packages/components/src/components/badge/__screenshots__/firefox/mdc-badge-warning.png
  packages/components/src/components/badge/__screenshots__/firefox/mdc-badge.png
  packages/components/src/components/badge/__screenshots__/msedge/mdc-badge-counter.png
  packages/components/src/components/badge/__screenshots__/msedge/mdc-badge-default.png
  packages/components/src/components/badge/__screenshots__/msedge/mdc-badge-error-overlay.png
  packages/components/src/components/badge/__screenshots__/msedge/mdc-badge-icon.png
  packages/components/src/components/badge/__screenshots__/msedge/mdc-badge-success.png
  packages/components/src/components/badge/__screenshots__/msedge/mdc-badge-warning.png
  packages/components/src/components/badge/__screenshots__/msedge/mdc-badge.png
  packages/components/src/components/badge/__screenshots__/webkit/mdc-badge-counter.png
  packages/components/src/components/badge/__screenshots__/webkit/mdc-badge-default.png
  packages/components/src/components/badge/__screenshots__/webkit/mdc-badge-error-overlay.png
  packages/components/src/components/badge/__screenshots__/webkit/mdc-badge-icon.png
  packages/components/src/components/badge/__screenshots__/webkit/mdc-badge-success.png
  packages/components/src/components/badge/__screenshots__/webkit/mdc-badge-warning.png
  packages/components/src/components/badge/__screenshots__/webkit/mdc-badge.png
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/badge/badge.constants.ts
  packages/components/src/components/badge/badge.e2e-test.ts
  packages/components/src/components/icon/__screenshots__/chrome/mdc-icon-default.png
  packages/components/src/components/icon/__screenshots__/msedge/mdc-icon-default.png
Labels: validated, Author: Core Team, components

#935 feat(badge): release badge component
  packages/components/src/components/badge/badge.stories.ts
Labels: validated, Author: Core Team, components

#921 test: add e2e and visual regression tests
  packages/components/config/esbuild/esbuild-e2e.config.js
  packages/components/config/playwright/public/index.html
  packages/components/src/stories/FocusRing/__screenshots__/chrome/focus-ring-appearance-button.png
  packages/components/src/stories/FocusRing/__screenshots__/chrome/focus-ring-appearance-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/chrome/focus-ring-appearance-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/chrome/focus-ring-disappearance-button.png
  packages/components/src/stories/FocusRing/__screenshots__/chrome/focus-ring-disappearance-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/chrome/focus-ring-disappearance-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/chrome/focus-ring-rapid-interaction-button.png
  packages/components/src/stories/FocusRing/__screenshots__/chrome/focus-ring-rapid-interaction-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/chrome/focus-ring-rapid-interaction-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/firefox/focus-ring-appearance-button.png
  packages/components/src/stories/FocusRing/__screenshots__/firefox/focus-ring-appearance-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/firefox/focus-ring-appearance-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/firefox/focus-ring-disappearance-button.png
  packages/components/src/stories/FocusRing/__screenshots__/firefox/focus-ring-disappearance-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/firefox/focus-ring-disappearance-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/firefox/focus-ring-rapid-interaction-button.png
  packages/components/src/stories/FocusRing/__screenshots__/firefox/focus-ring-rapid-interaction-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/firefox/focus-ring-rapid-interaction-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/msedge/focus-ring-appearance-button.png
  packages/components/src/stories/FocusRing/__screenshots__/msedge/focus-ring-appearance-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/msedge/focus-ring-appearance-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/msedge/focus-ring-disappearance-button.png
  packages/components/src/stories/FocusRing/__screenshots__/msedge/focus-ring-disappearance-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/msedge/focus-ring-disappearance-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/msedge/focus-ring-rapid-interaction-button.png
  packages/components/src/stories/FocusRing/__screenshots__/msedge/focus-ring-rapid-interaction-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/msedge/focus-ring-rapid-interaction-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/webkit/focus-ring-appearance-button.png
  packages/components/src/stories/FocusRing/__screenshots__/webkit/focus-ring-appearance-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/webkit/focus-ring-appearance-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/webkit/focus-ring-disappearance-button.png
  packages/components/src/stories/FocusRing/__screenshots__/webkit/focus-ring-disappearance-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/webkit/focus-ring-disappearance-radio.png
  packages/components/src/stories/FocusRing/__screenshots__/webkit/focus-ring-rapid-interaction-button.png
  packages/components/src/stories/FocusRing/__screenshots__/webkit/focus-ring-rapid-interaction-checkbox.png
  packages/components/src/stories/FocusRing/__screenshots__/webkit/focus-ring-rapid-interaction-radio.png
  packages/components/src/stories/FocusRing/subcomponent-focusring.e2e-test.ts
  packages/components/src/stories/FocusRing/subcomponent-focusring.e2e-test.utils.ts
  packages/components/src/utils/styles/index.ts
Labels: validated, Author: Core Team, components

#939 style(presence): styling for presence commponent
  packages/components/src/components/presence/index.ts
  packages/components/src/components/presence/presence.component.ts
  packages/components/src/components/presence/presence.constants.ts
  packages/components/src/components/presence/presence.styles.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#942 feat: Various icon updates
  packages/assets/icons/src/core/brightness-auto-bold.svg
  packages/assets/icons/src/core/brightness-auto-light.svg
  packages/assets/icons/src/core/brightness-auto-regular.svg
  packages/assets/icons/src/core/brightness-bold.svg
  packages/assets/icons/src/core/brightness-high-bold.svg
  packages/assets/icons/src/core/brightness-high-light.svg
  packages/assets/icons/src/core/brightness-high-regular.svg
  packages/assets/icons/src/core/brightness-light.svg
  packages/assets/icons/src/core/brightness-low-bold.svg
  packages/assets/icons/src/core/brightness-low-light.svg
  packages/assets/icons/src/core/brightness-low-regular.svg
  packages/assets/icons/src/core/brightness-regular.svg
  packages/assets/icons/src/core/priority-wave-bold.svg
  packages/assets/icons/src/core/priority-wave-light.svg
  packages/assets/icons/src/core/priority-wave-regular.svg
  packages/assets/icons/src/core/smart-audio-bold.svg
  packages/assets/icons/src/core/smart-audio-light.svg
  packages/assets/icons/src/core/smart-audio-regular.svg
Labels: validated, icons

#940 test(presence): added e2e testing for presence component
  packages/components/config/playwright/public/index.css
  packages/components/src/components/presence/__screenshots__/chrome/mdc-presence.png
  packages/components/src/components/presence/__screenshots__/firefox/mdc-presence.png
  packages/components/src/components/presence/__screenshots__/msedge/mdc-presence.png
  packages/components/src/components/presence/__screenshots__/webkit/mdc-presence.png
  packages/components/src/components/presence/presence.component.ts
  packages/components/src/components/presence/presence.e2e-test.ts
Labels: validated, Author: Core Team, components

#941 fix: add presence component story
  packages/components/src/components/presence/presence.stories.ts
Labels: validated, Author: Core Team, components

#945 fix: Design token updates
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#947 fix: minor changes to plop script
  packages/components/config/plop/templates/add/component/{{componentName}}.component.ts.hbs
  packages/components/config/plop/templates/add/component/{{componentName}}.stories.ts.hbs
Labels: validated, Author: Core Team, components

#949 feat: publish Presence component
  packages/components/src/components/presence/presence.stories.ts
Labels: validated, Author: Core Team, components

#946 docs: pixel perfect values convention
  packages/components/conventions/pixel-perfect-values.md
Labels: validated, Author: Core Team, components

#950 chore: update strings with consts in prescence component
  packages/components/src/components/presence/presence.component.ts
Labels: validated, Author: Core Team, components

#951 fix: add defaults in tsdoc
  packages/components/conventions/component-tsdoc.md
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/badge/badge.stories.ts
  packages/components/src/components/iconprovider/iconprovider.component.ts
  packages/components/src/components/iconprovider/iconprovider.constants.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.ts
  packages/components/src/components/presence/presence.component.ts
  packages/components/src/components/text/text.component.ts
  packages/components/src/tsdoc.json
Labels: validated, Author: Core Team, components

#954 fix: add rtl addon in storybook
  packages/components/config/storybook/main.js
  packages/components/config/storybook/preview.js
  packages/components/package.json
  yarn.lock
Labels: validated, Author: Core Team, components

#953 docs: add typography button in astro docs
  packages/documentation/src/components/TokenCard/TokenCardWrapper.astro
  packages/documentation/src/pages/en/tokens/[tokenType].astro
Labels: validated, Author: Core Team, docs

#952 fix: Updated artwork of translate-undo icon
  packages/assets/icons/src/core/translate-undo-light.svg
  packages/assets/icons/src/core/translate-undo-regular.svg
Labels: validated, icons

#955 fix: constant types as const
  packages/components/src/components/avatar/avatar.constants.ts
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/badge/badge.constants.ts
  packages/components/src/components/badge/badge.e2e-test.ts
  packages/components/src/components/badge/badge.types.ts
  packages/components/src/components/icon/icon.constants.ts
  packages/components/src/components/iconprovider/iconprovider.constants.ts
  packages/components/src/components/presence/presence.component.ts
  packages/components/src/components/presence/presence.constants.ts
  packages/components/src/components/presence/presence.e2e-test.ts
  packages/components/src/components/presence/presence.types.ts
  packages/components/src/components/text/text.component.ts
  packages/components/src/components/text/text.constants.ts
  packages/components/src/components/text/text.types.ts
  packages/components/src/components/themeprovider/themeprovider.constants.ts
Labels: validated, Author: Core Team, components

#958 fix: storybook setup for new components
  packages/components/config/plop/templates/add/component/{{componentName}}.e2e-test.ts.hbs
  packages/components/config/plop/templates/add/component/{{componentName}}.stories.ts.hbs
  packages/components/config/storybook/preview.js
Labels: validated, Author: Core Team, components

#961 feat: New icons + icon updates
  packages/assets/icons/src/core/camera-aux-bold.svg
  packages/assets/icons/src/core/camera-aux-light.svg
  packages/assets/icons/src/core/camera-aux-regular.svg
  packages/assets/icons/src/core/handset-down-slash-bold.svg
  packages/assets/icons/src/core/handset-down-slash-filled.svg
  packages/assets/icons/src/core/handset-down-slash-light.svg
  packages/assets/icons/src/core/handset-down-slash-regular.svg
  packages/assets/icons/src/core/handsets-arrow-left-bold.svg
  packages/assets/icons/src/core/handsets-arrow-left-light.svg
  packages/assets/icons/src/core/handsets-arrow-left-regular.svg
  packages/assets/icons/src/core/headset-arrow-down-bold.svg
  packages/assets/icons/src/core/headset-arrow-down-filled.svg
  packages/assets/icons/src/core/headset-arrow-down-light.svg
  packages/assets/icons/src/core/headset-arrow-down-regular.svg
  packages/assets/icons/src/core/inbox-bold.svg
  packages/assets/icons/src/core/inbox-filled.svg
  packages/assets/icons/src/core/inbox-light.svg
  packages/assets/icons/src/core/inbox-regular.svg
  packages/assets/icons/src/core/mute-on-entry-bold.svg
  packages/assets/icons/src/core/mute-on-entry-regular.svg
  packages/assets/icons/src/core/whiteboard-content-bold.svg
  packages/assets/icons/src/core/whiteboard-content-filled.svg
  packages/assets/icons/src/core/whiteboard-content-light.svg
  packages/assets/icons/src/core/whiteboard-content-regular.svg
Labels: validated, icons

#959 fix: update text component styling
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-tag-small.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-tag-span.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-tag-small.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-tag-span.png
  packages/components/src/components/text/fonts.styles.ts
Labels: validated, Author: Core Team, components

#963 fix: move peer dependencies out of components pkg
  packages/components/package.json
  yarn.lock
Labels: validated, Author: Core Team, components

#962 feat(icon): using type names from icon package
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/badge/badge.e2e-test.ts
  packages/components/src/components/icon/icon.component.ts
  packages/components/src/components/icon/icon.e2e-test.ts
Labels: validated, Author: Core Team, components

#966 fix: 'filled' variant of whiteboard-content icon updated
  packages/assets/icons/src/core/whiteboard-content-filled.svg
Labels: validated, icons

#970 fix: update docs in presence story
  packages/components/src/components/presence/presence.component.ts
Labels: validated, Author: Core Team, components

#969 fix: handle hight contrast issues
  packages/components/src/components/badge/badge.styles.ts
  packages/components/src/utils/styles/index.ts
Labels: validated, Author: Core Team, components

#948 docs: button component along with storybook and documentation
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/button/button.constants.ts
  packages/components/src/components/button/button.e2e-test.ts
  packages/components/src/components/button/button.stories.ts
  packages/components/src/components/button/button.styles.ts
  packages/components/src/components/button/button.types.ts
  packages/components/src/components/button/button.utils.ts
  packages/components/src/components/button/index.ts
  packages/components/src/index.ts
  packages/components/src/utils/styles/index.ts
Labels: validated, Author: Core Team, components
