Repository momentum-design/momentum-design, pull requests merged in 2024-09, with the labels that each got.

#802 fix(components): components prepublish
  packages/components/package.json
  packages/components/scripts/prepareForPublish.js
  packages/tools/token-builder/package.json
Labels: validated

#805 fix(fonts): remove deprecated Cisco Sans font
  packages/assets/fonts/src/ciscosans/CiscoSansTT-Medium.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTT-Medium.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTT-MediumOblique.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTT-MediumOblique.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTBold.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTBold.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTBoldOblique.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTBoldOblique.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTCondBold.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTCondBold.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTCondRegular.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTCondRegular.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTExtraLight.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTExtraLight.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTExtraLightOblique.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTExtraLightOblique.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTHeavy.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTHeavy.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTHeavyOblique.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTHeavyOblique.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTLight.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTLight.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTLightOblique.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTLightOblique.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTRegular.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTRegular.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTRegularOblique.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTRegularOblique.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTThin.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTThin.woff2
  packages/assets/fonts/src/ciscosans/CiscoSansTTThinOblique.woff
  packages/assets/fonts/src/ciscosans/CiscoSansTTThinOblique.woff2
Labels: validated

#808 Highcontrast Token (09/04/2024) - core token
  packages/assets/tokens/src/core/value.json
Labels: validated

#806 feat: remove devDependencies and scripts before publishing components package to npm
  packages/components/scripts/prepareForPublish.js
Labels: validated

#809 New icon added
  packages/assets/icons/src/core/qr-code-scan-bold.svg
  packages/assets/icons/src/core/qr-code-scan-light.svg
  packages/assets/icons/src/core/qr-code-scan-regular.svg
Labels: validated

#798 feat: add unit tests for High contrast tokens
  packages/assets/tokens/package.json
  packages/assets/tokens/src/core/mappingTable.js
  packages/assets/tokens/src/core/value.test.ts
  yarn.lock
Labels: validated

#803 feat(specs): unit specs for automation package commands
  packages/tools/automation/src/commands/create-release/create-release.unit.test.ts
  packages/tools/automation/src/commands/get-packages/get-packages.unit.test.ts
  packages/tools/automation/src/commands/increment-packages/constants.ts
  packages/tools/automation/src/commands/increment-packages/increment-packages.ts
  packages/tools/automation/src/commands/increment-packages/increment-packages.unit.test.ts
  packages/tools/automation/src/commands/increment-packages/types.ts
  packages/tools/automation/src/models/fixtures/packages.fixture.ts
Labels: validated

#810 fix: plop package generator
  config/plop/actions/AddWorkspacePackage.ts
  config/plop/constants/index.ts
  config/plop/generators/workspace/index.ts
Labels: validated

#812 ci: first iteration mergeable
  .github/mergeable.yml
Labels: validated

#813 ci: mergeable-config-empty-validate
  .github/mergeable.yml
Labels: validated

#814 ci: mergeable label typo
  .github/mergeable.yml
Labels: validated

#816 ci: mergeable-more-changes
  .github/mergeable.yml
Labels: validated, Core Team

#817 fix: mergeable-invalid-yaml
  .github/mergeable.yml
Labels: validated

#818 fix: mergeable-regex
  .github/mergeable.yml
Labels: validated, Author: Core Team

#811 feat: create utils package under assets
  package.json
  packages/assets/utils/.eslintrc.cjs
  packages/assets/utils/CONTRIBUTING.md
  packages/assets/utils/LICENSE.md
  packages/assets/utils/README.md
  packages/assets/utils/SCRIPTS.md
  packages/assets/utils/config/api-extractor.json
  packages/assets/utils/esbuild.config.js
  packages/assets/utils/jest.config.js
  packages/assets/utils/package.json
  packages/assets/utils/src/common/constants.ts
  packages/assets/utils/src/common/index.ts
  packages/assets/utils/src/common/types.ts
  packages/assets/utils/src/index.ts
  packages/assets/utils/src/utils.test.ts
  packages/assets/utils/tsconfig.json
  yarn.lock
Labels: validated

#825 fix(clean): add clean dist dir for utils package
  packages/assets/utils/package.json
Labels: validated, Author: Core Team

#807 fix: 09/04/2024 (Stable Token Update)
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated

#828 build: update package files field and update docs
  packages/assets/fonts/README.md
  packages/assets/fonts/package.json
Labels: validated, Author: Core Team

#824 chore: do not enforce yarn version in consuming projects
  .syncpackrc
  config/plop/templates/add/workspace/package.json.hbs
  package.json
  packages/assets/utils/package.json
  packages/components/package.json
  packages/documentation/package.json
  packages/tools/automation/package.json
  packages/tools/automation/src/models/fixtures/packages.fixture.ts
  packages/tools/builder/package.json
  packages/tools/common/package.json
  packages/tools/figma-plugins/assets-export/package.json
  packages/tools/telemetry/package.json
  packages/tools/token-builder/package.json
Labels: validated, Author: Core Team

#827 ci: added labels to mergeable
  .github/mergeable.yml
Labels: validated, Author: Core Team

#831 ci: fix mergeable events
  .github/mergeable.yml
Labels: validated

#832 ci: mergeable-fix-label-edited-event
  .github/mergeable.yml
Labels: validated

#833 ci: mergeable pipeline dont run on label change
  .github/mergeable.yml
  .github/workflows/pull-request.yml
Labels: validated, Author: Core Team

#836 ci: improve validated check
  .github/workflows/pull-request.yml
Labels: validated, Author: Core Team

#823 ci: show playwright report as artifact for github actions
  .github/workflows/pull-request.yml
  packages/components/config/playwright/playwright.config.ts
  packages/components/package.json
  yarn.lock
Labels: validated, Author: Core Team, components

#835 build: update components package.json exports
  packages/components/package.json
Labels: validated, Author: Core Team, components

#838 feat: Various icon updates
  packages/assets/icons/src/brand/alphalink-colored.svg
  packages/assets/icons/src/brand/social-googlebusinessmessages-colored.svg
  packages/assets/icons/src/brand/social-googlebusinessmessages.svg
  packages/assets/icons/src/brand/social-mms-colored-gold.svg
  packages/assets/icons/src/brand/social-sms-colored-mint.svg
  packages/assets/icons/src/brand/social-sms-outgoing.svg
  packages/assets/icons/src/brand/videotron-colored.svg
  packages/assets/icons/src/brand/videotron-horizontal.svg
  packages/assets/icons/src/core/bold-filled.svg
  packages/assets/icons/src/core/color-filled.svg
  packages/assets/icons/src/core/italic-filled.svg
  packages/assets/icons/src/core/strikethrough-filled.svg
  packages/assets/icons/src/core/text-highlight-filled.svg
  packages/assets/icons/src/core/underline-filled.svg
Labels: validated

#830 ci: make Visual Regression Testing work again
  packages/components/config/playwright/setup/constants.ts
  packages/components/src/components/avatar/avatar.e2e-test.ts
  packages/components/src/components/badge/badge.e2e-test.ts
  packages/components/src/components/icon/icon.e2e-test.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.ts
  packages/components/src/components/text/text.e2e-test.ts
  packages/components/src/components/themeprovider/themeprovider.e2e-test.ts
Labels: validated, Author: Core Team, components

#839 feat: Various logo updates
  packages/assets/brand-visuals/src/logos/alphalink-colored.svg
  packages/assets/brand-visuals/src/logos/alphalink.svg
  packages/assets/brand-visuals/src/logos/apple-business-chat-color.svg
  packages/assets/brand-visuals/src/logos/cisco-ai-assistant-bw.svg
  packages/assets/brand-visuals/src/logos/cisco-ai-assistant-color.svg
  packages/assets/brand-visuals/src/logos/google-meet-color.svg
  packages/assets/brand-visuals/src/logos/ms-teams-color.svg
  packages/assets/brand-visuals/src/logos/northland-horizontal.svg
  packages/assets/brand-visuals/src/logos/northland-mark.svg
  packages/assets/brand-visuals/src/logos/slido-color.svg
  packages/assets/brand-visuals/src/logos/social-alexa-bw.svg
  packages/assets/brand-visuals/src/logos/social-alexa-color.svg
  packages/assets/brand-visuals/src/logos/social-facebook-bw.svg
  packages/assets/brand-visuals/src/logos/social-facebook-color.svg
  packages/assets/brand-visuals/src/logos/social-fbmessenger-bw.svg
  packages/assets/brand-visuals/src/logos/social-fbmessenger-color.svg
  packages/assets/brand-visuals/src/logos/social-instagram.svg
  packages/assets/brand-visuals/src/logos/social-line-bw.svg
  packages/assets/brand-visuals/src/logos/social-line-color.svg
  packages/assets/brand-visuals/src/logos/social-microsoft-bw.svg
  packages/assets/brand-visuals/src/logos/social-microsoft-color.svg
  packages/assets/brand-visuals/src/logos/social-rcs-bw.svg
  packages/assets/brand-visuals/src/logos/social-rcs-color.svg
  packages/assets/brand-visuals/src/logos/social-telegram-bw.svg
  packages/assets/brand-visuals/src/logos/social-telegram-color.svg
  packages/assets/brand-visuals/src/logos/social-viber-bw.svg
  packages/assets/brand-visuals/src/logos/social-viber-color.svg
  packages/assets/brand-visuals/src/logos/social-wechat-bw.svg
  packages/assets/brand-visuals/src/logos/social-wechat-color.svg
  packages/assets/brand-visuals/src/logos/social-whatsapp-bw.svg
  packages/assets/brand-visuals/src/logos/social-whatsapp-color.svg
  packages/assets/brand-visuals/src/logos/social-x.svg
  packages/assets/brand-visuals/src/logos/swiftmatch-bw.svg
  packages/assets/brand-visuals/src/logos/swiftmatch-color.svg
  packages/assets/brand-visuals/src/logos/switchconnect-horizontal.svg
  packages/assets/brand-visuals/src/logos/switchconnect-mark.svg
  packages/assets/brand-visuals/src/logos/telus-horizontal.svg
  packages/assets/brand-visuals/src/logos/telus-mark.svg
  packages/assets/brand-visuals/src/logos/videotron-horizontal.svg
  packages/assets/brand-visuals/src/logos/videotron-mark.svg
  packages/assets/brand-visuals/src/logos/zoom-color.svg
Labels: validated, brand-visuals

#845 ci: mergeable change and add log pr.yml
  .github/mergeable.yml
  .github/workflows/pull-request.yml
Labels: Author: Core Team

#843 feat(types): add typescript transformer flow
  packages/assets/animations/config/momentum.json
  packages/assets/animations/config/templates/types.d.ts.hbs
  packages/assets/brand-visuals/config/momentum.json
  packages/assets/brand-visuals/config/templates/types.d.ts.hbs
  packages/assets/icons/config/momentum.json
  packages/assets/icons/config/templates/types.d.ts.hbs
  packages/assets/illustrations/config/momentum.json
  packages/assets/illustrations/config/templates/types.d.ts.hbs
  packages/tools/builder/src/assets/builder/constants.ts
  packages/tools/builder/src/assets/builder/transformer/factory.ts
  packages/tools/builder/src/assets/builder/transformer/types-transform.unit.test.ts
  packages/tools/builder/src/assets/builder/transformer/types-transformer.ts
  packages/tools/builder/src/assets/builder/types.ts
Labels: validated, Author: Core Team, icons, brand-visuals, animations, illustrations, tools

#849 ci: fix-mergeable-run-on-pr-review
  .github/mergeable.yml
Labels: validated, Author: Core Team

#846 docs: updated component readme
  packages/components/CONTRIBUTING.md
  packages/components/README.md
  packages/components/SCRIPTS.md
Labels: validated, components

#852 docs: updated READMEs across packages
  packages/assets/animations/CONTRIBUTING.md
  packages/assets/animations/README.md
  packages/assets/animations/SCRIPTS.md
  packages/assets/brand-visuals/CONTRIBUTING.md
  packages/assets/brand-visuals/README.md
  packages/assets/brand-visuals/SCRIPTS.md
  packages/assets/fonts/README.md
  packages/assets/icons/CONTRIBUTING.md
  packages/assets/icons/README.md
  packages/assets/icons/SCRIPTS.md
  packages/assets/illustrations/CONTRIBUTING.md
  packages/assets/illustrations/README.md
  packages/assets/illustrations/SCRIPTS.md
  packages/assets/tokens/README.md
  packages/assets/tokens/SCRIPTS.md
  packages/assets/utils/CONTRIBUTING.md
  packages/assets/utils/README.md
  packages/assets/utils/SCRIPTS.md
  packages/components/README.md
  packages/components/TESTING.md
Labels: validated, Author: Core Team, brand-visuals, animations, fonts

#851 fix: Various updates
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsevenfour.png
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsevenone.png
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsevenzero.png
  packages/assets/brand-visuals/src/images/device-dx sixfivezero.png
  packages/assets/brand-visuals/src/images/device-ip conference phone seveneightthreethree.png
  packages/assets/brand-visuals/src/logos/cisco-ai-assistant-bw-gradient.svg
  packages/assets/brand-visuals/src/logos/cisco-ai-assistant-color-gradient.svg
  packages/assets/brand-visuals/src/logos/google-meet-color.svg
  packages/assets/brand-visuals/src/logos/ms-teams-color.svg
Labels: validated, brand-visuals

#850 fix: plop script generator template to create new components
  packages/components/config/plop/actions/AddToComponentExports.ts
  packages/components/config/plop/actions/AddToComponentImports.ts
  packages/components/config/plop/templates/add/component/{{componentName}}.component.ts.hbs
  packages/components/config/plop/templates/add/component/{{componentName}}.fixtures.ts.hbs
  packages/components/config/plop/templates/add/component/{{componentName}}.stories.ts.hbs
Labels: validated, Author: Core Team, components

#853 docs: updated general readme
  CONSUMPTION.md
  README.md
Labels: validated, Author: Core Team

#848 fix: host storybook in astro docs
  .gitignore
  packages/assets/fonts/src/css/fonts.css
  packages/components/config/playwright/public/index.css
  packages/components/config/playwright/public/index.html
  packages/components/config/storybook/MomentumStorybookTheme.js
  packages/components/config/storybook/main.js
  packages/components/config/storybook/preview.js
  packages/components/config/storybook/provider/iconProvider.js
  packages/components/config/storybook/provider/themeProvider.js
  packages/components/config/storybook/public/background-graphic.png
  packages/components/config/storybook/public/momentum-logo.png
  packages/components/config/storybook/themes/themes.css
  packages/components/data/custom-elements.json
  packages/components/package.json
  packages/components/scripts/copyFonts.js
  packages/components/src/components/avatar/avatar.stories.ts
  packages/components/src/components/badge/badge.stories.ts
  packages/components/src/components/icon/icon.stories.ts
  packages/components/src/components/iconprovider/iconprovider.stories.ts
  packages/components/src/components/text/text.stories.ts
  packages/components/src/components/themeprovider/themeprovider.stories.ts
  packages/components/src/stories/colors.mdx
  packages/components/src/stories/icons.mdx
  packages/components/src/stories/typography.mdx
  packages/documentation/astro.config.mjs
  packages/documentation/src/components/Footer/Footer.astro
  packages/documentation/src/components/HeadCommon.astro
  packages/documentation/src/config.ts
  packages/documentation/src/layouts/ComponentsLayout.astro
  packages/documentation/src/pages/en/components/index.mdx
Labels: validated, Author: Core Team, components, docs, fonts

#854 build: fix warnings and build errors
  .gitignore
  packages/components/config/playwright/setup/constants.ts
  packages/components/config/storybook/public/fonts/Inter.var.woff2
  packages/components/package.json
  packages/components/src/components/iconprovider/iconprovider.context.ts
  packages/components/src/components/text/__screenshots__/mdc-text-heading-1.png
  packages/components/src/components/text/__screenshots__/mdc-text-heading-2.png
  packages/components/src/components/themeprovider/themeprovider.context.ts
  packages/components/src/models/provider/provider.component.ts
  packages/components/src/utils/provider/index.ts
  packages/tools/figma-plugins/assets-export/vite.config.ts
  packages/tools/telemetry/src/common/types.ts
  packages/tools/token-builder/tsconfig.json
  yarn.lock
Labels: validated, Author: Core Team, components, tools

#855 fix: components a11y testing & custom elements
  packages/components/.eslintrc.js
  packages/components/config/custom-elements-manifest-watch.config.js
  packages/components/config/custom-elements-manifest.config.js
  packages/components/config/playwright/playwright.config.ts
  packages/components/config/playwright/public/index.css
  packages/components/config/playwright/public/index.html
  packages/components/config/playwright/setup/Components.page.ts
  packages/components/config/playwright/setup/constants.ts
  packages/components/config/playwright/setup/steps/accessibility.ts
  packages/components/config/playwright/setup/utils/accessibility.ts
  packages/components/config/plop/templates/add/component/{{componentName}}.e2e-test.ts.hbs
  packages/components/config/storybook/preview.js
  packages/components/data/custom-elements.json
  packages/components/package.json
  packages/components/src/components/avatar/avatar.e2e-test.ts
  packages/components/src/components/badge/badge.e2e-test.ts
  packages/components/src/components/icon/icon.e2e-test.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.ts
  packages/components/src/components/text/text.e2e-test.ts
  packages/components/src/components/themeprovider/themeprovider.e2e-test.ts
  yarn.lock
Labels: validated, Author: Core Team, components
