Repository momentum-design/momentum-design, pull requests merged in 2025-01, with the labels that each got.

#1010 docs: conventions for components
  packages/components/conventions/component-import.md
  packages/components/conventions/data-attributes-on-host.md
Labels: validated, Author: Core Team, components

#1008 refactor: creating buttonsimple component and extending button using this component class
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/button/button.constants.ts
  packages/components/src/components/button/button.stories.ts
  packages/components/src/components/button/button.styles.ts
  packages/components/src/components/button/button.types.ts
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
  packages/components/src/components/buttonsimple/buttonsimple.constants.ts
  packages/components/src/components/buttonsimple/buttonsimple.e2e-test.ts
  packages/components/src/components/buttonsimple/buttonsimple.stories.ts
  packages/components/src/components/buttonsimple/buttonsimple.styles.ts
  packages/components/src/components/buttonsimple/buttonsimple.types.ts
  packages/components/src/components/buttonsimple/index.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1011 fix: typo mistakes are fixed
  packages/components/conventions/data-attributes-on-host.md
  packages/components/src/Consumption.mdx
Labels: validated, Author: Core Team, components

#1014 fix: updated documentation for button component
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
Labels: validated, Author: Core Team, components

#1009 refactor: avatarButton component created using AvatarMixin and Buttonsimple
  packages/components/config/custom-elements-manifest.config.js
  packages/components/src/components/avatar/avatar.component.ts
  packages/components/src/components/avatar/avatar.constants.ts
  packages/components/src/components/avatar/avatar.e2e-test.ts
  packages/components/src/components/avatar/avatar.stories.ts
  packages/components/src/components/avatar/avatar.styles.ts
  packages/components/src/components/avatar/avatar.types.ts
  packages/components/src/components/avatar/avatar.utils.ts
  packages/components/src/components/avatarbutton/avatarbutton.component.ts
  packages/components/src/components/avatarbutton/avatarbutton.constants.ts
  packages/components/src/components/avatarbutton/avatarbutton.e2e-test.ts
  packages/components/src/components/avatarbutton/avatarbutton.stories.ts
  packages/components/src/components/avatarbutton/avatarbutton.styles.ts
  packages/components/src/components/avatarbutton/index.ts
  packages/components/src/index.ts
  packages/components/src/utils/mixins/AvatarComponentMixin.ts
  packages/components/src/utils/mixins/DisabledMixin.ts
  packages/components/src/utils/mixins/TabIndexMixin.ts
  packages/components/src/utils/mixins/index.types.ts
Labels: validated, Author: Core Team, components

#1016 feat: release avatar button component
  packages/components/src/components/avatarbutton/avatarbutton.stories.ts
Labels: validated, Author: Core Team, components

#1015 refactor: add custom events for icon component
  packages/components/src/components/icon/icon.component.ts
Labels: validated, Author: Core Team, components

#1017 fix: add activeType to update the class only after the icon loads
  packages/components/src/components/presence/presence.component.ts
Labels: validated, components

#1018 refactor: plop script; using mixins on button
  packages/components/config/plop/templates/add/component/{{componentName}}.types.ts.hbs
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
  packages/components/src/utils/mixins/DisabledMixin.ts
  packages/components/src/utils/mixins/TabIndexMixin.ts
Labels: validated, Author: Core Team, components

#1022 chore: update focus ring styles for specific id
  packages/components/src/components/avatarbutton/avatarbutton.styles.ts
  packages/components/src/components/buttonsimple/buttonsimple.styles.ts
  packages/components/src/stories/FocusRing/subcomponent-focusring.styles.ts
  packages/components/src/utils/styles/index.ts
Labels: validated, Author: Core Team, components

#1019 refactor: added css variable to update size through classes
  packages/components/src/components/icon/icon.component.ts
  packages/components/src/components/icon/icon.e2e-test.ts
  packages/components/src/components/icon/icon.styles.ts
Labels: validated, components

#1028 chore: created mixin for label
  packages/components/src/utils/mixins/LabelMixin.ts
Labels: validated, Author: Core Team, components

#1029 docs: fix illustrations bg inverted
  packages/documentation/src/components/IllustrationTable/IllustrationTable.css
  packages/documentation/src/components/IllustrationTable/IllustrationTable.tsx
  packages/documentation/src/styles/theme.css
Labels: validated, Author: Core Team, docs

#1034 refactor: updated clean code docs to include unique generation of ids…
  packages/components/conventions/clean-code-guidelines.md
Labels: validated, Author: Core Team, components

#1033 fix: Theme token updates
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#1030 chore: internal helper and label component
  packages/components/package.json
  packages/components/src/components/labelandhelper/index.ts
  packages/components/src/components/labelandhelper/labelandhelper.component.ts
  packages/components/src/components/labelandhelper/labelandhelper.constants.ts
  packages/components/src/components/labelandhelper/labelandhelper.e2e-test.ts
  packages/components/src/components/labelandhelper/labelandhelper.stories.ts
  packages/components/src/components/labelandhelper/labelandhelper.styles.ts
  packages/components/src/components/labelandhelper/labelandhelper.types.ts
  packages/components/src/components/labelandhelper/labelandhelper.utils.ts
  packages/components/src/utils/mixins/LabelMixin.ts
  packages/components/src/utils/mixins/NameMixin.ts
  packages/components/src/utils/mixins/ReadonlyMixin.ts
  packages/components/src/utils/mixins/RequiredMixin.ts
  packages/components/src/utils/mixins/ValueMixin.ts
  yarn.lock
Labels: validated, Author: Core Team, components

#1035 ci: headings in releases
  .github/pull_request_template.md
  packages/tools/automation/src/commands/create-release/create-release.ts
  packages/tools/automation/src/commands/create-release/create-release.unit.test.ts
Labels: validated, Author: Core Team, tools

#1036 fix: text ellipsis inherit
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-ellipsis-high-contrast.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-ellipsis-ltr.png
  packages/components/src/components/text/__screenshots__/chrome/mdc-text-ellipsis-rtl.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-ellipsis-ltr.png
  packages/components/src/components/text/__screenshots__/firefox/mdc-text-ellipsis-rtl.png
  packages/components/src/components/text/__screenshots__/mobile-chrome/mdc-text-ellipsis-high-contrast.png
  packages/components/src/components/text/__screenshots__/mobile-chrome/mdc-text-ellipsis-ltr.png
  packages/components/src/components/text/__screenshots__/mobile-chrome/mdc-text-ellipsis-rtl.png
  packages/components/src/components/text/__screenshots__/mobile-safari/mdc-text-ellipsis-ltr.png
  packages/components/src/components/text/__screenshots__/mobile-safari/mdc-text-ellipsis-rtl.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-ellipsis-high-contrast.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-ellipsis-ltr.png
  packages/components/src/components/text/__screenshots__/msedge/mdc-text-ellipsis-rtl.png
  packages/components/src/components/text/__screenshots__/tablet-chrome/mdc-text-ellipsis-high-contrast.png
  packages/components/src/components/text/__screenshots__/tablet-chrome/mdc-text-ellipsis-ltr.png
  packages/components/src/components/text/__screenshots__/tablet-chrome/mdc-text-ellipsis-rtl.png
  packages/components/src/components/text/__screenshots__/tablet-safari/mdc-text-ellipsis-ltr.png
  packages/components/src/components/text/__screenshots__/tablet-safari/mdc-text-ellipsis-rtl.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-ellipsis-ltr.png
  packages/components/src/components/text/__screenshots__/webkit/mdc-text-ellipsis-rtl.png
  packages/components/src/components/text/fonts.styles.ts
  packages/components/src/components/text/text.e2e-test.ts
Labels: validated, Author: Core Team, components

#1037 fix: text-fixes-default-tagname
  packages/components/src/components/text/fonts.styles.ts
  packages/components/src/components/text/text.e2e-test.ts
  packages/components/src/components/text/text.stories.ts
Labels: validated, Author: Core Team, components

#1040 fix: custom timeout for mobile chrome device on text test cases
  packages/components/src/components/text/text.e2e-test.ts
Labels: validated, Author: Core Team, components

#1039 chore: renamed labelandhelper to formfieldwrapper
  packages/components/src/components/formfieldwrapper/formfieldwrapper.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.constants.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.e2e-test.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.stories.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.styles.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.types.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.utils.ts
  packages/components/src/components/formfieldwrapper/index.ts
  packages/components/src/components/labelandhelper/index.ts
Labels: validated, Author: Core Team, components

#1007 style: create modal container
  packages/components/config/storybook/provider/themeProvider.js
  packages/components/src/components/modalcontainer/__screenshots__/chrome/mdc-modalcontainer-high-contrast.png
  packages/components/src/components/modalcontainer/__screenshots__/chrome/mdc-modalcontainer-ltr.png
  packages/components/src/components/modalcontainer/__screenshots__/chrome/mdc-modalcontainer-rtl.png
  packages/components/src/components/modalcontainer/__screenshots__/firefox/mdc-modalcontainer-ltr.png
  packages/components/src/components/modalcontainer/__screenshots__/firefox/mdc-modalcontainer-rtl.png
  packages/components/src/components/modalcontainer/__screenshots__/mobile-chrome/mdc-modalcontainer-high-contrast.png
  packages/components/src/components/modalcontainer/__screenshots__/mobile-chrome/mdc-modalcontainer-ltr.png
  packages/components/src/components/modalcontainer/__screenshots__/mobile-chrome/mdc-modalcontainer-rtl.png
  packages/components/src/components/modalcontainer/__screenshots__/mobile-safari/mdc-modalcontainer-ltr.png
  packages/components/src/components/modalcontainer/__screenshots__/mobile-safari/mdc-modalcontainer-rtl.png
  packages/components/src/components/modalcontainer/__screenshots__/msedge/mdc-modalcontainer-high-contrast.png
  packages/components/src/components/modalcontainer/__screenshots__/msedge/mdc-modalcontainer-ltr.png
  packages/components/src/components/modalcontainer/__screenshots__/msedge/mdc-modalcontainer-rtl.png
  packages/components/src/components/modalcontainer/__screenshots__/tablet-chrome/mdc-modalcontainer-high-contrast.png
  packages/components/src/components/modalcontainer/__screenshots__/tablet-chrome/mdc-modalcontainer-ltr.png
  packages/components/src/components/modalcontainer/__screenshots__/tablet-chrome/mdc-modalcontainer-rtl.png
  packages/components/src/components/modalcontainer/__screenshots__/tablet-safari/mdc-modalcontainer-ltr.png
  packages/components/src/components/modalcontainer/__screenshots__/tablet-safari/mdc-modalcontainer-rtl.png
  packages/components/src/components/modalcontainer/__screenshots__/webkit/mdc-modalcontainer-ltr.png
  packages/components/src/components/modalcontainer/__screenshots__/webkit/mdc-modalcontainer-rtl.png
  packages/components/src/components/modalcontainer/index.ts
  packages/components/src/components/modalcontainer/modalcontainer.component.ts
  packages/components/src/components/modalcontainer/modalcontainer.constants.ts
  packages/components/src/components/modalcontainer/modalcontainer.e2e-test.ts
  packages/components/src/components/modalcontainer/modalcontainer.stories.ts
  packages/components/src/components/modalcontainer/modalcontainer.styles.ts
  packages/components/src/components/modalcontainer/modalcontainer.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1042 refactor: adding named slot for tooltip label info
  packages/components/src/components/formfieldwrapper/formfieldwrapper.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.constants.ts
Labels: validated, Author: Core Team, components

#1020 chore: Link component and storybook
  packages/components/config/storybook/utils.ts
  packages/components/src/components/link/index.ts
  packages/components/src/components/link/link.component.ts
  packages/components/src/components/link/link.constants.ts
  packages/components/src/components/link/link.stories.ts
  packages/components/src/components/link/link.styles.ts
  packages/components/src/components/link/link.types.ts
  packages/components/src/index.ts
  packages/components/src/utils/styles/index.ts
Labels: validated, components

#1046 fix: removing internal components from build bundle
  packages/components/config/esbuild/esbuild-e2e.config.js
  packages/components/config/playwright/public/index.html
  packages/components/src/components/avatarbutton/avatarbutton.component.ts
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.stories.ts
  packages/components/src/components/modalcontainer/modalcontainer.stories.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1050 fix: illustrations moving to separate folders
  packages/assets/illustrations/src/colored/to-be-removed-colored.md
  packages/assets/illustrations/src/core/to-be-removed.md
  packages/tools/figma-plugins/assets-export/config/figma-plugin-settings-default.json
Labels: validated, Author: Core Team, illustrations, tools

#1054 fix: figma-plugin-assets-export-settings-update
  packages/tools/figma-plugins/assets-export/config/figma-plugin-settings-default.json
Labels: validated, Author: Core Team

#1056 Fix: Effect Tokens
  packages/assets/tokens/src/core/effect.json
Labels: validated, tokens

#1055 test: Added E2E tests for Link component and added new actionability class + ui bug fixes
  packages/components/config/playwright/setup/Components.page.ts
  packages/components/config/playwright/setup/utils/actionability.ts
  packages/components/src/components/link/__screenshots__/chrome/mdc-link-high-contrast.png
  packages/components/src/components/link/__screenshots__/chrome/mdc-link-ltr.png
  packages/components/src/components/link/__screenshots__/chrome/mdc-link-rtl.png
  packages/components/src/components/link/__screenshots__/firefox/mdc-link-ltr.png
  packages/components/src/components/link/__screenshots__/firefox/mdc-link-rtl.png
  packages/components/src/components/link/__screenshots__/mobile-chrome/mdc-link-high-contrast.png
  packages/components/src/components/link/__screenshots__/mobile-chrome/mdc-link-ltr.png
  packages/components/src/components/link/__screenshots__/mobile-chrome/mdc-link-rtl.png
  packages/components/src/components/link/__screenshots__/mobile-safari/mdc-link-ltr.png
  packages/components/src/components/link/__screenshots__/mobile-safari/mdc-link-rtl.png
  packages/components/src/components/link/__screenshots__/msedge/mdc-link-high-contrast.png
  packages/components/src/components/link/__screenshots__/msedge/mdc-link-ltr.png
  packages/components/src/components/link/__screenshots__/msedge/mdc-link-rtl.png
  packages/components/src/components/link/__screenshots__/tablet-chrome/mdc-link-high-contrast.png
  packages/components/src/components/link/__screenshots__/tablet-chrome/mdc-link-ltr.png
  packages/components/src/components/link/__screenshots__/tablet-chrome/mdc-link-rtl.png
  packages/components/src/components/link/__screenshots__/tablet-safari/mdc-link-ltr.png
  packages/components/src/components/link/__screenshots__/tablet-safari/mdc-link-rtl.png
  packages/components/src/components/link/__screenshots__/webkit/mdc-link-ltr.png
  packages/components/src/components/link/__screenshots__/webkit/mdc-link-rtl.png
  packages/components/src/components/link/link.e2e-test.ts
  packages/components/src/components/link/link.stories.ts
  packages/components/src/components/link/link.styles.ts
  packages/components/src/stories/FocusRing/subcomponent-focusring.e2e-test.ts
Labels: validated, Author: Core Team, components

#1058 feat: release link component
  packages/components/src/components/link/link.stories.ts
Labels: validated, Author: Core Team, components

#1059 fix: storybook actions naming
  packages/components/src/components/avatarbutton/avatarbutton.stories.ts
  packages/components/src/components/button/button.stories.ts
  packages/components/src/components/buttonsimple/buttonsimple.stories.ts
  packages/components/src/components/link/link.stories.ts
Labels: validated, Author: Core Team, components

#1067 fix: figma plugin adding labels and updated config
  packages/tools/figma-plugins/assets-export/config/figma-plugin-settings-default.json
  packages/tools/figma-plugins/assets-export/src/shared/settings-constants.ts
  packages/tools/figma-plugins/assets-export/src/shared/types.ts
  packages/tools/figma-plugins/assets-export/src/ui/models/github.ts
Labels: validated, Author: Core Team, tools

#1060 fix: role of button on screen reader
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
Labels: validated, Author: Core Team, components

#1069 docs: updated brand visuals readme.md
  packages/assets/brand-visuals/README.md
Labels: validated, brand-visuals

#1074 fix: Various brand logo updates
  packages/assets/brand-visuals/src/logos/apple-business-chat-color.svg
  packages/assets/brand-visuals/src/logos/google-meet-color.svg
  packages/assets/brand-visuals/src/logos/ms-teams-color.svg
  packages/assets/brand-visuals/src/logos/social-alexa-bw.svg
  packages/assets/brand-visuals/src/logos/social-alexa-color.svg
  packages/assets/brand-visuals/src/logos/social-facebook-bw.svg
  packages/assets/brand-visuals/src/logos/social-facebook-color.svg
  packages/assets/brand-visuals/src/logos/social-fbmessenger-bw.svg
  packages/assets/brand-visuals/src/logos/social-fbmessenger-color.svg
  packages/assets/brand-visuals/src/logos/social-instagram.svg
  packages/assets/brand-visuals/src/logos/social-line-bw.svg
  packages/assets/brand-visuals/src/logos/social-line-color.svg
  packages/assets/brand-visuals/src/logos/social-microsoft-bw.svg
  packages/assets/brand-visuals/src/logos/social-microsoft-color.svg
  packages/assets/brand-visuals/src/logos/social-rcs-bw.svg
  packages/assets/brand-visuals/src/logos/social-rcs-color.svg
  packages/assets/brand-visuals/src/logos/social-telegram-bw.svg
  packages/assets/brand-visuals/src/logos/social-telegram-color.svg
  packages/assets/brand-visuals/src/logos/social-viber-bw.svg
  packages/assets/brand-visuals/src/logos/social-viber-color.svg
  packages/assets/brand-visuals/src/logos/social-wechat-bw.svg
  packages/assets/brand-visuals/src/logos/social-wechat-color.svg
  packages/assets/brand-visuals/src/logos/social-whatsapp-bw.svg
  packages/assets/brand-visuals/src/logos/social-whatsapp-color.svg
  packages/assets/brand-visuals/src/logos/social-x.svg
  packages/assets/brand-visuals/src/logos/swiftmatch-bw.svg
  packages/assets/brand-visuals/src/logos/swiftmatch-color.svg
  packages/assets/brand-visuals/src/logos/zoom-color.svg
Labels: validated, brand-visuals

#1075 refactor: update avatarbutton name on the index
  packages/components/src/components/avatarbutton/index.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components
