Repository momentum-design/momentum-design, pull requests merged in 2025-05, with the labels that each got.

#1256 fix: update listitem to select only active elements
  packages/components/src/components/list/__screenshots__/chrome/mdc-list-userflow-disabled-list-items.png
  packages/components/src/components/list/__screenshots__/chrome/mdc-list-userflow-focus-last-disabled-item.png
  packages/components/src/components/list/__screenshots__/firefox/mdc-list-userflow-disabled-list-items.png
  packages/components/src/components/list/__screenshots__/firefox/mdc-list-userflow-focus-last-disabled-item.png
  packages/components/src/components/list/__screenshots__/mobile-chrome/mdc-list-userflow-disabled-list-items.png
  packages/components/src/components/list/__screenshots__/mobile-chrome/mdc-list-userflow-focus-last-disabled-item.png
  packages/components/src/components/list/__screenshots__/mobile-safari/mdc-list-userflow-disabled-list-items.png
  packages/components/src/components/list/__screenshots__/mobile-safari/mdc-list-userflow-focus-last-disabled-item.png
  packages/components/src/components/list/__screenshots__/msedge/mdc-list-userflow-disabled-list-items.png
  packages/components/src/components/list/__screenshots__/msedge/mdc-list-userflow-focus-last-disabled-item.png
  packages/components/src/components/list/__screenshots__/tablet-chrome/mdc-list-userflow-disabled-list-items.png
  packages/components/src/components/list/__screenshots__/tablet-chrome/mdc-list-userflow-focus-last-disabled-item.png
  packages/components/src/components/list/__screenshots__/tablet-safari/mdc-list-userflow-disabled-list-items.png
  packages/components/src/components/list/__screenshots__/tablet-safari/mdc-list-userflow-focus-last-disabled-item.png
  packages/components/src/components/list/__screenshots__/webkit/mdc-list-userflow-disabled-list-items.png
  packages/components/src/components/list/__screenshots__/webkit/mdc-list-userflow-focus-last-disabled-item.png
  packages/components/src/components/list/list.component.ts
  packages/components/src/components/list/list.e2e-test.ts
Labels: validated, Author: Core Team, components

#1263 feat(assets): Adding IP Phone 6800s
  packages/assets/brand-visuals/src/images/device-ip phone sixeightfiveone.png
  packages/assets/brand-visuals/src/images/device-ip phone sixeightsevenone.png
  packages/assets/brand-visuals/src/images/device-ip phone sixeightsixone.png
  packages/assets/brand-visuals/src/images/device-ip phone sixeighttwoone.png
  packages/assets/brand-visuals/src/images/device-phoenix.svg
  packages/assets/brand-visuals/src/images/device-webex share ninesix with spark.svg
  packages/assets/brand-visuals/src/images/device-webex share with macbook.svg
  packages/assets/brand-visuals/src/images/device-webex share.svg
Labels: validated, brand-visuals

#1262 refactor: creating new util for shift tab
  packages/components/config/playwright/setup/utils/actionability.ts
  packages/components/src/components/optgroup/optgroup.e2e-test.ts
  packages/components/src/components/tablist/tablist.e2e-test.ts
Labels: validated, Author: Core Team, components

#1268 fix: typescript issues with mixins
  packages/components/src/utils/mixins/AvatarComponentMixin.ts
  packages/components/src/utils/mixins/ButtonComponentMixin.ts
  packages/components/src/utils/mixins/CardComponentMixin.ts
  packages/components/src/utils/mixins/DataAriaLabelMixin.ts
  packages/components/src/utils/mixins/DisabledMixin.ts
  packages/components/src/utils/mixins/FocusTrapMixin.ts
  packages/components/src/utils/mixins/FormInternalsMixin.ts
  packages/components/src/utils/mixins/IconNameMixin.ts
  packages/components/src/utils/mixins/TabIndexMixin.ts
Labels: validated, Author: Core Team, components

#1267 docs: github workflow for updating snapshots using docker
  .github/workflows/update-snapshots.yml
Labels: validated, Author: Core Team

#1258 perf: build menuitemcheckbox and menuitemradio components.
  packages/components/src/components/menuitem/menuitem.stories.ts
  packages/components/src/components/menuitemcheckbox/index.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.component.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.constants.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.e2e-test.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.stories.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.styles.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.types.ts
  packages/components/src/components/menuitemradio/index.ts
  packages/components/src/components/menuitemradio/menuitemradio.component.ts
  packages/components/src/components/menuitemradio/menuitemradio.constants.ts
  packages/components/src/components/menuitemradio/menuitemradio.e2e-test.ts
  packages/components/src/components/menuitemradio/menuitemradio.stories.ts
  packages/components/src/components/menuitemradio/menuitemradio.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1273 feat: Various edits
  packages/assets/icons/src/colored/laser-pointer-cursor-black-light.svg
  packages/assets/icons/src/colored/laser-pointer-cursor-blue-light.svg
  packages/assets/icons/src/colored/laser-pointer-cursor-green-light.svg
  packages/assets/icons/src/colored/laser-pointer-cursor-purple-light.svg
  packages/assets/icons/src/colored/laser-pointer-cursor-red-light.svg
  packages/assets/icons/src/colored/laser-pointer-cursor-white-light.svg
  packages/assets/icons/src/colored/laser-pointer-cursor-yellow-light.svg
  packages/assets/icons/src/core/certified-filled.svg
Labels: validated, icons

#1274 fix: add Mixin convention to avoid TypeScript issues
  packages/components/conventions/mixin-tsdoc-guidelines.md
Labels: validated, Author: Core Team, components

#1280 fix: minor change to the command
  packages/components/package.json
Labels: validated, Author: Core Team, components

#1286 refactor: rename animation assets
  packages/assets/animations/src/lottie/audio_video.json
  packages/assets/animations/src/lottie/cisco-ai-assistant/alert_32px_loop.json
  packages/assets/animations/src/lottie/cisco-ai-assistant/demo/hello-32px.html
  packages/assets/animations/src/lottie/cisco-ai-assistant/demo/processing-32px-end.html
  packages/assets/animations/src/lottie/cisco-ai-assistant/demo/processing-32px-loop.html
  packages/assets/animations/src/lottie/cisco-ai-assistant/demo/processing-32px-start.html
  packages/assets/animations/src/lottie/cisco-ai-assistant/demo/responding-32px-end.html
  packages/assets/animations/src/lottie/cisco-ai-assistant/demo/responding-32px-loop.html
  packages/assets/animations/src/lottie/cisco-ai-assistant/demo/responding-32px-start.html
  packages/assets/animations/src/lottie/cisco-ai-assistant/hello_32px.json
  packages/assets/animations/src/lottie/cisco-ai-assistant/processing_32px_end.json
  packages/assets/animations/src/lottie/cisco-ai-assistant/processing_32px_loop.json
  packages/assets/animations/src/lottie/cisco-ai-assistant/processing_32px_start.json
  packages/assets/animations/src/lottie/cisco-ai-assistant/responding_32px_end.json
  packages/assets/animations/src/lottie/cisco-ai-assistant/responding_32px_loop.json
  packages/assets/animations/src/lottie/cisco-ai-assistant/responding_32px_start.json
  packages/assets/animations/src/lottie/discoverability_badge.json
  packages/assets/animations/src/lottie/personal_insight.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_celebrate.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_clap_dark.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_clap_light.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_clap_medium.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_clap_medium_dark.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_clap_medium_light.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_clap_yellow.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_fire.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_haha.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_heart.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_prayer_dark.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_prayer_light.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_prayer_medium.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_prayer_medium_dark.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_prayer_medium_light.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_prayer_yellow.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_raise_hand_dark.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_raise_hand_light.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_raise_hand_medium.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_raise_hand_medium_dark.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_raise_hand_medium_light.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_raise_hand_yellow.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_sad.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_slow_down.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_smile.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_speed_up.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_down_dark.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_down_light.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_down_medium.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_down_medium_dark.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_down_medium_light.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_down_yellow.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_up_dark.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_up_light.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_up_medium.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_up_medium_dark.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_up_medium_light.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_thumb_up_yellow.json
  packages/assets/animations/src/lottie/reactions/on_video/on_video_wow.json
  packages/assets/animations/src/lottie/webex_logo_loop.json
Labels: validated, Author: Core Team, animations

#1282 fix: progressbar margin styles
  packages/components/src/components/progressbar/progressbar.styles.ts
Labels: validated, Author: Core Team, components

#1281 feat: various icon update
  packages/assets/icons/src/colored/laser-pointer-cursor-black-light.svg
  packages/assets/icons/src/core/bot-customer-assistant-filled.svg
  packages/assets/icons/src/core/chat-group-bold.svg
Labels: validated, icons

#1288 chore: hardcode length unit on mdc icon
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/buttonlink/buttonlink.component.ts
  packages/components/src/components/icon/icon.e2e-test.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.ts
  packages/components/src/components/iconprovider/iconprovider.stories.utils.ts
  packages/components/src/components/listitem/listitem.e2e-test.ts
  packages/components/src/components/listitem/listitem.stories.ts
  packages/components/src/components/menuitem/menuitem.stories.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.stories.ts
  packages/components/src/components/option/option.component.ts
Labels: validated, Author: Core Team, components

#1283 fix: styling for button on popover
  packages/components/src/components/coachmark/__screenshots__/chrome/mdc-coachmark-high-contrast.png
  packages/components/src/components/coachmark/__screenshots__/chrome/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/chrome/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/firefox/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/firefox/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/mobile-chrome/mdc-coachmark-high-contrast.png
  packages/components/src/components/coachmark/__screenshots__/mobile-chrome/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/mobile-chrome/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/mobile-safari/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/mobile-safari/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/msedge/mdc-coachmark-high-contrast.png
  packages/components/src/components/coachmark/__screenshots__/msedge/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/msedge/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/tablet-chrome/mdc-coachmark-high-contrast.png
  packages/components/src/components/coachmark/__screenshots__/tablet-chrome/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/tablet-chrome/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/tablet-safari/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/tablet-safari/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/webkit/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/webkit/mdc-coachmark-rtl.png
  packages/components/src/components/popover/popover.styles.ts
  packages/components/src/components/toggletip/__screenshots__/chrome/mdc-toggletip-high-contrast.png
  packages/components/src/components/toggletip/__screenshots__/chrome/mdc-toggletip-ltr.png
  packages/components/src/components/toggletip/__screenshots__/chrome/mdc-toggletip-rtl.png
  packages/components/src/components/toggletip/__screenshots__/firefox/mdc-toggletip-ltr.png
  packages/components/src/components/toggletip/__screenshots__/firefox/mdc-toggletip-rtl.png
  packages/components/src/components/toggletip/__screenshots__/mobile-chrome/mdc-toggletip-high-contrast.png
  packages/components/src/components/toggletip/__screenshots__/mobile-chrome/mdc-toggletip-ltr.png
  packages/components/src/components/toggletip/__screenshots__/mobile-chrome/mdc-toggletip-rtl.png
  packages/components/src/components/toggletip/__screenshots__/mobile-safari/mdc-toggletip-ltr.png
  packages/components/src/components/toggletip/__screenshots__/mobile-safari/mdc-toggletip-rtl.png
  packages/components/src/components/toggletip/__screenshots__/msedge/mdc-toggletip-high-contrast.png
  packages/components/src/components/toggletip/__screenshots__/msedge/mdc-toggletip-ltr.png
  packages/components/src/components/toggletip/__screenshots__/msedge/mdc-toggletip-rtl.png
  packages/components/src/components/toggletip/__screenshots__/tablet-chrome/mdc-toggletip-high-contrast.png
  packages/components/src/components/toggletip/__screenshots__/tablet-chrome/mdc-toggletip-ltr.png
  packages/components/src/components/toggletip/__screenshots__/tablet-chrome/mdc-toggletip-rtl.png
  packages/components/src/components/toggletip/__screenshots__/tablet-safari/mdc-toggletip-ltr.png
  packages/components/src/components/toggletip/__screenshots__/tablet-safari/mdc-toggletip-rtl.png
  packages/components/src/components/toggletip/__screenshots__/webkit/mdc-toggletip-ltr.png
  packages/components/src/components/toggletip/__screenshots__/webkit/mdc-toggletip-rtl.png
Labels: validated, Author: Core Team, components

#1289 fix: select icon option
  packages/components/src/components/select/__screenshots__/chrome/mdc-select-high-contrast.png
  packages/components/src/components/select/__screenshots__/chrome/mdc-select-ltr.png
  packages/components/src/components/select/__screenshots__/chrome/mdc-select-rtl.png
  packages/components/src/components/select/__screenshots__/firefox/mdc-select-ltr.png
  packages/components/src/components/select/__screenshots__/firefox/mdc-select-rtl.png
  packages/components/src/components/select/__screenshots__/mobile-chrome/mdc-select-high-contrast.png
  packages/components/src/components/select/__screenshots__/mobile-chrome/mdc-select-ltr.png
  packages/components/src/components/select/__screenshots__/mobile-chrome/mdc-select-rtl.png
  packages/components/src/components/select/__screenshots__/mobile-safari/mdc-select-ltr.png
  packages/components/src/components/select/__screenshots__/mobile-safari/mdc-select-rtl.png
  packages/components/src/components/select/__screenshots__/msedge/mdc-select-high-contrast.png
  packages/components/src/components/select/__screenshots__/msedge/mdc-select-ltr.png
  packages/components/src/components/select/__screenshots__/msedge/mdc-select-rtl.png
  packages/components/src/components/select/__screenshots__/tablet-chrome/mdc-select-high-contrast.png
  packages/components/src/components/select/__screenshots__/tablet-chrome/mdc-select-ltr.png
  packages/components/src/components/select/__screenshots__/tablet-chrome/mdc-select-rtl.png
  packages/components/src/components/select/__screenshots__/tablet-safari/mdc-select-ltr.png
  packages/components/src/components/select/__screenshots__/tablet-safari/mdc-select-rtl.png
  packages/components/src/components/select/__screenshots__/webkit/mdc-select-ltr.png
  packages/components/src/components/select/__screenshots__/webkit/mdc-select-rtl.png
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.e2e-test.ts
  packages/components/src/components/select/select.styles.ts
Labels: validated, Author: Core Team, components

#1291 feat: release card component
  packages/components/src/components/card/card.stories.ts
  packages/components/src/components/cardbutton/cardbutton.stories.ts
  packages/components/src/components/cardcheckbox/cardcheckbox.stories.ts
  packages/components/src/components/cardradio/cardradio.stories.ts
Labels: validated, Author: Core Team, components

#1284 fix: removed scroll into view
  packages/components/src/components/tablist/tablist.component.ts
  packages/components/src/components/tablist/tablist.e2e-test.ts
Labels: validated, Author: Core Team, components

#1292 fix: various icon updates
  packages/assets/icons/src/colored/laser-pointer-cursor-black-light.svg
  packages/assets/icons/src/core/certified-filled.svg
  packages/assets/icons/src/core/chat-group-bold.svg
Labels: validated, icons

#1293 feat(components): animation
  packages/components/config/esbuild/esbuild-e2e.config.js
  packages/components/package.json
  packages/components/scripts/copyAnimations.js
  packages/components/src/components/animation/__screenshots__/chrome/mdc-animation-high-contrast.png
  packages/components/src/components/animation/__screenshots__/chrome/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/chrome/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/firefox/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/firefox/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/mobile-chrome/mdc-animation-high-contrast.png
  packages/components/src/components/animation/__screenshots__/mobile-chrome/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/mobile-chrome/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/mobile-safari/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/mobile-safari/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/msedge/mdc-animation-high-contrast.png
  packages/components/src/components/animation/__screenshots__/msedge/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/msedge/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/tablet-chrome/mdc-animation-high-contrast.png
  packages/components/src/components/animation/__screenshots__/tablet-chrome/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/tablet-chrome/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/tablet-safari/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/tablet-safari/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/webkit/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/webkit/mdc-animation-rtl.png
  packages/components/src/components/animation/animation.component.ts
  packages/components/src/components/animation/animation.constants.ts
  packages/components/src/components/animation/animation.e2e-test.ts
  packages/components/src/components/animation/animation.stories.ts
  packages/components/src/components/animation/animation.styles.ts
  packages/components/src/components/animation/animation.types.ts
  packages/components/src/components/animation/index.ts
  packages/components/src/index.ts
  yarn.lock
Labels: validated, Author: Core Team, components

#1294 feat(components): add on load event to animation component
  packages/components/src/components/animation/animation.component.ts
  packages/components/src/components/animation/animation.types.ts
Labels: validated, Author: Core Team, components

#1276 fix: create menusection component
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.component.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.constants.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.stories.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.types.ts
  packages/components/src/components/menuitemradio/menuitemradio.component.ts
  packages/components/src/components/menuitemradio/menuitemradio.constants.ts
  packages/components/src/components/menuitemradio/menuitemradio.stories.ts
  packages/components/src/components/menuitemradio/menuitemradio.types.ts
  packages/components/src/components/menusection/index.ts
  packages/components/src/components/menusection/menusection.component.ts
  packages/components/src/components/menusection/menusection.constants.ts
  packages/components/src/components/menusection/menusection.e2e-test.ts
  packages/components/src/components/menusection/menusection.stories.ts
  packages/components/src/components/menusection/menusection.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1298 fix: resolve outside click event on popover
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.stories.ts
Labels: validated, Author: Core Team, components

#1299 fix(tools): add manifest module transformer to builder tool
  packages/tools/builder/src/assets/builder/constants.ts
  packages/tools/builder/src/assets/builder/transformer/factory.ts
  packages/tools/builder/src/assets/builder/transformer/manifest-js-transformer.ts
  packages/tools/builder/src/assets/builder/types.ts
Labels: validated, Author: Core Team, tools

#1300 fix(components): import animation manifest
  packages/assets/animations/config/momentum.json
  packages/components/src/components/animation/animation.component.ts
  packages/components/src/components/animation/animation.stories.ts
  packages/components/src/components/badge/badge.e2e-test.ts
Labels: validated, Author: Core Team, components, animations

#1302 fix(components): animations css display
  packages/components/scripts/copyAnimations.js
  packages/components/src/components/animation/__screenshots__/chrome/mdc-animation-high-contrast.png
  packages/components/src/components/animation/__screenshots__/chrome/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/chrome/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/firefox/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/firefox/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/mobile-chrome/mdc-animation-high-contrast.png
  packages/components/src/components/animation/__screenshots__/mobile-chrome/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/mobile-chrome/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/mobile-safari/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/mobile-safari/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/msedge/mdc-animation-high-contrast.png
  packages/components/src/components/animation/__screenshots__/msedge/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/msedge/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/tablet-chrome/mdc-animation-high-contrast.png
  packages/components/src/components/animation/__screenshots__/tablet-chrome/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/tablet-chrome/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/tablet-safari/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/tablet-safari/mdc-animation-rtl.png
  packages/components/src/components/animation/__screenshots__/webkit/mdc-animation-ltr.png
  packages/components/src/components/animation/__screenshots__/webkit/mdc-animation-rtl.png
  packages/components/src/components/animation/animation.e2e-test.ts
  packages/components/src/components/animation/animation.styles.ts
Labels: validated, Author: Core Team, components

#1301 chore: creating avatar button screenshots
  packages/components/src/components/avatarbutton/__screenshots__/chrome/mdc-avatarbutton-high-contrast.png
  packages/components/src/components/avatarbutton/__screenshots__/chrome/mdc-avatarbutton-ltr.png
  packages/components/src/components/avatarbutton/__screenshots__/chrome/mdc-avatarbutton-rtl.png
  packages/components/src/components/avatarbutton/__screenshots__/firefox/mdc-avatarbutton-ltr.png
  packages/components/src/components/avatarbutton/__screenshots__/firefox/mdc-avatarbutton-rtl.png
  packages/components/src/components/avatarbutton/__screenshots__/mobile-chrome/mdc-avatarbutton-high-contrast.png
  packages/components/src/components/avatarbutton/__screenshots__/mobile-chrome/mdc-avatarbutton-ltr.png
  packages/components/src/components/avatarbutton/__screenshots__/mobile-chrome/mdc-avatarbutton-rtl.png
  packages/components/src/components/avatarbutton/__screenshots__/mobile-safari/mdc-avatarbutton-ltr.png
  packages/components/src/components/avatarbutton/__screenshots__/mobile-safari/mdc-avatarbutton-rtl.png
  packages/components/src/components/avatarbutton/__screenshots__/msedge/mdc-avatarbutton-high-contrast.png
  packages/components/src/components/avatarbutton/__screenshots__/msedge/mdc-avatarbutton-ltr.png
  packages/components/src/components/avatarbutton/__screenshots__/msedge/mdc-avatarbutton-rtl.png
  packages/components/src/components/avatarbutton/__screenshots__/tablet-chrome/mdc-avatarbutton-high-contrast.png
  packages/components/src/components/avatarbutton/__screenshots__/tablet-chrome/mdc-avatarbutton-ltr.png
  packages/components/src/components/avatarbutton/__screenshots__/tablet-chrome/mdc-avatarbutton-rtl.png
  packages/components/src/components/avatarbutton/__screenshots__/tablet-safari/mdc-avatarbutton-ltr.png
  packages/components/src/components/avatarbutton/__screenshots__/tablet-safari/mdc-avatarbutton-rtl.png
  packages/components/src/components/avatarbutton/__screenshots__/webkit/mdc-avatarbutton-ltr.png
  packages/components/src/components/avatarbutton/__screenshots__/webkit/mdc-avatarbutton-rtl.png
  packages/components/src/components/avatarbutton/avatarbutton.e2e-test.ts
Labels: validated, Author: Core Team, components

#1304 feat(assets): Adding Generic Phone Image
  packages/assets/brand-visuals/src/images/device-generic mobile.svg
  packages/assets/brand-visuals/src/logos/webex-suite-wordmark-dark-user-hub.svg
  packages/assets/brand-visuals/src/logos/webex-suite-wordmark-light-user-hub.svg
Labels: validated, brand-visuals

#1308 fix(components): animation type imports
  packages/components/src/components/animation/animation.component.ts
  packages/components/src/components/animation/animation.stories.ts
Labels: validated, Author: Core Team, components

#1278 perf: build menu, menubar and menupopover components
  packages/components/src/components/listitem/listitem.component.ts
  packages/components/src/components/menu/index.ts
  packages/components/src/components/menu/menu.component.ts
  packages/components/src/components/menu/menu.constants.ts
  packages/components/src/components/menu/menu.e2e-test.ts
  packages/components/src/components/menu/menu.stories.ts
  packages/components/src/components/menubar/index.ts
  packages/components/src/components/menubar/menubar.component.ts
  packages/components/src/components/menubar/menubar.constants.ts
  packages/components/src/components/menubar/menubar.e2e-test.ts
  packages/components/src/components/menubar/menubar.stories.ts
  packages/components/src/components/menubar/menubar.styles.ts
  packages/components/src/components/menubar/menubar.types.ts
  packages/components/src/components/menuitem/index.ts
  packages/components/src/components/menuitem/menuitem.component.ts
  packages/components/src/components/menuitem/menuitem.constants.ts
  packages/components/src/components/menuitem/menuitem.stories.ts
  packages/components/src/components/menuitem/menuitem.styles.ts
  packages/components/src/components/menuitem/menuitem.types.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.stories.ts
  packages/components/src/components/menuitemradio/menuitemradio.stories.ts
  packages/components/src/components/menupopover/index.ts
  packages/components/src/components/menupopover/menupopover.component.ts
  packages/components/src/components/menupopover/menupopover.constants.ts
  packages/components/src/components/menupopover/menupopover.e2e-test.ts
  packages/components/src/components/menupopover/menupopover.stories.ts
  packages/components/src/components/menupopover/menupopover.styles.ts
  packages/components/src/components/menusection/menusection.component.ts
  packages/components/src/index.ts
  packages/components/src/utils/keys.ts
  packages/components/src/utils/mixins/MenuMixin.ts
Labels: validated, Author: Core Team, components

#1309 fix(components): animation manifest imports
  packages/components/src/components/animation/animation.component.ts
  packages/components/src/components/animation/animation.stories.ts
Labels: validated

#1307 feat: create and release buttongroup component
  packages/components/src/components/buttongroup/__screenshots__/chrome/mdc-buttongroup-high-contrast.png
  packages/components/src/components/buttongroup/__screenshots__/chrome/mdc-buttongroup-ltr.png
  packages/components/src/components/buttongroup/__screenshots__/chrome/mdc-buttongroup-rtl.png
  packages/components/src/components/buttongroup/__screenshots__/firefox/mdc-buttongroup-ltr.png
  packages/components/src/components/buttongroup/__screenshots__/firefox/mdc-buttongroup-rtl.png
  packages/components/src/components/buttongroup/__screenshots__/mobile-chrome/mdc-buttongroup-high-contrast.png
  packages/components/src/components/buttongroup/__screenshots__/mobile-chrome/mdc-buttongroup-ltr.png
  packages/components/src/components/buttongroup/__screenshots__/mobile-chrome/mdc-buttongroup-rtl.png
  packages/components/src/components/buttongroup/__screenshots__/mobile-safari/mdc-buttongroup-ltr.png
  packages/components/src/components/buttongroup/__screenshots__/mobile-safari/mdc-buttongroup-rtl.png
  packages/components/src/components/buttongroup/__screenshots__/msedge/mdc-buttongroup-high-contrast.png
  packages/components/src/components/buttongroup/__screenshots__/msedge/mdc-buttongroup-ltr.png
  packages/components/src/components/buttongroup/__screenshots__/msedge/mdc-buttongroup-rtl.png
  packages/components/src/components/buttongroup/__screenshots__/tablet-chrome/mdc-buttongroup-high-contrast.png
  packages/components/src/components/buttongroup/__screenshots__/tablet-chrome/mdc-buttongroup-ltr.png
  packages/components/src/components/buttongroup/__screenshots__/tablet-chrome/mdc-buttongroup-rtl.png
  packages/components/src/components/buttongroup/__screenshots__/tablet-safari/mdc-buttongroup-ltr.png
  packages/components/src/components/buttongroup/__screenshots__/tablet-safari/mdc-buttongroup-rtl.png
  packages/components/src/components/buttongroup/__screenshots__/webkit/mdc-buttongroup-ltr.png
  packages/components/src/components/buttongroup/__screenshots__/webkit/mdc-buttongroup-rtl.png
  packages/components/src/components/buttongroup/buttongroup.component.ts
  packages/components/src/components/buttongroup/buttongroup.constants.ts
  packages/components/src/components/buttongroup/buttongroup.e2e-test.ts
  packages/components/src/components/buttongroup/buttongroup.stories.ts
  packages/components/src/components/buttongroup/buttongroup.styles.ts
  packages/components/src/components/buttongroup/buttongroup.types.ts
  packages/components/src/components/buttongroup/index.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1312 fix(components): animation dynamic import
  packages/components/config/esbuild/esbuild-e2e.config.js
  packages/components/src/components/animation/animation.component.ts
Labels: validated, Author: Core Team, components

#1314 refactor: dialog component
  packages/components/src/components/dialog/__screenshots__/chrome/mdc-dialog-variant-promotional-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/chrome/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/chrome/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/firefox/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/firefox/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/mobile-chrome/mdc-dialog-variant-promotional-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/mobile-chrome/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/mobile-chrome/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/mobile-safari/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/mobile-safari/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/msedge/mdc-dialog-variant-promotional-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/msedge/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/msedge/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/tablet-chrome/mdc-dialog-variant-promotional-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/tablet-chrome/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/tablet-chrome/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/tablet-safari/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/tablet-safari/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/webkit/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/webkit/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/dialog.component.ts
  packages/components/src/components/dialog/dialog.e2e-test.ts
  packages/components/src/components/dialog/dialog.stories.ts
  packages/components/src/components/dialog/dialog.styles.ts
Labels: validated, Author: Core Team, components

#1318 fix: stop click propagation from controls within the listitem
  packages/components/src/components/listitem/listitem.component.ts
  packages/components/src/components/listitem/listitem.e2e-test.ts
  packages/components/src/components/menuitem/menuitem.component.ts
Labels: validated, Author: Core Team, components

#1323 chore: added keyboard interactions
  packages/components/src/components/listitem/listitem.e2e-test.ts
Labels: validated, Author: Core Team, components

#1327 refactor: chip orange color
  packages/components/src/components/chip/__screenshots__/chrome/mdc-chip-high-contrast.png
  packages/components/src/components/chip/__screenshots__/chrome/mdc-chip-ltr.png
  packages/components/src/components/chip/__screenshots__/chrome/mdc-chip-rtl.png
  packages/components/src/components/chip/__screenshots__/firefox/mdc-chip-ltr.png
  packages/components/src/components/chip/__screenshots__/firefox/mdc-chip-rtl.png
  packages/components/src/components/chip/__screenshots__/mobile-chrome/mdc-chip-high-contrast.png
  packages/components/src/components/chip/__screenshots__/mobile-chrome/mdc-chip-ltr.png
  packages/components/src/components/chip/__screenshots__/mobile-chrome/mdc-chip-rtl.png
  packages/components/src/components/chip/__screenshots__/mobile-safari/mdc-chip-ltr.png
  packages/components/src/components/chip/__screenshots__/mobile-safari/mdc-chip-rtl.png
  packages/components/src/components/chip/__screenshots__/msedge/mdc-chip-high-contrast.png
  packages/components/src/components/chip/__screenshots__/msedge/mdc-chip-ltr.png
  packages/components/src/components/chip/__screenshots__/msedge/mdc-chip-rtl.png
  packages/components/src/components/chip/__screenshots__/tablet-chrome/mdc-chip-high-contrast.png
  packages/components/src/components/chip/__screenshots__/tablet-chrome/mdc-chip-ltr.png
  packages/components/src/components/chip/__screenshots__/tablet-chrome/mdc-chip-rtl.png
  packages/components/src/components/chip/__screenshots__/tablet-safari/mdc-chip-ltr.png
  packages/components/src/components/chip/__screenshots__/tablet-safari/mdc-chip-rtl.png
  packages/components/src/components/chip/__screenshots__/webkit/mdc-chip-ltr.png
  packages/components/src/components/chip/__screenshots__/webkit/mdc-chip-rtl.png
  packages/components/src/components/chip/chip.component.ts
  packages/components/src/components/chip/chip.constants.ts
  packages/components/src/components/chip/chip.styles.ts
Labels: validated, Author: Core Team, components
