Repository momentum-design/momentum-design, pull requests merged in 2025-06, with the labels that each got.

#1329 feat: Various icon updates
  packages/assets/icons/src/core/boolean-bold.svg
  packages/assets/icons/src/core/boolean-filled.svg
  packages/assets/icons/src/core/boolean-light.svg
  packages/assets/icons/src/core/boolean-regular.svg
  packages/assets/icons/src/core/brightness-auto-bold.svg
  packages/assets/icons/src/core/brightness-auto-filled.svg
  packages/assets/icons/src/core/brightness-auto-light.svg
  packages/assets/icons/src/core/brightness-auto-regular.svg
  packages/assets/icons/src/core/brightness-bold.svg
  packages/assets/icons/src/core/brightness-filled.svg
  packages/assets/icons/src/core/brightness-high-bold.svg
  packages/assets/icons/src/core/brightness-high-filled.svg
  packages/assets/icons/src/core/brightness-high-light.svg
  packages/assets/icons/src/core/brightness-high-regular.svg
  packages/assets/icons/src/core/brightness-light.svg
  packages/assets/icons/src/core/brightness-low-bold.svg
  packages/assets/icons/src/core/brightness-low-filled.svg
  packages/assets/icons/src/core/brightness-low-light.svg
  packages/assets/icons/src/core/brightness-low-regular.svg
  packages/assets/icons/src/core/brightness-regular.svg
  packages/assets/icons/src/core/camera-aux-bold.svg
  packages/assets/icons/src/core/camera-aux-light.svg
  packages/assets/icons/src/core/camera-aux-regular.svg
  packages/assets/icons/src/core/headset-bluetooth-bold.svg
  packages/assets/icons/src/core/headset-bluetooth-light.svg
  packages/assets/icons/src/core/headset-bluetooth-regular.svg
  packages/assets/icons/src/core/integer-bold.svg
  packages/assets/icons/src/core/integer-filled.svg
  packages/assets/icons/src/core/integer-light.svg
  packages/assets/icons/src/core/integer-regular.svg
  packages/assets/icons/src/core/mute-on-entry-bold.svg
  packages/assets/icons/src/core/mute-on-entry-regular.svg
  packages/assets/icons/src/core/parenthesis-bold.svg
  packages/assets/icons/src/core/parenthesis-filled.svg
  packages/assets/icons/src/core/parenthesis-light.svg
  packages/assets/icons/src/core/parenthesis-regular.svg
  packages/assets/icons/src/core/webex-helix-bold.svg
  packages/assets/icons/src/core/webex-helix-light.svg
  packages/assets/icons/src/core/webex-helix-regular.svg
Labels: validated, icons

#1331 fix: button autofocus mixin
  packages/components/src/components/button/button.stories.ts
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
  packages/components/src/components/buttonsimple/buttonsimple.e2e-test.ts
  packages/components/src/components/toggletip/toggletip.e2e-test.ts
  packages/components/src/utils/mixins/AutoFocusMixin.ts
Labels: validated, Author: Core Team, components

#1332 feat(assets): Added and updated images.
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsevenfour.png
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsevenzero.png
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsixsix.svg
  packages/assets/brand-visuals/src/images/device-deskphone nineeightfiveone.png
  packages/assets/brand-visuals/src/images/device-deskphone nineeightfourone.png
  packages/assets/brand-visuals/src/images/device-deskphone nineeightsevenone.png
  packages/assets/brand-visuals/src/images/device-deskphone nineeightsixone.png
  packages/assets/brand-visuals/src/images/device-dx sixfivezero.png
  packages/assets/brand-visuals/src/images/device-ip conference phone seveneightthreethree.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfiveone plus multiple screen.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfiveone plus screen.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfiveone.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfourfive.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfourone.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightoneone.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightsixfive w/ screen.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightsixfive.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightsixone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneightfourone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneightoneone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneightsixone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneighttwoone.png
  packages/assets/brand-visuals/src/images/device-telepresence mxeightzerozero speakertrack.svg
Labels: validated, brand-visuals

#1333 feat(assets): Updated Icons
  packages/assets/icons/src/core/brightness-auto-bold.svg
  packages/assets/icons/src/core/brightness-auto-filled.svg
  packages/assets/icons/src/core/brightness-auto-light.svg
  packages/assets/icons/src/core/brightness-auto-regular.svg
  packages/assets/icons/src/core/brightness-bold.svg
  packages/assets/icons/src/core/brightness-filled.svg
  packages/assets/icons/src/core/brightness-high-bold.svg
  packages/assets/icons/src/core/brightness-high-filled.svg
  packages/assets/icons/src/core/brightness-high-light.svg
  packages/assets/icons/src/core/brightness-high-regular.svg
  packages/assets/icons/src/core/brightness-light.svg
  packages/assets/icons/src/core/brightness-low-bold.svg
  packages/assets/icons/src/core/brightness-low-filled.svg
  packages/assets/icons/src/core/brightness-low-light.svg
  packages/assets/icons/src/core/brightness-low-regular.svg
  packages/assets/icons/src/core/brightness-regular.svg
Labels: validated, icons

#1334 feat(animations): add webex-logo-loop.svg
  packages/assets/animations/CONTRIBUTING.md
  packages/assets/animations/README.md
  packages/assets/animations/config/momentum.json
  packages/assets/animations/src/svg/webex-logo-loop.svg
Labels: validated, Author: Core Team, animations

#1320 refactor: replaced slot with tooltip info icon
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/checkbox/checkbox.stories.ts
  packages/components/src/components/checkbox/index.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.component.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.stories.ts
  packages/components/src/components/formfieldgroup/index.ts
  packages/components/src/components/formfieldwrapper/__screenshots__/chrome/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/chrome/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/chrome/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/firefox/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/firefox/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-chrome/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-chrome/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-chrome/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-safari/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-safari/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/msedge/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/msedge/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/msedge/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-chrome/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-chrome/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-chrome/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-safari/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-safari/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/webkit/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/webkit/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/formfieldwrapper.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.constants.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.e2e-test.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.stories.ts
  packages/components/src/components/formfieldwrapper/index.ts
  packages/components/src/components/input/index.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/input/input.constants.ts
  packages/components/src/components/input/input.stories.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/progressbar/progressbar.component.ts
  packages/components/src/components/progressbar/progressbar.stories.ts
  packages/components/src/components/progressspinner/progressspinner.stories.ts
  packages/components/src/components/radio/index.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/radio/radio.stories.ts
  packages/components/src/components/select/index.ts
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.stories.ts
  packages/components/src/components/textarea/index.ts
  packages/components/src/components/textarea/textarea.component.ts
  packages/components/src/components/textarea/textarea.stories.ts
  packages/components/src/components/toggle/index.ts
  packages/components/src/components/toggle/toggle.component.ts
  packages/components/src/components/toggle/toggle.stories.ts
  packages/components/src/components/toggletip/toggletip.component.ts
  packages/components/src/components/toggletip/toggletip.e2e-test.ts
  packages/components/src/components/toggletip/toggletip.stories.ts
  packages/components/src/components/toggletip/toggletip.styles.ts
Labels: validated, Author: Core Team, components

#1197 chore: create SideNavigation and add storybook docs
  packages/components/src/components/list/list.component.ts
  packages/components/src/components/listitem/listitem.component.ts
  packages/components/src/components/menubar/menubar.stories.ts
  packages/components/src/components/menupopover/menupopover.component.ts
  packages/components/src/components/navitem/index.ts
  packages/components/src/components/navitem/navitem.component.ts
  packages/components/src/components/navitem/navitem.constants.ts
  packages/components/src/components/navitem/navitem.e2e-test.ts
  packages/components/src/components/navitem/navitem.stories.ts
  packages/components/src/components/navitem/navitem.styles.ts
  packages/components/src/components/navitem/navitem.types.ts
  packages/components/src/components/navitemlist/index.ts
  packages/components/src/components/navitemlist/navitemlist.component.ts
  packages/components/src/components/navitemlist/navitemlist.constants.ts
  packages/components/src/components/navitemlist/navitemlist.e2e-test.ts
  packages/components/src/components/navitemlist/navitemlist.stories.ts
  packages/components/src/components/navitemlist/navitemlist.styles.ts
  packages/components/src/components/sidenavigation/index.ts
  packages/components/src/components/sidenavigation/sidenavigation.component.ts
  packages/components/src/components/sidenavigation/sidenavigation.constants.ts
  packages/components/src/components/sidenavigation/sidenavigation.context.ts
  packages/components/src/components/sidenavigation/sidenavigation.e2e-test.ts
  packages/components/src/components/sidenavigation/sidenavigation.mdx
  packages/components/src/components/sidenavigation/sidenavigation.stories.ts
  packages/components/src/components/sidenavigation/sidenavigation.styles.ts
  packages/components/src/components/sidenavigation/sidenavigation.types.ts
  packages/components/src/index.ts
  packages/components/src/utils/mixins/MenuMixin.ts
  packages/components/src/utils/roles.ts
Labels: validated, Author: Core Team, components

#1340 feat: Skeleton Component
  .eslintrc.js
  .github/copilot-instructions.md
  .github/instructions/components.instructions.md
  packages/components/TESTING.md
  packages/components/conventions/height-and-width-as-styles.md
  packages/components/package.json
  packages/components/src/components/skeleton/__screenshots__/chrome/mdc-skeleton-variants-high-contrast.png
  packages/components/src/components/skeleton/__screenshots__/chrome/mdc-skeleton-variants-ltr.png
  packages/components/src/components/skeleton/__screenshots__/chrome/mdc-skeleton-variants-rtl.png
  packages/components/src/components/skeleton/__screenshots__/chrome/mdc-skeleton-with-content-high-contrast.png
  packages/components/src/components/skeleton/__screenshots__/chrome/mdc-skeleton-with-content-ltr.png
  packages/components/src/components/skeleton/__screenshots__/chrome/mdc-skeleton-with-content-rtl.png
  packages/components/src/components/skeleton/__screenshots__/firefox/mdc-skeleton-variants-ltr.png
  packages/components/src/components/skeleton/__screenshots__/firefox/mdc-skeleton-variants-rtl.png
  packages/components/src/components/skeleton/__screenshots__/firefox/mdc-skeleton-with-content-ltr.png
  packages/components/src/components/skeleton/__screenshots__/firefox/mdc-skeleton-with-content-rtl.png
  packages/components/src/components/skeleton/__screenshots__/mobile-chrome/mdc-skeleton-variants-high-contrast.png
  packages/components/src/components/skeleton/__screenshots__/mobile-chrome/mdc-skeleton-variants-ltr.png
  packages/components/src/components/skeleton/__screenshots__/mobile-chrome/mdc-skeleton-variants-rtl.png
  packages/components/src/components/skeleton/__screenshots__/mobile-chrome/mdc-skeleton-with-content-high-contrast.png
  packages/components/src/components/skeleton/__screenshots__/mobile-chrome/mdc-skeleton-with-content-ltr.png
  packages/components/src/components/skeleton/__screenshots__/mobile-chrome/mdc-skeleton-with-content-rtl.png
  packages/components/src/components/skeleton/__screenshots__/mobile-safari/mdc-skeleton-variants-ltr.png
  packages/components/src/components/skeleton/__screenshots__/mobile-safari/mdc-skeleton-variants-rtl.png
  packages/components/src/components/skeleton/__screenshots__/mobile-safari/mdc-skeleton-with-content-ltr.png
  packages/components/src/components/skeleton/__screenshots__/mobile-safari/mdc-skeleton-with-content-rtl.png
  packages/components/src/components/skeleton/__screenshots__/msedge/mdc-skeleton-variants-high-contrast.png
  packages/components/src/components/skeleton/__screenshots__/msedge/mdc-skeleton-variants-ltr.png
  packages/components/src/components/skeleton/__screenshots__/msedge/mdc-skeleton-variants-rtl.png
  packages/components/src/components/skeleton/__screenshots__/msedge/mdc-skeleton-with-content-high-contrast.png
  packages/components/src/components/skeleton/__screenshots__/msedge/mdc-skeleton-with-content-ltr.png
  packages/components/src/components/skeleton/__screenshots__/msedge/mdc-skeleton-with-content-rtl.png
  packages/components/src/components/skeleton/__screenshots__/tablet-chrome/mdc-skeleton-variants-high-contrast.png
  packages/components/src/components/skeleton/__screenshots__/tablet-chrome/mdc-skeleton-variants-ltr.png
  packages/components/src/components/skeleton/__screenshots__/tablet-chrome/mdc-skeleton-variants-rtl.png
  packages/components/src/components/skeleton/__screenshots__/tablet-chrome/mdc-skeleton-with-content-high-contrast.png
  packages/components/src/components/skeleton/__screenshots__/tablet-chrome/mdc-skeleton-with-content-ltr.png
  packages/components/src/components/skeleton/__screenshots__/tablet-chrome/mdc-skeleton-with-content-rtl.png
  packages/components/src/components/skeleton/__screenshots__/tablet-safari/mdc-skeleton-variants-ltr.png
  packages/components/src/components/skeleton/__screenshots__/tablet-safari/mdc-skeleton-variants-rtl.png
  packages/components/src/components/skeleton/__screenshots__/tablet-safari/mdc-skeleton-with-content-ltr.png
  packages/components/src/components/skeleton/__screenshots__/tablet-safari/mdc-skeleton-with-content-rtl.png
  packages/components/src/components/skeleton/__screenshots__/webkit/mdc-skeleton-variants-ltr.png
  packages/components/src/components/skeleton/__screenshots__/webkit/mdc-skeleton-variants-rtl.png
  packages/components/src/components/skeleton/__screenshots__/webkit/mdc-skeleton-with-content-ltr.png
  packages/components/src/components/skeleton/__screenshots__/webkit/mdc-skeleton-with-content-rtl.png
  packages/components/src/components/skeleton/index.ts
  packages/components/src/components/skeleton/skeleton.component.ts
  packages/components/src/components/skeleton/skeleton.constants.ts
  packages/components/src/components/skeleton/skeleton.e2e-test.ts
  packages/components/src/components/skeleton/skeleton.stories.ts
  packages/components/src/components/skeleton/skeleton.styles.ts
  packages/components/src/components/skeleton/skeleton.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1339 fix: dialog, focustrap and popover fixes
  .github/instructions/components.instructions.md
  packages/components/.eslintrc.js
  packages/components/src/components/dialog/dialog.component.ts
  packages/components/src/components/dialog/dialog.constants.ts
  packages/components/src/components/dialog/dialog.e2e-test.ts
  packages/components/src/components/dialog/dialog.stories.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.constants.ts
  packages/components/src/components/popover/popover.e2e-test.ts
  packages/components/src/components/popover/popover.stories.ts
  packages/components/src/components/popover/popover.utils.ts
  packages/components/src/components/toggletip/toggletip.component.ts
  packages/components/src/components/toggletip/toggletip.e2e-test.ts
  packages/components/src/components/tooltip/tooltip.component.ts
  packages/components/src/utils/mixins/FocusTrapMixin.ts
Labels: validated, Author: Core Team, components

#1337 refactor: logic on Select and Popover component
  .eslintrc.js
  packages/components/src/components/avatarbutton/avatarbutton.component.ts
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/optgroup/optgroup.component.ts
  packages/components/src/components/optgroup/optgroup.stories.ts
  packages/components/src/components/option/option.component.ts
  packages/components/src/components/option/option.stories.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.e2e-test.ts
  packages/components/src/components/popover/popover.utils.ts
  packages/components/src/components/progressbar/progressbar.component.ts
  packages/components/src/components/progressspinner/progressspinner.component.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.constants.ts
  packages/components/src/components/select/select.feature
  packages/components/src/components/select/select.stories.ts
  packages/components/src/components/select/select.styles.ts
  packages/components/src/components/spinner/spinner.component.ts
  packages/components/src/components/tab/tab.component.ts
  packages/components/src/components/tablist/tablist.component.ts
  packages/components/src/components/toggle/toggle.component.ts
  packages/components/src/utils/keys.ts
  packages/components/src/utils/mixins/FormInternalsMixin.ts
  packages/components/src/utils/roles.ts
Labels: validated, Author: Core Team, components

#1355 fix: various fixes in popover & dialog
  packages/components/src/components/dialog/dialog.e2e-test.ts
  packages/components/src/components/dialog/dialog.stories.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.constants.ts
  packages/components/src/components/popover/popover.e2e-test.ts
  packages/components/src/components/popover/popover.feature
  packages/components/src/utils/mixins/FocusTrapMixin.ts
Labels: validated

#1350 docs: add user stories for the Menubar and SideNavigation components
  packages/components/src/components/menubar/menubar.e2e-test.ts
  packages/components/src/components/menubar/menubar.feature
  packages/components/src/components/sidenavigation/sidenavigation.feature
  packages/components/src/components/sidenavigation/sidenavigation.mdx
Labels: validated, components

#1363 fix: add fallback to get the dist key and fix github actions cache
  .github/workflows/pull-request.yml
Labels: validated, Author: Core Team

#1357 chore: add e2e specs for popover new user stories
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.e2e-test.ts
  packages/components/src/components/popover/popover.feature
  packages/components/src/components/popover/popover.stories.ts
Labels: validated, components

#1373 fix: dialog focustrap expose
  packages/components/src/components/dialog/dialog.component.ts
  packages/components/src/components/dialog/dialog.constants.ts
  packages/components/src/components/dialog/dialog.stories.ts
  packages/components/src/utils/mixins/FocusTrapMixin.ts
Labels: validated, Author: Core Team, components

#1379 fix: support prettier for feature file
  packages/components/package.json
  packages/components/prettier.config.js
  yarn.lock
Labels: validated, Author: Core Team, components

#1378 chore: add test case to handle multiple submenu mouse navigation
  packages/components/src/components/menupopover/menupopover.component.ts
  packages/components/src/components/menupopover/menupopover.e2e-test.ts
  packages/components/src/components/menupopover/menupopover.feature
  packages/components/src/components/menupopover/menupopover.stories.ts
  packages/components/src/components/popover/popover.stack.ts
Labels: validated, Author: Core Team, components
