Repository momentum-design/momentum-design, pull requests merged in 2025-07, with the labels that each got.

#1383 chore: figma code connect initial
  .gitignore
  config/husky/commit-msg
  config/husky/pre-commit
  packages/components/.eslintrc.js
  packages/components/config/code-connect/figma-react.config.js
  packages/components/config/code-connect/figma-webcomponent.config.js
  packages/components/config/code-connect/utils.js
  packages/components/config/plop/actions/AddComponent.ts
  packages/components/config/plop/esbuild.config.plop.js
  packages/components/config/plop/templates/add/component/code-connect/{{componentName}}.react.figma.tsx.hbs
  packages/components/config/plop/templates/add/component/code-connect/{{componentName}}.webcomponent.figma.ts.hbs
  packages/components/package.json
  packages/components/scripts/createFigmaConfigJson.js
  packages/components/scripts/getFigmaComponentAttributes.js
  packages/components/src/components/radio/code-connect/radio.react.figma.tsx
  packages/components/src/components/radio/code-connect/radio.webcomponent.figma.ts
  packages/components/src/tsconfig.json
  yarn.lock
Labels: validated, Author: Core Team, components

#1384 fix: added new dialog sizes
  .vscode/mcp.json
  packages/components/src/components/dialog/__screenshots__/chrome/mdc-dialog-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/chrome/mdc-dialog-ltr.png
  packages/components/src/components/dialog/__screenshots__/chrome/mdc-dialog-rtl.png
  packages/components/src/components/dialog/__screenshots__/chrome/mdc-dialog-variant-promotional-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/chrome/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/chrome/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/firefox/mdc-dialog-ltr.png
  packages/components/src/components/dialog/__screenshots__/firefox/mdc-dialog-rtl.png
  packages/components/src/components/dialog/__screenshots__/firefox/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/firefox/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/mobile-chrome/mdc-dialog-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/mobile-chrome/mdc-dialog-ltr.png
  packages/components/src/components/dialog/__screenshots__/mobile-chrome/mdc-dialog-rtl.png
  packages/components/src/components/dialog/__screenshots__/mobile-chrome/mdc-dialog-variant-promotional-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/mobile-chrome/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/mobile-chrome/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/mobile-safari/mdc-dialog-ltr.png
  packages/components/src/components/dialog/__screenshots__/mobile-safari/mdc-dialog-rtl.png
  packages/components/src/components/dialog/__screenshots__/mobile-safari/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/mobile-safari/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/msedge/mdc-dialog-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/msedge/mdc-dialog-ltr.png
  packages/components/src/components/dialog/__screenshots__/msedge/mdc-dialog-rtl.png
  packages/components/src/components/dialog/__screenshots__/msedge/mdc-dialog-variant-promotional-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/msedge/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/msedge/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/tablet-chrome/mdc-dialog-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/tablet-chrome/mdc-dialog-ltr.png
  packages/components/src/components/dialog/__screenshots__/tablet-chrome/mdc-dialog-rtl.png
  packages/components/src/components/dialog/__screenshots__/tablet-chrome/mdc-dialog-variant-promotional-high-contrast.png
  packages/components/src/components/dialog/__screenshots__/tablet-chrome/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/tablet-chrome/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/tablet-safari/mdc-dialog-ltr.png
  packages/components/src/components/dialog/__screenshots__/tablet-safari/mdc-dialog-rtl.png
  packages/components/src/components/dialog/__screenshots__/tablet-safari/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/tablet-safari/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/__screenshots__/webkit/mdc-dialog-ltr.png
  packages/components/src/components/dialog/__screenshots__/webkit/mdc-dialog-rtl.png
  packages/components/src/components/dialog/__screenshots__/webkit/mdc-dialog-variant-promotional-ltr.png
  packages/components/src/components/dialog/__screenshots__/webkit/mdc-dialog-variant-promotional-rtl.png
  packages/components/src/components/dialog/dialog.component.ts
  packages/components/src/components/dialog/dialog.constants.ts
  packages/components/src/components/dialog/dialog.stories.ts
  packages/components/src/components/dialog/dialog.styles.ts
Labels: validated, Author: Core Team, components

#1380 fix(select): select component enable attribute 'value' and input event
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.e2e-test.ts
  packages/components/src/components/select/select.feature
  packages/components/src/components/select/select.stories.ts
  packages/components/src/components/select/select.types.ts
Labels: validated, Author: Core Team, components

#1388 chore: adding support for yalc
  package.json
  packages/assets/animations/package.json
  packages/assets/brand-visuals/package.json
  packages/assets/fonts/package.json
  packages/assets/icons/package.json
  packages/assets/illustrations/package.json
  packages/assets/tokens/package.json
  packages/assets/utils/package.json
  packages/components/CONTRIBUTING.md
  packages/components/package.json
Labels: validated, Author: Core Team, icons, utils, components, tokens, brand-visuals, animations, illustrations, fonts

#1394 feat(assets): Updated Operation Pop DUI Background
  packages/assets/brand-visuals/src/backgrounds/operation-pop-background-dark.png
  packages/assets/brand-visuals/src/images/device-phoenix.svg
Labels: validated, brand-visuals

#1395 feat: Design token updates
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#1397 fix: update dot badge styling in HC
  packages/components/src/components/badge/__screenshots__/chrome/mdc-badge-high-contrast.png
  packages/components/src/components/badge/__screenshots__/mobile-chrome/mdc-badge-high-contrast.png
  packages/components/src/components/badge/__screenshots__/msedge/mdc-badge-high-contrast.png
  packages/components/src/components/badge/__screenshots__/tablet-chrome/mdc-badge-high-contrast.png
  packages/components/src/components/badge/badge.styles.ts
  packages/components/src/components/list/__screenshots__/chrome/mdc-list-high-contrast.png
  packages/components/src/components/list/__screenshots__/mobile-chrome/mdc-list-high-contrast.png
  packages/components/src/components/list/__screenshots__/msedge/mdc-list-high-contrast.png
  packages/components/src/components/list/__screenshots__/tablet-chrome/mdc-list-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/chrome/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/mobile-chrome/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/msedge/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/tablet-chrome/mdc-listitem-high-contrast.png
  packages/components/src/components/menuitem/__screenshots__/chrome/mdc-menuitem-high-contrast.png
  packages/components/src/components/menuitem/__screenshots__/mobile-chrome/mdc-menuitem-high-contrast.png
  packages/components/src/components/menuitem/__screenshots__/msedge/mdc-menuitem-high-contrast.png
  packages/components/src/components/menuitem/__screenshots__/tablet-chrome/mdc-menuitem-high-contrast.png
Labels: validated, Author: Core Team, components

#1400 feat: release sidenavigation component
  packages/components/src/components/navmenuitem/navmenuitem.stories.ts
  packages/components/src/components/sidenavigation/sidenavigation.stories.ts
Labels: validated, Author: Core Team, components

#1406 fix: listbox and options on same level
  .github/workflows/update-snapshots.yml
  packages/components/LEARNINGS.md
  packages/components/src/components/menubar/menubar.component.ts
  packages/components/src/components/menubar/menubar.stories.ts
  packages/components/src/components/menusection/__screenshots__/chrome/mdc-menusection-ltr.png
  packages/components/src/components/menusection/__screenshots__/chrome/mdc-menusection-rtl.png
  packages/components/src/components/menusection/__screenshots__/firefox/mdc-menusection-ltr.png
  packages/components/src/components/menusection/__screenshots__/firefox/mdc-menusection-rtl.png
  packages/components/src/components/menusection/__screenshots__/mobile-chrome/mdc-menusection-ltr.png
  packages/components/src/components/menusection/__screenshots__/mobile-chrome/mdc-menusection-rtl.png
  packages/components/src/components/menusection/__screenshots__/mobile-safari/mdc-menusection-ltr.png
  packages/components/src/components/menusection/__screenshots__/mobile-safari/mdc-menusection-rtl.png
  packages/components/src/components/menusection/__screenshots__/msedge/mdc-menusection-ltr.png
  packages/components/src/components/menusection/__screenshots__/msedge/mdc-menusection-rtl.png
  packages/components/src/components/menusection/__screenshots__/tablet-chrome/mdc-menusection-ltr.png
  packages/components/src/components/menusection/__screenshots__/tablet-chrome/mdc-menusection-rtl.png
  packages/components/src/components/menusection/__screenshots__/tablet-safari/mdc-menusection-ltr.png
  packages/components/src/components/menusection/__screenshots__/tablet-safari/mdc-menusection-rtl.png
  packages/components/src/components/menusection/__screenshots__/webkit/mdc-menusection-ltr.png
  packages/components/src/components/menusection/__screenshots__/webkit/mdc-menusection-rtl.png
  packages/components/src/components/menusection/menusection.component.ts
  packages/components/src/components/menusection/menusection.constants.ts
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/firefox/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/firefox/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/mobile-safari/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/mobile-safari/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/tablet-safari/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/tablet-safari/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/webkit/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/webkit/mdc-popover-rtl.png
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.events.ts
  packages/components/src/components/popover/popover.utils.ts
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.constants.ts
  packages/components/src/components/select/select.e2e-test.ts
  packages/components/src/components/select/select.stories.ts
  packages/components/src/components/select/select.styles.ts
  packages/components/src/components/select/select.types.ts
  packages/components/src/components/selectlistbox/index.ts
  packages/components/src/components/selectlistbox/selectlistbox.component.ts
  packages/components/src/components/selectlistbox/selectlistbox.constants.ts
  packages/components/src/components/selectlistbox/selectlistbox.stories.ts
  packages/components/src/components/selectlistbox/selectlistbox.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1409 fix: divider text styling
  packages/components/src/components/divider/divider.stories.ts
  packages/components/src/components/divider/divider.styles.ts
Labels: validated, Author: Core Team, components

#1410 feat: new icons
  packages/assets/icons/src/core/video-layout-custom-bold.svg
  packages/assets/icons/src/core/video-layout-custom-filled.svg
  packages/assets/icons/src/core/video-layout-custom-light.svg
  packages/assets/icons/src/core/video-layout-custom-regular.svg
  packages/assets/icons/src/core/video-layout-presentation-bold.svg
  packages/assets/icons/src/core/video-layout-presentation-filled.svg
  packages/assets/icons/src/core/video-layout-presentation-light.svg
  packages/assets/icons/src/core/video-layout-presentation-regular.svg
Labels: validated, icons

#1413 feat: new 'filled' checkbox-group icon
  packages/assets/icons/src/core/checkbox-group-filled.svg
Labels: validated, icons

#1414 fix: several select, option and popover fixes
  .vscode/tasks.json
  packages/components/TESTING.md
  packages/components/config/storybook/preview.js
  packages/components/src/components/optgroup/optgroup.e2e-test.ts
  packages/components/src/components/optgroup/optgroup.stories.ts
  packages/components/src/components/option/__screenshots__/chrome/mdc-option-high-contrast.png
  packages/components/src/components/option/__screenshots__/chrome/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/chrome/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/firefox/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/firefox/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/mobile-chrome/mdc-option-high-contrast.png
  packages/components/src/components/option/__screenshots__/mobile-chrome/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/mobile-chrome/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/mobile-safari/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/mobile-safari/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/msedge/mdc-option-high-contrast.png
  packages/components/src/components/option/__screenshots__/msedge/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/msedge/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/tablet-chrome/mdc-option-high-contrast.png
  packages/components/src/components/option/__screenshots__/tablet-chrome/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/tablet-chrome/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/tablet-safari/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/tablet-safari/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/webkit/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/webkit/mdc-option-rtl.png
  packages/components/src/components/option/option.component.ts
  packages/components/src/components/option/option.e2e-test.ts
  packages/components/src/components/option/option.stories.ts
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/firefox/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/firefox/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/mobile-safari/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/mobile-safari/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/tablet-safari/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/tablet-safari/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/webkit/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/webkit/mdc-popover-rtl.png
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.e2e-test.ts
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.e2e-test.ts
  packages/components/src/components/select/select.feature
  packages/components/src/components/select/select.stories.ts
  packages/components/src/components/select/select.styles.ts
  packages/components/src/components/select/select.types.ts
  packages/components/src/components/sidenavigation/__screenshots__/firefox/sidenavigation-flexible-userflow-collapsed-view.png
  packages/components/src/components/sidenavigation/sidenavigation.e2e-test.ts
Labels: validated, Author: Core Team, components

#1416 fix: rename a Mixin and fix styling in Card component
  packages/components/src/components/card/card.component.ts
  packages/components/src/components/card/card.styles.ts
  packages/components/src/components/dialog/dialog.component.ts
  packages/components/src/utils/mixins/CardComponentMixin.ts
  packages/components/src/utils/mixins/FooterMixin.ts
Labels: validated, Author: Core Team, components

#1420 fix: select add updatestate method for selected changes
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.e2e-test.ts
  packages/components/src/components/select/select.stories.ts
Labels: validated, Author: Core Team, components

#1425 fix: several styling fixes
  packages/components/src/components/checkbox/checkbox.styles.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/select/select.styles.ts
  packages/components/src/components/themeprovider/themeprovider.component.ts
  packages/components/src/components/themeprovider/themeprovider.styles.ts
Labels: validated, Author: Core Team, components

#1426 fix: small styling adjustment in option component
  packages/components/src/components/option/option.styles.ts
Labels: validated, Author: Core Team, components

#1422 feat: linkbutton component with storybook docs
  packages/components/src/components/buttonsimple/buttonsimple.constants.ts
  packages/components/src/components/linkbutton/__screenshots__/chrome/mdc-linkbutton-high-contrast.png
  packages/components/src/components/linkbutton/__screenshots__/chrome/mdc-linkbutton-ltr.png
  packages/components/src/components/linkbutton/__screenshots__/chrome/mdc-linkbutton-rtl.png
  packages/components/src/components/linkbutton/__screenshots__/firefox/mdc-linkbutton-ltr.png
  packages/components/src/components/linkbutton/__screenshots__/firefox/mdc-linkbutton-rtl.png
  packages/components/src/components/linkbutton/__screenshots__/mobile-chrome/mdc-linkbutton-high-contrast.png
  packages/components/src/components/linkbutton/__screenshots__/mobile-chrome/mdc-linkbutton-ltr.png
  packages/components/src/components/linkbutton/__screenshots__/mobile-chrome/mdc-linkbutton-rtl.png
  packages/components/src/components/linkbutton/__screenshots__/mobile-safari/mdc-linkbutton-ltr.png
  packages/components/src/components/linkbutton/__screenshots__/mobile-safari/mdc-linkbutton-rtl.png
  packages/components/src/components/linkbutton/__screenshots__/msedge/mdc-linkbutton-high-contrast.png
  packages/components/src/components/linkbutton/__screenshots__/msedge/mdc-linkbutton-ltr.png
  packages/components/src/components/linkbutton/__screenshots__/msedge/mdc-linkbutton-rtl.png
  packages/components/src/components/linkbutton/__screenshots__/tablet-chrome/mdc-linkbutton-high-contrast.png
  packages/components/src/components/linkbutton/__screenshots__/tablet-chrome/mdc-linkbutton-ltr.png
  packages/components/src/components/linkbutton/__screenshots__/tablet-chrome/mdc-linkbutton-rtl.png
  packages/components/src/components/linkbutton/__screenshots__/tablet-safari/mdc-linkbutton-ltr.png
  packages/components/src/components/linkbutton/__screenshots__/tablet-safari/mdc-linkbutton-rtl.png
  packages/components/src/components/linkbutton/__screenshots__/webkit/mdc-linkbutton-ltr.png
  packages/components/src/components/linkbutton/__screenshots__/webkit/mdc-linkbutton-rtl.png
  packages/components/src/components/linkbutton/code-connect/linkbutton.react.figma.tsx
  packages/components/src/components/linkbutton/code-connect/linkbutton.webcomponent.figma.ts
  packages/components/src/components/linkbutton/index.ts
  packages/components/src/components/linkbutton/linkbutton.component.ts
  packages/components/src/components/linkbutton/linkbutton.constants.ts
  packages/components/src/components/linkbutton/linkbutton.e2e-test.ts
  packages/components/src/components/linkbutton/linkbutton.feature
  packages/components/src/components/linkbutton/linkbutton.stories.ts
  packages/components/src/components/linkbutton/linkbutton.styles.ts
  packages/components/src/components/linkbutton/linkbutton.types.ts
  packages/components/src/components/linkbutton/linkbutton.utils.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1411 test: adds user stories and e2e tests for the Toast
  packages/components/src/components/toast/toast.e2e-test.ts
  packages/components/src/components/toast/toast.feature
Labels: validated, Author: Core Team, components

#1431 Feat: various icon updates
  packages/assets/icons/src/core/archive-badge-filled.svg
  packages/assets/icons/src/core/checkbox-group-filled.svg
  packages/assets/icons/src/core/video-layout-presentation-bold.svg
  packages/assets/icons/src/core/video-layout-presentation-filled.svg
  packages/assets/icons/src/core/video-layout-presentation-light.svg
  packages/assets/icons/src/core/video-layout-presentation-regular.svg
  packages/assets/icons/src/core/video-layout-speaker-bold.svg
  packages/assets/icons/src/core/video-layout-speaker-filled.svg
  packages/assets/icons/src/core/video-layout-speaker-light.svg
  packages/assets/icons/src/core/video-layout-speaker-regular.svg
Labels: validated, icons
