Repository momentum-design/momentum-design, pull requests merged in 2025-09, with the labels that each got.

#1513 feat: Various brand visual updates
  packages/assets/brand-visuals/src/images/device-deskpro gtwo.png
  packages/assets/brand-visuals/src/images/device-telepresence dxeightzero.svg
  packages/assets/brand-visuals/src/images/device-thumbnails-deskpro gtwo.png
  packages/assets/brand-visuals/src/logos/webex-suite-wordmark-dark-topic-analytics.svg
  packages/assets/brand-visuals/src/logos/webex-suite-wordmark-light-topic-analytics.svg
Labels: validated, brand-visuals

#1515 feat: release slider component
  packages/components/src/components/slider/slider.stories.ts
Labels: validated, Author: Core Team, components

#1504 fix(list): add no-loop, initial-focus and fix bugs in list component
  packages/components/src/components/list/list.component.ts
  packages/components/src/components/list/list.constants.ts
  packages/components/src/components/list/list.e2e-test.ts
  packages/components/src/components/list/list.stories.ts
  packages/components/src/components/list/list.styles.ts
  packages/components/src/components/listbox/listbox.component.ts
  packages/components/src/utils/mixins/ListNavigationMixin.ts
Labels: validated, Author: Core Team, components

#1509 fix(controlled): add controlled option for menuitemcheckbox
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.component.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.e2e-test.ts
  packages/components/src/components/menuitemcheckbox/menuitemcheckbox.stories.ts
  packages/components/src/utils/mixins/ControlledMixin.ts
Labels: validated, Author: Core Team, components

#1519 feat(assets): Adding Cisco Wordmark with Finesse logo.
  packages/assets/brand-visuals/src/backgrounds/operation-pop-background-dark.png
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsevenfour.png
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsevenone.png
  packages/assets/brand-visuals/src/images/device-deskphone eighteightseventwo.png
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsevenzero.png
  packages/assets/brand-visuals/src/images/device-deskphone nineeightfiveone.png
  packages/assets/brand-visuals/src/images/device-deskphone nineeightfourone.png
  packages/assets/brand-visuals/src/images/device-deskphone nineeightsevenone.png
  packages/assets/brand-visuals/src/images/device-deskphone nineeightsixone.png
  packages/assets/brand-visuals/src/images/device-deskpro gtwo.png
  packages/assets/brand-visuals/src/images/device-dx sixfivezero.png
  packages/assets/brand-visuals/src/images/device-ip conference phone seveneightthreethree.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfiveone plus multiple screen.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfiveone plus screen.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfiveone.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfourfive.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfourone.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightoneone.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightsixfive plus screen.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightsixfive.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightsixone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneightfourone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneightoneone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneightsixone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneighttwoone.png
  packages/assets/brand-visuals/src/images/device-ip phone sixeightfiveone.png
  packages/assets/brand-visuals/src/images/device-ip phone sixeightsevenone.png
  packages/assets/brand-visuals/src/images/device-ip phone sixeightsixone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-deskphone eighteightsevenfour.png
  packages/assets/brand-visuals/src/images/device-thumbnails-deskphone eighteightsevenone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-deskphone eighteightseventwo.png
  packages/assets/brand-visuals/src/images/device-thumbnails-deskphone eighteightsevenzero.png
  packages/assets/brand-visuals/src/images/device-thumbnails-deskphone nineeightfiveone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-deskphone nineeightfourone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-deskphone nineeightsevenone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-deskphone nineeightsixone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-deskpro gtwo.png
  packages/assets/brand-visuals/src/images/device-thumbnails-dx sixfivezero.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip conference phone seveneightthreethree.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone eighteightfiveone plus screen.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone eighteightfiveone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone eighteightfourfive.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone eighteightfourone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone eighteightoneone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone eighteightsixfive plus screen.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone eighteightsixfive.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone eighteightsixone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone seveneightfourone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone seveneightoneone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone seveneightsixone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone seveneighttwoone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone sixeightfiveone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone sixeightsevenone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone sixeightsixone.png
  packages/assets/brand-visuals/src/images/device-thumbnails-ip phone sixeighttwoone.png
  packages/assets/brand-visuals/src/logos/cisco_wordmark-finesse.svg
  packages/assets/brand-visuals/src/logos/webex-logo-lockup-dark-color-gradient-horizontal-bycisco.svg
Labels: validated, brand-visuals

#1498 perf: build combobox component
  packages/components/src/components/combobox/__screenshots__/chrome/mdc-combobox-high-contrast.png
  packages/components/src/components/combobox/__screenshots__/chrome/mdc-combobox-ltr.png
  packages/components/src/components/combobox/__screenshots__/chrome/mdc-combobox-rtl.png
  packages/components/src/components/combobox/__screenshots__/firefox/mdc-combobox-ltr.png
  packages/components/src/components/combobox/__screenshots__/firefox/mdc-combobox-rtl.png
  packages/components/src/components/combobox/__screenshots__/msedge/mdc-combobox-high-contrast.png
  packages/components/src/components/combobox/__screenshots__/msedge/mdc-combobox-ltr.png
  packages/components/src/components/combobox/__screenshots__/msedge/mdc-combobox-rtl.png
  packages/components/src/components/combobox/__screenshots__/webkit/mdc-combobox-ltr.png
  packages/components/src/components/combobox/__screenshots__/webkit/mdc-combobox-rtl.png
  packages/components/src/components/combobox/combobox.component.ts
  packages/components/src/components/combobox/combobox.constants.ts
  packages/components/src/components/combobox/combobox.e2e-test.ts
  packages/components/src/components/combobox/combobox.events.ts
  packages/components/src/components/combobox/combobox.feature
  packages/components/src/components/combobox/combobox.stories.ts
  packages/components/src/components/combobox/combobox.styles.ts
  packages/components/src/components/combobox/combobox.types.ts
  packages/components/src/components/combobox/index.ts
  packages/components/src/components/divider/divider.styles.ts
  packages/components/src/components/input/input.styles.ts
  packages/components/src/components/optgroup/optgroup.styles.ts
  packages/components/src/components/option/option.styles.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.constants.ts
  packages/components/src/components/popover/popover.types.ts
Labels: validated, Author: Core Team, components

#1534 feat: release combobox
  packages/components/src/components/combobox/combobox.stories.ts
Labels: validated, Author: Core Team, components

#1533 feat: Various icon updates
  packages/assets/icons/src/core/active-interaction-bold.svg
  packages/assets/icons/src/core/active-interaction-filled.svg
  packages/assets/icons/src/core/active-interaction-light.svg
  packages/assets/icons/src/core/active-interaction-regular.svg
  packages/assets/icons/src/core/bot-bold.svg
  packages/assets/icons/src/core/bot-light.svg
  packages/assets/icons/src/core/bot-regular.svg
  packages/assets/icons/src/core/chat-mute-bold.svg
  packages/assets/icons/src/core/chat-mute-regular.svg
  packages/assets/icons/src/core/commenting-bold.svg
  packages/assets/icons/src/core/commenting-filled.svg
  packages/assets/icons/src/core/completed-interaction-bold.svg
  packages/assets/icons/src/core/completed-interaction-filled.svg
  packages/assets/icons/src/core/completed-interaction-light.svg
  packages/assets/icons/src/core/completed-interaction-regular.svg
  packages/assets/icons/src/core/diamond-bold.svg
  packages/assets/icons/src/core/diamond-filled.svg
  packages/assets/icons/src/core/diamond-light.svg
  packages/assets/icons/src/core/diamond-regular.svg
  packages/assets/icons/src/core/external-message-light.svg
  packages/assets/icons/src/core/external-message-regular.svg
  packages/assets/icons/src/core/mark-as-unread-bold.svg
  packages/assets/icons/src/core/mark-as-unread-regular.svg
  packages/assets/icons/src/core/park-interaction-bold.svg
  packages/assets/icons/src/core/park-interaction-filled.svg
  packages/assets/icons/src/core/park-interaction-light.svg
  packages/assets/icons/src/core/park-interaction-regular.svg
  packages/assets/icons/src/core/queued-interaction-bold.svg
  packages/assets/icons/src/core/queued-interaction-filled.svg
  packages/assets/icons/src/core/queued-interaction-light.svg
  packages/assets/icons/src/core/queued-interaction-regular.svg
  packages/assets/icons/src/core/reactions-bold.svg
  packages/assets/icons/src/core/reactions-light.svg
  packages/assets/icons/src/core/resume-interaction-bold.svg
  packages/assets/icons/src/core/resume-interaction-filled.svg
  packages/assets/icons/src/core/resume-interaction-light.svg
  packages/assets/icons/src/core/resume-interaction-regular.svg
  packages/assets/icons/src/core/ruler-regular.svg
  packages/assets/icons/src/core/start-chat-bold.svg
  packages/assets/icons/src/core/start-chat-regular.svg
Labels: validated, icons

#1528 feat(banner): Implement Banner Component
  packages/components/src/components/banner/__screenshots__/chrome/mdc-banner-high-contrast.png
  packages/components/src/components/banner/__screenshots__/chrome/mdc-banner-ltr.png
  packages/components/src/components/banner/__screenshots__/chrome/mdc-banner-rtl.png
  packages/components/src/components/banner/__screenshots__/firefox/mdc-banner-ltr.png
  packages/components/src/components/banner/__screenshots__/firefox/mdc-banner-rtl.png
  packages/components/src/components/banner/__screenshots__/msedge/mdc-banner-high-contrast.png
  packages/components/src/components/banner/__screenshots__/msedge/mdc-banner-ltr.png
  packages/components/src/components/banner/__screenshots__/msedge/mdc-banner-rtl.png
  packages/components/src/components/banner/__screenshots__/webkit/mdc-banner-ltr.png
  packages/components/src/components/banner/__screenshots__/webkit/mdc-banner-rtl.png
  packages/components/src/components/banner/banner.component.ts
  packages/components/src/components/banner/banner.constants.ts
  packages/components/src/components/banner/banner.e2e-test.ts
  packages/components/src/components/banner/banner.feature
  packages/components/src/components/banner/banner.stories.ts
  packages/components/src/components/banner/banner.styles.ts
  packages/components/src/components/banner/banner.types.ts
  packages/components/src/components/banner/banner.utils.ts
  packages/components/src/components/banner/code-connect/banner.react.figma.tsx
  packages/components/src/components/banner/code-connect/banner.webcomponent.figma.ts
  packages/components/src/components/banner/index.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1530 fix(utils): add onStoreUpdate callback to ElementStore controller
  packages/components/src/utils/controllers/ElementStore.ts
Labels: validated, Author: Core Team, components

#1527 Feat: Design token updates
  packages/assets/tokens/src/core/value.json
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#1535 fix(toast): Update Toast Component Structure and Storybook Configuration
  packages/components/src/components/toast/__screenshots__/chrome/mdc-toast-high-contrast.png
  packages/components/src/components/toast/__screenshots__/chrome/mdc-toast-ltr.png
  packages/components/src/components/toast/__screenshots__/chrome/mdc-toast-rtl.png
  packages/components/src/components/toast/__screenshots__/chrome/mdc-toast-userflow-collapsed-view.png
  packages/components/src/components/toast/__screenshots__/chrome/mdc-toast-userflow-expanded-view.png
  packages/components/src/components/toast/__screenshots__/firefox/mdc-toast-ltr.png
  packages/components/src/components/toast/__screenshots__/firefox/mdc-toast-rtl.png
  packages/components/src/components/toast/__screenshots__/firefox/mdc-toast-userflow-collapsed-view.png
  packages/components/src/components/toast/__screenshots__/firefox/mdc-toast-userflow-expanded-view.png
  packages/components/src/components/toast/__screenshots__/msedge/mdc-toast-high-contrast.png
  packages/components/src/components/toast/__screenshots__/msedge/mdc-toast-ltr.png
  packages/components/src/components/toast/__screenshots__/msedge/mdc-toast-rtl.png
  packages/components/src/components/toast/__screenshots__/msedge/mdc-toast-userflow-collapsed-view.png
  packages/components/src/components/toast/__screenshots__/msedge/mdc-toast-userflow-expanded-view.png
  packages/components/src/components/toast/__screenshots__/webkit/mdc-toast-ltr.png
  packages/components/src/components/toast/__screenshots__/webkit/mdc-toast-rtl.png
  packages/components/src/components/toast/__screenshots__/webkit/mdc-toast-userflow-collapsed-view.png
  packages/components/src/components/toast/__screenshots__/webkit/mdc-toast-userflow-expanded-view.png
  packages/components/src/components/toast/index.ts
  packages/components/src/components/toast/toast.component.ts
  packages/components/src/components/toast/toast.e2e-test.ts
  packages/components/src/components/toast/toast.feature
  packages/components/src/components/toast/toast.stories.ts
Labels: validated, Author: Core Team, components

#1524 chore: add list navigation mixin on select component
  packages/components/src/components/option/option.component.ts
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.e2e-test.ts
  packages/components/src/components/select/select.stories.ts
  packages/components/src/utils/controllers/ElementStore.ts
  packages/components/src/utils/mixins/ListNavigationMixin.ts
Labels: validated, Author: Core Team, components

#1550 fix: select & list lifecycle disabled issue
  packages/components/src/components/list/list.component.ts
  packages/components/src/components/listitem/listitem.component.ts
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.e2e-test.ts
  packages/components/src/utils/mixins/lifecycle/lifecycle.contants.ts
Labels: validated, Author: Core Team, components

#1551 docs: add docs to differentiate readonly, disabled and soft-disabled
  packages/components/src/docs/Attributes.mdx
Labels: validated, Author: Core Team, components

#1559 fix: tokens by removing semi colon
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: Author: Core Team, tokens

#1560 fix(storybook): format code preview
  packages/tools/storybook-addon-code-preview/src/components/CodeBlock.tsx
  packages/tools/storybook-addon-code-preview/src/components/CodePreviewPanel.tsx
  packages/tools/storybook-addon-code-preview/src/components/Tool.tsx
  packages/tools/storybook-addon-code-preview/src/components/codeTransform.ts
  packages/tools/storybook-addon-code-preview/src/types.ts
Labels: validated, Author: Core Team, tools

#1566 refactor: updated tsdocs for cssparts; replaced class with parts
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/combobox/combobox.component.ts
  packages/components/src/components/combobox/combobox.styles.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.component.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/input/input.styles.ts
  packages/components/src/components/password/password.component.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.styles.ts
  packages/components/src/components/progressbar/progressbar.component.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/searchfield/searchfield.component.ts
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/staticcheckbox/staticcheckbox.component.ts
  packages/components/src/components/staticcheckbox/staticcheckbox.styles.ts
  packages/components/src/components/staticradio/staticradio.component.ts
  packages/components/src/components/staticradio/staticradio.styles.ts
  packages/components/src/components/statictoggle/statictoggle.component.ts
  packages/components/src/components/statictoggle/statictoggle.styles.ts
  packages/components/src/components/textarea/textarea.component.ts
  packages/components/src/components/toast/toast.component.ts
  packages/components/src/components/toast/toast.styles.ts
  packages/components/src/components/toggle/toggle.component.ts
Labels: validated, Author: Core Team, components

#1567 fix(storybook): refactor imports handling in code preview
  packages/tools/storybook-addon-code-preview/package.json
  packages/tools/storybook-addon-code-preview/src/components/codeTransform.ts
Labels: validated, Author: Core Team, tools
