Repository momentum-design/momentum-design, pull requests merged in 2025-02, with the labels that each got.

#1048 test: form field wrapper with label
  packages/components/config/esbuild/esbuild-e2e.config.js
  packages/components/config/playwright/public/index.html
  packages/components/src/components/formfieldwrapper/__screenshots__/chrome/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/chrome/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/chrome/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/firefox/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/firefox/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-chrome/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-chrome/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-chrome/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-safari/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-safari/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/msedge/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/msedge/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/msedge/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-chrome/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-chrome/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-chrome/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-safari/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-safari/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/webkit/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/webkit/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/formfieldwrapper.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.e2e-test.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.stories.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.styles.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.subcomponent.ts
Labels: validated, Author: Core Team, components

#1077 fix: several icon fixes
  packages/components/src/components/icon/__screenshots__/chrome/mdc-icon-high-contrast.png
  packages/components/src/components/icon/__screenshots__/chrome/mdc-icon-ltr.png
  packages/components/src/components/icon/__screenshots__/chrome/mdc-icon-rtl.png
  packages/components/src/components/icon/__screenshots__/firefox/mdc-icon-ltr.png
  packages/components/src/components/icon/__screenshots__/firefox/mdc-icon-rtl.png
  packages/components/src/components/icon/__screenshots__/mobile-chrome/mdc-icon-high-contrast.png
  packages/components/src/components/icon/__screenshots__/mobile-chrome/mdc-icon-ltr.png
  packages/components/src/components/icon/__screenshots__/mobile-chrome/mdc-icon-rtl.png
  packages/components/src/components/icon/__screenshots__/mobile-safari/mdc-icon-ltr.png
  packages/components/src/components/icon/__screenshots__/mobile-safari/mdc-icon-rtl.png
  packages/components/src/components/icon/__screenshots__/msedge/mdc-icon-high-contrast.png
  packages/components/src/components/icon/__screenshots__/msedge/mdc-icon-ltr.png
  packages/components/src/components/icon/__screenshots__/msedge/mdc-icon-rtl.png
  packages/components/src/components/icon/__screenshots__/tablet-chrome/mdc-icon-high-contrast.png
  packages/components/src/components/icon/__screenshots__/tablet-chrome/mdc-icon-ltr.png
  packages/components/src/components/icon/__screenshots__/tablet-chrome/mdc-icon-rtl.png
  packages/components/src/components/icon/__screenshots__/tablet-safari/mdc-icon-ltr.png
  packages/components/src/components/icon/__screenshots__/tablet-safari/mdc-icon-rtl.png
  packages/components/src/components/icon/__screenshots__/webkit/mdc-icon-ltr.png
  packages/components/src/components/icon/__screenshots__/webkit/mdc-icon-rtl.png
  packages/components/src/components/icon/icon.component.ts
  packages/components/src/components/icon/icon.e2e-test.ts
  packages/components/src/components/icon/icon.stories.ts
  packages/components/src/components/icon/icon.styles.ts
  packages/components/src/components/icon/icon.utils.ts
  packages/components/src/utils/styles/index.ts
Labels: validated, Author: Core Team, components

#1079 chore: add css props for components and disable them in stories
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/badge/badge.stories.ts
  packages/components/src/components/icon/icon.component.ts
  packages/components/src/components/icon/icon.stories.ts
  packages/components/src/components/presence/presence.component.ts
  packages/components/src/components/presence/presence.stories.ts
  packages/components/src/components/presence/presence.styles.ts
Labels: validated, Author: Core Team, components

#1038 chore: build checkbox component
  packages/components/config/playwright/setup/utils/actionability.ts
  packages/components/src/components/checkbox/__screenshots__/chrome/mdc-checkbox-high-contrast.png
  packages/components/src/components/checkbox/__screenshots__/chrome/mdc-checkbox-ltr.png
  packages/components/src/components/checkbox/__screenshots__/chrome/mdc-checkbox-rtl.png
  packages/components/src/components/checkbox/__screenshots__/firefox/mdc-checkbox-ltr.png
  packages/components/src/components/checkbox/__screenshots__/firefox/mdc-checkbox-rtl.png
  packages/components/src/components/checkbox/__screenshots__/mobile-chrome/mdc-checkbox-high-contrast.png
  packages/components/src/components/checkbox/__screenshots__/mobile-chrome/mdc-checkbox-ltr.png
  packages/components/src/components/checkbox/__screenshots__/mobile-chrome/mdc-checkbox-rtl.png
  packages/components/src/components/checkbox/__screenshots__/mobile-safari/mdc-checkbox-ltr.png
  packages/components/src/components/checkbox/__screenshots__/mobile-safari/mdc-checkbox-rtl.png
  packages/components/src/components/checkbox/__screenshots__/msedge/mdc-checkbox-high-contrast.png
  packages/components/src/components/checkbox/__screenshots__/msedge/mdc-checkbox-ltr.png
  packages/components/src/components/checkbox/__screenshots__/msedge/mdc-checkbox-rtl.png
  packages/components/src/components/checkbox/__screenshots__/tablet-chrome/mdc-checkbox-high-contrast.png
  packages/components/src/components/checkbox/__screenshots__/tablet-chrome/mdc-checkbox-ltr.png
  packages/components/src/components/checkbox/__screenshots__/tablet-chrome/mdc-checkbox-rtl.png
  packages/components/src/components/checkbox/__screenshots__/tablet-safari/mdc-checkbox-ltr.png
  packages/components/src/components/checkbox/__screenshots__/tablet-safari/mdc-checkbox-rtl.png
  packages/components/src/components/checkbox/__screenshots__/webkit/mdc-checkbox-ltr.png
  packages/components/src/components/checkbox/__screenshots__/webkit/mdc-checkbox-rtl.png
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/checkbox/checkbox.constants.ts
  packages/components/src/components/checkbox/checkbox.e2e-test.ts
  packages/components/src/components/checkbox/checkbox.stories.ts
  packages/components/src/components/checkbox/checkbox.styles.ts
  packages/components/src/components/checkbox/index.ts
  packages/components/src/index.ts
  packages/components/src/stories/FocusRing/subcomponent-focusring.e2e-test.ts
  packages/components/src/utils/mixins/DataAriaLabelMixin.ts
Labels: validated, Author: Core Team, components

#1031 refactor: input component extending internal label and helper
  packages/components/src/components/formfieldwrapper/formfieldwrapper.constants.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.e2e-test.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.utils.ts
  packages/components/src/components/input/index.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/input/input.constants.ts
  packages/components/src/components/input/input.e2e-test.ts
  packages/components/src/components/input/input.stories.ts
  packages/components/src/components/input/input.styles.ts
  packages/components/src/components/input/input.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1073 docs: create toggle component
  packages/components/src/components/iconprovider/iconprovider.constants.ts
  packages/components/src/components/toggle/__screenshots__/chrome/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/chrome/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/chrome/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/firefox/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/firefox/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/mobile-chrome/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/mobile-chrome/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/mobile-chrome/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/mobile-safari/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/mobile-safari/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/msedge/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/msedge/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/msedge/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/tablet-chrome/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/tablet-chrome/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/tablet-chrome/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/tablet-safari/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/tablet-safari/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/webkit/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/webkit/mdc-toggle-rtl.png
  packages/components/src/components/toggle/index.ts
  packages/components/src/components/toggle/toggle.component.ts
  packages/components/src/components/toggle/toggle.constants.ts
  packages/components/src/components/toggle/toggle.e2e-test.ts
  packages/components/src/components/toggle/toggle.stories.ts
  packages/components/src/components/toggle/toggle.styles.ts
  packages/components/src/components/toggle/toggle.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1082 feat: release toggle component
  packages/components/src/components/toggle/toggle.stories.ts
Labels: validated, Author: Core Team, components

#1080 test: e2e test cases for input component
  packages/components/src/components/formfieldwrapper/__screenshots__/chrome/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/chrome/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/chrome/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/firefox/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/firefox/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-chrome/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-chrome/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-chrome/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-safari/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/mobile-safari/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/msedge/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/msedge/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/msedge/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-chrome/mdc-formfieldwrapper-high-contrast.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-chrome/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-chrome/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-safari/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/tablet-safari/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/formfieldwrapper/__screenshots__/webkit/mdc-formfieldwrapper-ltr.png
  packages/components/src/components/formfieldwrapper/__screenshots__/webkit/mdc-formfieldwrapper-rtl.png
  packages/components/src/components/input/__screenshots__/chrome/mdc-input-high-contrast.png
  packages/components/src/components/input/__screenshots__/chrome/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/chrome/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/firefox/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/firefox/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/mobile-chrome/mdc-input-high-contrast.png
  packages/components/src/components/input/__screenshots__/mobile-chrome/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/mobile-chrome/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/mobile-safari/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/mobile-safari/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/msedge/mdc-input-high-contrast.png
  packages/components/src/components/input/__screenshots__/msedge/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/msedge/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/tablet-chrome/mdc-input-high-contrast.png
  packages/components/src/components/input/__screenshots__/tablet-chrome/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/tablet-chrome/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/tablet-safari/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/tablet-safari/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/webkit/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/webkit/mdc-input-rtl.png
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/input/input.e2e-test.ts
Labels: validated, Author: Core Team, components

#1085 feat: releasing input component
  packages/components/src/components/input/input.stories.ts
Labels: validated, Author: Core Team, components

#1045 chore: init commit of radio component
  packages/components/src/components/radio/__screenshots__/chrome/mdc-radio-high-contrast.png
  packages/components/src/components/radio/__screenshots__/chrome/mdc-radio-ltr.png
  packages/components/src/components/radio/__screenshots__/chrome/mdc-radio-rtl.png
  packages/components/src/components/radio/__screenshots__/firefox/mdc-radio-ltr.png
  packages/components/src/components/radio/__screenshots__/firefox/mdc-radio-rtl.png
  packages/components/src/components/radio/__screenshots__/mobile-chrome/mdc-radio-high-contrast.png
  packages/components/src/components/radio/__screenshots__/mobile-chrome/mdc-radio-ltr.png
  packages/components/src/components/radio/__screenshots__/mobile-chrome/mdc-radio-rtl.png
  packages/components/src/components/radio/__screenshots__/mobile-safari/mdc-radio-ltr.png
  packages/components/src/components/radio/__screenshots__/mobile-safari/mdc-radio-rtl.png
  packages/components/src/components/radio/__screenshots__/msedge/mdc-radio-high-contrast.png
  packages/components/src/components/radio/__screenshots__/msedge/mdc-radio-ltr.png
  packages/components/src/components/radio/__screenshots__/msedge/mdc-radio-rtl.png
  packages/components/src/components/radio/__screenshots__/tablet-chrome/mdc-radio-high-contrast.png
  packages/components/src/components/radio/__screenshots__/tablet-chrome/mdc-radio-ltr.png
  packages/components/src/components/radio/__screenshots__/tablet-chrome/mdc-radio-rtl.png
  packages/components/src/components/radio/__screenshots__/tablet-safari/mdc-radio-ltr.png
  packages/components/src/components/radio/__screenshots__/tablet-safari/mdc-radio-rtl.png
  packages/components/src/components/radio/__screenshots__/webkit/mdc-radio-ltr.png
  packages/components/src/components/radio/__screenshots__/webkit/mdc-radio-rtl.png
  packages/components/src/components/radio/index.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/radio/radio.constants.ts
  packages/components/src/components/radio/radio.e2e-test.ts
  packages/components/src/components/radio/radio.stories.ts
  packages/components/src/components/radio/radio.styles.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1088 feat: release radio component
  packages/components/src/components/radio/radio.stories.ts
Labels: validated, Author: Core Team, components

#1087 feat: release checkbox component
  packages/components/src/components/checkbox/checkbox.stories.ts
Labels: validated, Author: Core Team, components

#1091 docs: input component and updated consumption guide
  packages/components/config/storybook/preview.js
  packages/components/src/Consumption.mdx
  packages/components/src/components/buttonsimple/buttonsimple.stories.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.stories.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/input/input.stories.ts
  packages/components/src/components/modalcontainer/modalcontainer.stories.ts
Labels: validated, Author: Core Team, components

#1089 perf: extract type, add icon name mixin and update changed props
  packages/components/src/components/avatar/avatar.component.ts
  packages/components/src/components/avatar/avatar.constants.ts
  packages/components/src/components/avatarbutton/avatarbutton.component.ts
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
  packages/components/src/components/divider/divider.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.types.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.utils.ts
  packages/components/src/components/link/link.component.ts
  packages/components/src/utils/mixins/AvatarComponentMixin.ts
  packages/components/src/utils/mixins/IconNameMixin.ts
Labels: validated, Author: Core Team, components

#1076 chore: Tab component + storybook
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
  packages/components/src/components/tab/index.ts
  packages/components/src/components/tab/tab.component.ts
  packages/components/src/components/tab/tab.constants.ts
  packages/components/src/components/tab/tab.stories.ts
  packages/components/src/components/tab/tab.styles.ts
  packages/components/src/components/tab/tab.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1081 fix: update styling conventions
  packages/components/conventions/component-naming-guidelines.md
  packages/components/conventions/component-styling.md
Labels: validated, Author: Core Team, components

#1092 chore: iconprovider cache
  packages/components/config/playwright/public/index.html
  packages/components/config/playwright/setup/Components.page.ts
  packages/components/config/storybook/provider/iconProvider.js
  packages/components/src/components/icon/icon.component.ts
  packages/components/src/components/icon/icon.utils.ts
  packages/components/src/components/iconprovider/iconprovider.component.ts
  packages/components/src/components/iconprovider/iconprovider.constants.ts
  packages/components/src/components/iconprovider/iconprovider.context.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.ts
  packages/components/src/components/iconprovider/iconprovider.stories.ts
  packages/components/src/components/iconprovider/iconprovider.stories.utils.ts
Labels: validated, Author: Core Team, components

#1083 chore: build checkbox group component
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/checkboxgroup/checkboxgroup.component.ts
  packages/components/src/components/checkboxgroup/checkboxgroup.constants.ts
  packages/components/src/components/checkboxgroup/checkboxgroup.e2e-test.ts
  packages/components/src/components/checkboxgroup/checkboxgroup.stories.ts
  packages/components/src/components/checkboxgroup/checkboxgroup.styles.ts
  packages/components/src/components/checkboxgroup/index.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1078 feat(virtualizedlist): added component and test
  packages/components/config/esbuild/esbuild-e2e.config.js
  packages/components/config/playwright/public/index.html
  packages/components/package.json
  packages/components/src/components/virtualizedlist/index.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.component.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.constants.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.e2e-test.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.helper.test.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.stories.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.styles.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.test.component.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.types.ts
  packages/components/src/index.ts
  yarn.lock
Labels: validated, Author: Core Team, components

#1098 fix: e2e test script for edge
  packages/components/package.json
Labels: validated, Author: Core Team, components

#1096 test: e2e tests for tab component
  packages/components/src/components/tab/__screenshots__/chrome/mdc-tab-high-contrast.png
  packages/components/src/components/tab/__screenshots__/chrome/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/chrome/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/firefox/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/firefox/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/mobile-chrome/mdc-tab-high-contrast.png
  packages/components/src/components/tab/__screenshots__/mobile-chrome/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/mobile-chrome/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/mobile-safari/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/mobile-safari/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/msedge/mdc-tab-high-contrast.png
  packages/components/src/components/tab/__screenshots__/msedge/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/msedge/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/tablet-chrome/mdc-tab-high-contrast.png
  packages/components/src/components/tab/__screenshots__/tablet-chrome/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/tablet-chrome/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/tablet-safari/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/tablet-safari/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/webkit/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/webkit/mdc-tab-rtl.png
  packages/components/src/components/tab/tab.component.ts
  packages/components/src/components/tab/tab.constants.ts
  packages/components/src/components/tab/tab.e2e-test.ts
Labels: validated, Author: Core Team, components

#1097 feat: Publish Tab component
  packages/components/src/components/tab/tab.stories.ts
Labels: validated, Author: Core Team, components

#1100 feat: release common form field group component
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/checkboxgroup/checkboxgroup.component.ts
  packages/components/src/components/checkboxgroup/checkboxgroup.constants.ts
  packages/components/src/components/checkboxgroup/checkboxgroup.e2e-test.ts
  packages/components/src/components/checkboxgroup/checkboxgroup.stories.ts
  packages/components/src/components/checkboxgroup/index.ts
  packages/components/src/components/formfieldgroup/__screenshots__/chrome/mdc-formfieldgroup-high-contrast.png
  packages/components/src/components/formfieldgroup/__screenshots__/chrome/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/chrome/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/firefox/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/firefox/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/mobile-chrome/mdc-formfieldgroup-high-contrast.png
  packages/components/src/components/formfieldgroup/__screenshots__/mobile-chrome/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/mobile-chrome/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/mobile-safari/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/mobile-safari/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/msedge/mdc-formfieldgroup-high-contrast.png
  packages/components/src/components/formfieldgroup/__screenshots__/msedge/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/msedge/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-chrome/mdc-formfieldgroup-high-contrast.png
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-chrome/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-chrome/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-safari/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-safari/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/webkit/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/webkit/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/formfieldgroup.component.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.constants.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.e2e-test.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.stories.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.styles.ts
  packages/components/src/components/formfieldgroup/index.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.constants.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/toggle/toggle.component.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1102 chore: update form field group component
  packages/components/src/components/formfieldgroup/__screenshots__/chrome/mdc-formfieldgroup-high-contrast.png
  packages/components/src/components/formfieldgroup/__screenshots__/chrome/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/chrome/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/firefox/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/firefox/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/mobile-chrome/mdc-formfieldgroup-high-contrast.png
  packages/components/src/components/formfieldgroup/__screenshots__/mobile-chrome/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/mobile-chrome/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/mobile-safari/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/mobile-safari/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/msedge/mdc-formfieldgroup-high-contrast.png
  packages/components/src/components/formfieldgroup/__screenshots__/msedge/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/msedge/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-chrome/mdc-formfieldgroup-high-contrast.png
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-chrome/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-chrome/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-safari/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-safari/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/__screenshots__/webkit/mdc-formfieldgroup-ltr.png
  packages/components/src/components/formfieldgroup/__screenshots__/webkit/mdc-formfieldgroup-rtl.png
  packages/components/src/components/formfieldgroup/formfieldgroup.component.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.constants.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.e2e-test.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.stories.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.styles.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.constants.ts
Labels: validated, components

#1104 docs: consumption guide updated for Providers
  packages/components/src/Consumption.mdx
Labels: validated, Author: Core Team, components

#1105 chore: added web api cache to iconprovider
  packages/components/config/playwright/public/index.html
  packages/components/config/storybook/provider/iconProvider.js
  packages/components/src/components/icon/icon.component.ts
  packages/components/src/components/icon/icon.utils.ts
  packages/components/src/components/iconprovider/iconprovider.component.ts
  packages/components/src/components/iconprovider/iconprovider.context.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.ts
  packages/components/src/components/iconprovider/iconprovider.stories.ts
  packages/components/src/components/iconprovider/iconprovider.stories.utils.ts
  packages/components/src/index.ts
  packages/components/src/utils/icon-cache/index.ts
Labels: validated, Author: Core Team, components

#1110 feat: export lit templates of icons
  packages/assets/icons/config/momentum.json
  packages/assets/icons/config/templates/lit.ts.hbs
  packages/tools/builder/src/assets/builder/constants.ts
  packages/tools/builder/src/assets/builder/transformer/css-transformer.unit.test.ts
  packages/tools/builder/src/assets/builder/transformer/factory.ts
  packages/tools/builder/src/assets/builder/transformer/lit-transformer.ts
  packages/tools/builder/src/assets/builder/transformer/lit-transformer.unit.test.ts
  packages/tools/builder/src/assets/builder/types.ts
Labels: validated, Author: Core Team, icons, tools

#1106 chore: update tab component as per design changes and styles convention
  packages/components/conventions/component-styling.md
  packages/components/src/components/tab/__screenshots__/chrome/mdc-tab-high-contrast.png
  packages/components/src/components/tab/__screenshots__/chrome/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/chrome/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/firefox/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/firefox/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/mobile-chrome/mdc-tab-high-contrast.png
  packages/components/src/components/tab/__screenshots__/mobile-chrome/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/mobile-chrome/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/mobile-safari/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/mobile-safari/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/msedge/mdc-tab-high-contrast.png
  packages/components/src/components/tab/__screenshots__/msedge/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/msedge/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/tablet-chrome/mdc-tab-high-contrast.png
  packages/components/src/components/tab/__screenshots__/tablet-chrome/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/tablet-chrome/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/tablet-safari/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/tablet-safari/mdc-tab-rtl.png
  packages/components/src/components/tab/__screenshots__/webkit/mdc-tab-ltr.png
  packages/components/src/components/tab/__screenshots__/webkit/mdc-tab-rtl.png
  packages/components/src/components/tab/tab.component.ts
Labels: validated, Author: Core Team, components

#1114 fix: iconprovider consume ts icons
  packages/components/config/playwright/public/index.html
  packages/components/config/storybook/main.js
  packages/components/package.json
  packages/components/src/components/icon/icon.component.ts
  packages/components/src/components/icon/icon.utils.ts
  packages/components/src/components/iconprovider/iconprovider.component.ts
  packages/components/src/components/iconprovider/iconprovider.constants.ts
  packages/components/src/components/iconprovider/iconprovider.context.ts
  packages/components/src/components/iconprovider/iconprovider.e2e-test.ts
  packages/components/src/components/iconprovider/iconprovider.stories.ts
  packages/components/src/components/iconprovider/iconprovider.stories.utils.ts
  packages/components/src/components/iconprovider/iconprovider.types.ts
  yarn.lock
Labels: validated, Author: Core Team, components

#1118 fix: react event passing
  packages/components/config/custom-elements-manifest.config.js
  packages/components/config/plop/templates/add/component/{{componentName}}.component.ts.hbs
  packages/components/conventions/component-tsdoc.md
  packages/components/package.json
  packages/components/scripts/makeReact.js
  packages/components/src/components/avatarbutton/avatarbutton.component.ts
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/tab/tab.component.ts
  packages/components/src/components/toggle/toggle.component.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.component.ts
  yarn.lock
Labels: validated, Author: Core Team, components

#1115 fix: trim white space and empty spaces
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/button/button.stories.ts
Labels: validated, Author: Core Team, components

#1093 chore: build radio group component
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/formfieldgroup/__screenshots__/tablet-chrome/mdc-formfieldgroup-high-contrast.png
  packages/components/src/components/formfieldgroup/formfieldgroup.component.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.e2e-test.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.stories.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.constants.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/radiogroup/__screenshots__/chrome/mdc-radiogroup-high-contrast.png
  packages/components/src/components/radiogroup/__screenshots__/chrome/mdc-radiogroup-ltr.png
  packages/components/src/components/radiogroup/__screenshots__/chrome/mdc-radiogroup-rtl.png
  packages/components/src/components/radiogroup/__screenshots__/firefox/mdc-radiogroup-ltr.png
  packages/components/src/components/radiogroup/__screenshots__/firefox/mdc-radiogroup-rtl.png
  packages/components/src/components/radiogroup/__screenshots__/mobile-chrome/mdc-radiogroup-high-contrast.png
  packages/components/src/components/radiogroup/__screenshots__/mobile-chrome/mdc-radiogroup-ltr.png
  packages/components/src/components/radiogroup/__screenshots__/mobile-chrome/mdc-radiogroup-rtl.png
  packages/components/src/components/radiogroup/__screenshots__/mobile-safari/mdc-radiogroup-ltr.png
  packages/components/src/components/radiogroup/__screenshots__/mobile-safari/mdc-radiogroup-rtl.png
  packages/components/src/components/radiogroup/__screenshots__/msedge/mdc-radiogroup-high-contrast.png
  packages/components/src/components/radiogroup/__screenshots__/msedge/mdc-radiogroup-ltr.png
  packages/components/src/components/radiogroup/__screenshots__/msedge/mdc-radiogroup-rtl.png
  packages/components/src/components/radiogroup/__screenshots__/tablet-chrome/mdc-radiogroup-high-contrast.png
  packages/components/src/components/radiogroup/__screenshots__/tablet-chrome/mdc-radiogroup-ltr.png
  packages/components/src/components/radiogroup/__screenshots__/tablet-chrome/mdc-radiogroup-rtl.png
  packages/components/src/components/radiogroup/__screenshots__/tablet-safari/mdc-radiogroup-ltr.png
  packages/components/src/components/radiogroup/__screenshots__/tablet-safari/mdc-radiogroup-rtl.png
  packages/components/src/components/radiogroup/__screenshots__/webkit/mdc-radiogroup-ltr.png
  packages/components/src/components/radiogroup/__screenshots__/webkit/mdc-radiogroup-rtl.png
  packages/components/src/components/radiogroup/index.ts
  packages/components/src/components/radiogroup/radiogroup.component.ts
  packages/components/src/components/radiogroup/radiogroup.constants.ts
  packages/components/src/components/radiogroup/radiogroup.e2e-test.ts
  packages/components/src/components/radiogroup/radiogroup.stories.ts
  packages/components/src/components/toggle/toggle.component.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1119 feat: release radiogroup component
  packages/components/src/components/radiogroup/radiogroup.stories.ts
Labels: validated, Author: Core Team, components

#988 style(popover): popover styling and focus trap mixin
  packages/components/package.json
  packages/components/src/components/button/button.styles.ts
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
  packages/components/src/components/modalcontainer/modalcontainer.component.ts
  packages/components/src/components/modalcontainer/modalcontainer.constants.ts
  packages/components/src/components/modalcontainer/modalcontainer.e2e-test.ts
  packages/components/src/components/modalcontainer/modalcontainer.stories.ts
  packages/components/src/components/modalcontainer/modalcontainer.styles.ts
  packages/components/src/components/modalcontainer/modalcontainer.types.ts
  packages/components/src/components/popover/index.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.constants.ts
  packages/components/src/components/popover/popover.e2e-test.ts
  packages/components/src/components/popover/popover.events.ts
  packages/components/src/components/popover/popover.stack.ts
  packages/components/src/components/popover/popover.stories.ts
  packages/components/src/components/popover/popover.styles.ts
  packages/components/src/components/popover/popover.types.ts
  packages/components/src/components/popover/popover.utils.ts
  packages/components/src/index.ts
  packages/components/src/utils/mixins/DataAriaDescribedbyMixin.ts
  packages/components/src/utils/mixins/DataAriaLabelledbyMixin.ts
  packages/components/src/utils/mixins/FocusTrapMixin.ts
  yarn.lock
Labels: validated, Author: Core Team, components

#1120 style: scrollbar styling
  packages/components/src/components/themeprovider/themeprovider.component.ts
  packages/components/src/components/themeprovider/themeprovider.stories.ts
  packages/components/src/components/themeprovider/themeprovider.styles.ts
Labels: validated, Author: Core Team, components
