Repository momentum-design/momentum-design, pull requests merged in 2025-10, with the labels that each got.

#1570 fix: add webkit-font-smoothing
  packages/components/config/storybook/provider/overrides.css
  packages/components/src/docs/Consumption.mdx
Labels: validated, Author: Core Team, components

#1565 refactor: badge component adjustments
  packages/components/src/components/badge/badge.component.ts
  packages/components/src/components/badge/badge.constants.ts
  packages/components/src/components/badge/badge.styles.ts
Labels: validated, components

#1554 fix(storybook): render short description for stories
  packages/components/config/storybook/preview.jsx
  packages/components/config/storybook/provider/storyDescription.js
  packages/components/src/components/button/button.stories.ts
Labels: validated, Author: Core Team, components

#1577 fix(utils): element store handle host disconnection properly
  packages/components/src/utils/controllers/ElementStore.ts
Labels: validated, Author: Core Team, components

#1584 fix(searchfield): hide webkit search cancel button on hover
  packages/components/src/components/searchfield/searchfield.styles.ts
Labels: validated, Author: Core Team, components

#1585 fix: Add yarn resolution for form-data to fix vulnerability
  package.json
  yarn.lock
Labels: validated, Author: Core Team
