Repository momentum-design/momentum-design, pull requests merged in 2025-04, with the labels that each got.

#1188 feat: laser-pointer icon update
  packages/assets/icons/src/core/laser-pointer-bold.svg
  packages/assets/icons/src/core/laser-pointer-filled.svg
  packages/assets/icons/src/core/laser-pointer-light.svg
  packages/assets/icons/src/core/laser-pointer-regular.svg
Labels: validated, icons

#1190 fix: add brand visuals to dependencies in components
  packages/components/package.json
  yarn.lock
Labels: validated, components

#1184 feat: screenreader announcement component
  packages/components/src/components/screenreaderannouncer/index.ts
  packages/components/src/components/screenreaderannouncer/screenreaderannouncer.component.ts
  packages/components/src/components/screenreaderannouncer/screenreaderannouncer.constants.ts
  packages/components/src/components/screenreaderannouncer/screenreaderannouncer.e2e-test.ts
  packages/components/src/components/screenreaderannouncer/screenreaderannouncer.stories.ts
  packages/components/src/components/screenreaderannouncer/screenreaderannouncer.styles.ts
  packages/components/src/components/screenreaderannouncer/screenreaderannouncer.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1189 fix: added event listeners on container
  packages/components/src/components/searchfield/searchfield.component.ts
Labels: validated, Author: Core Team, components

#1191 feat: Added arrow-pointer-cursor
  packages/assets/icons/src/colored/arrow-pointer-cursor-light.svg
Labels: validated, icons

#1195 fix: react event types
  packages/components/config/custom-elements-manifest.config.js
  packages/components/config/plop/templates/add/component/{{componentName}}.types.ts.hbs
  packages/components/conventions/component-tsdoc.md
  packages/components/scripts/makeReact.js
  packages/components/src/components/alertchip/alertchip.types.ts
  packages/components/src/components/avatar/avatar.types.ts
  packages/components/src/components/badge/badge.types.ts
  packages/components/src/components/brandvisual/brandvisual.types.ts
  packages/components/src/components/bullet/bullet.types.ts
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/button/button.types.ts
  packages/components/src/components/buttonsimple/buttonsimple.types.ts
  packages/components/src/components/checkbox/checkbox.types.ts
  packages/components/src/components/chip/chip.types.ts
  packages/components/src/components/divider/divider.types.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.types.ts
  packages/components/src/components/input/input.types.ts
  packages/components/src/components/inputchip/inputchip.types.ts
  packages/components/src/components/link/link.types.ts
  packages/components/src/components/listitem/listitem.types.ts
  packages/components/src/components/marker/marker.types.ts
  packages/components/src/components/popover/popover.types.ts
  packages/components/src/components/presence/presence.types.ts
  packages/components/src/components/progressbar/progressbar.types.ts
  packages/components/src/components/radio/radio.types.ts
  packages/components/src/components/screenreaderannouncer/screenreaderannouncer.types.ts
  packages/components/src/components/spinner/spinner.types.ts
  packages/components/src/components/tab/tab.types.ts
  packages/components/src/components/text/text.types.ts
  packages/components/src/components/textarea/textarea.types.ts
  packages/components/src/components/toggle/toggle.types.ts
  packages/components/src/components/tooltip/tooltip.types.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.types.ts
Labels: validated, Author: Core Team, components

#1192 Feat: Design token updates
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: tokens

#1173 perf: Build select component
  packages/components/config/storybook/utils.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.component.ts
  packages/components/src/components/list/list.component.ts
  packages/components/src/components/list/list.constants.ts
  packages/components/src/components/listitem/listitem.component.ts
  packages/components/src/components/listitem/listitem.styles.ts
  packages/components/src/components/optgroup/__screenshots__/firefox/mdc-optgroup-rtl.png
  packages/components/src/components/option/__screenshots__/firefox/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/mobile-chrome/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/tablet-chrome/mdc-option-rtl.png
  packages/components/src/components/option/index.ts
  packages/components/src/components/option/option.component.ts
  packages/components/src/components/option/option.constants.ts
  packages/components/src/components/option/option.stories.ts
  packages/components/src/components/option/option.styles.ts
  packages/components/src/components/option/option.types.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.styles.ts
  packages/components/src/components/select/index.ts
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.constants.ts
  packages/components/src/components/select/select.e2e-test.ts
  packages/components/src/components/select/select.stories.ts
  packages/components/src/components/select/select.styles.ts
  packages/components/src/components/select/select.types.ts
  packages/components/src/index.ts
  packages/components/src/utils/keys.ts
Labels: validated, Author: Core Team, components

#1200 fix: prevent buttonsimple space default
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
Labels: validated, Author: Core Team, components

#1201 feat: Design token updates
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#1202 feat: Added new icon
  packages/assets/icons/src/core/dock-window-bold.svg
  packages/assets/icons/src/core/dock-window-light.svg
  packages/assets/icons/src/core/dock-window-regular.svg
Labels: validated, icons

#1207 fix: update showPopover prop to displayPopover to resolve ts issue
  packages/components/src/components/select/select.component.ts
Labels: validated, Author: Core Team, components

#1130 chore: Tablist Component
  packages/components/src/components/tab/tab.component.ts
  packages/components/src/components/tab/tab.e2e-test.ts
  packages/components/src/components/tab/tab.stories.ts
  packages/components/src/components/tab/tab.styles.ts
  packages/components/src/components/tablist/index.ts
  packages/components/src/components/tablist/tablist.component.ts
  packages/components/src/components/tablist/tablist.constants.ts
  packages/components/src/components/tablist/tablist.stories.ts
  packages/components/src/components/tablist/tablist.styles.ts
  packages/components/src/components/tablist/tablist.types.ts
  packages/components/src/components/tablist/tablist.utils.ts
  packages/components/src/index.ts
  packages/components/src/utils/styles/index.ts
Labels: validated, Author: Core Team, components

#1206 fix: removed tooltip show arrow override
  packages/components/src/components/tooltip/tooltip.component.ts
  packages/components/src/components/tooltip/tooltip.e2e-test.ts
Labels: validated, Author: Core Team, components

#1203 feat: build progress spinner component
  packages/components/src/components/progressbar/progressbar.component.ts
  packages/components/src/components/progressspinner/__screenshots__/chrome/mdc-progressspinner-variants-high-contrast.png
  packages/components/src/components/progressspinner/__screenshots__/chrome/mdc-progressspinner-variants-ltr.png
  packages/components/src/components/progressspinner/__screenshots__/chrome/mdc-progressspinner-variants-rtl.png
  packages/components/src/components/progressspinner/__screenshots__/firefox/mdc-progressspinner-variants-ltr.png
  packages/components/src/components/progressspinner/__screenshots__/firefox/mdc-progressspinner-variants-rtl.png
  packages/components/src/components/progressspinner/__screenshots__/mobile-chrome/mdc-progressspinner-variants-high-contrast.png
  packages/components/src/components/progressspinner/__screenshots__/mobile-chrome/mdc-progressspinner-variants-ltr.png
  packages/components/src/components/progressspinner/__screenshots__/mobile-chrome/mdc-progressspinner-variants-rtl.png
  packages/components/src/components/progressspinner/__screenshots__/mobile-safari/mdc-progressspinner-variants-ltr.png
  packages/components/src/components/progressspinner/__screenshots__/mobile-safari/mdc-progressspinner-variants-rtl.png
  packages/components/src/components/progressspinner/__screenshots__/msedge/mdc-progressspinner-variants-high-contrast.png
  packages/components/src/components/progressspinner/__screenshots__/msedge/mdc-progressspinner-variants-ltr.png
  packages/components/src/components/progressspinner/__screenshots__/msedge/mdc-progressspinner-variants-rtl.png
  packages/components/src/components/progressspinner/__screenshots__/tablet-chrome/mdc-progressspinner-variants-high-contrast.png
  packages/components/src/components/progressspinner/__screenshots__/tablet-chrome/mdc-progressspinner-variants-ltr.png
  packages/components/src/components/progressspinner/__screenshots__/tablet-chrome/mdc-progressspinner-variants-rtl.png
  packages/components/src/components/progressspinner/__screenshots__/tablet-safari/mdc-progressspinner-variants-ltr.png
  packages/components/src/components/progressspinner/__screenshots__/tablet-safari/mdc-progressspinner-variants-rtl.png
  packages/components/src/components/progressspinner/__screenshots__/webkit/mdc-progressspinner-variants-ltr.png
  packages/components/src/components/progressspinner/__screenshots__/webkit/mdc-progressspinner-variants-rtl.png
  packages/components/src/components/progressspinner/index.ts
  packages/components/src/components/progressspinner/progressspiner.utils.ts
  packages/components/src/components/progressspinner/progressspinner.component.ts
  packages/components/src/components/progressspinner/progressspinner.constants.ts
  packages/components/src/components/progressspinner/progressspinner.e2e-test.ts
  packages/components/src/components/progressspinner/progressspinner.stories.ts
  packages/components/src/components/progressspinner/progressspinner.styles.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1209 style: updated disabled background token
  packages/components/src/components/input/__screenshots__/chrome/mdc-input-high-contrast.png
  packages/components/src/components/input/__screenshots__/chrome/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/chrome/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/firefox/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/firefox/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/mobile-chrome/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/mobile-chrome/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/mobile-safari/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/mobile-safari/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/msedge/mdc-input-high-contrast.png
  packages/components/src/components/input/__screenshots__/msedge/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/msedge/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/tablet-chrome/mdc-input-high-contrast.png
  packages/components/src/components/input/__screenshots__/tablet-chrome/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/tablet-chrome/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/tablet-safari/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/tablet-safari/mdc-input-rtl.png
  packages/components/src/components/input/__screenshots__/webkit/mdc-input-ltr.png
  packages/components/src/components/input/__screenshots__/webkit/mdc-input-rtl.png
  packages/components/src/components/input/input.styles.ts
  packages/components/src/components/searchfield/__screenshots__/chrome/mdc-searchfield-high-contrast.png
  packages/components/src/components/searchfield/__screenshots__/chrome/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/chrome/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/firefox/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/firefox/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/mobile-chrome/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/mobile-chrome/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/mobile-safari/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/mobile-safari/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/msedge/mdc-searchfield-high-contrast.png
  packages/components/src/components/searchfield/__screenshots__/msedge/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/msedge/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/tablet-chrome/mdc-searchfield-high-contrast.png
  packages/components/src/components/searchfield/__screenshots__/tablet-chrome/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/tablet-chrome/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/tablet-safari/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/tablet-safari/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/webkit/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/webkit/mdc-searchfield-rtl.png
  packages/components/src/components/textarea/__screenshots__/chrome/mdc-textarea-high-contrast.png
  packages/components/src/components/textarea/__screenshots__/chrome/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/chrome/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/firefox/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/firefox/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/mobile-chrome/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/mobile-chrome/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/mobile-safari/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/mobile-safari/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/msedge/mdc-textarea-high-contrast.png
  packages/components/src/components/textarea/__screenshots__/msedge/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/msedge/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/tablet-chrome/mdc-textarea-high-contrast.png
  packages/components/src/components/textarea/__screenshots__/tablet-chrome/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/tablet-chrome/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/tablet-safari/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/tablet-safari/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/webkit/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/webkit/mdc-textarea-rtl.png
  packages/components/src/components/textarea/textarea.styles.ts
Labels: validated, Author: Core Team, components

#1212 fix: rm forminternalsmixin to fix angular createElement issue
  packages/components/src/components/option/option.component.ts
  packages/components/src/utils/mixins/FormInternalsMixin.ts
Labels: validated, Author: Core Team, components

#1215 fix: refactor Button component sizing
  packages/components/src/components/button/button.component.ts
  packages/components/src/components/button/button.styles.ts
  packages/components/src/components/button/button.utils.ts
Labels: validated, Author: Core Team, components

#1213 chore: update a11y on select and other minor changes
  packages/components/src/components/option/option.component.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.utils.ts
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.styles.ts
Labels: validated, Author: Core Team, components

#1220 fix: refactor link component to use host approach
  packages/components/src/components/link/__screenshots__/chrome/mdc-link-high-contrast.png
  packages/components/src/components/link/__screenshots__/mobile-chrome/mdc-link-high-contrast.png
  packages/components/src/components/link/__screenshots__/msedge/mdc-link-high-contrast.png
  packages/components/src/components/link/__screenshots__/tablet-chrome/mdc-link-high-contrast.png
  packages/components/src/components/link/link.component.ts
  packages/components/src/components/link/link.e2e-test.ts
  packages/components/src/components/link/link.stories.ts
  packages/components/src/components/link/link.styles.ts
  packages/components/src/components/link/link.types.ts
Labels: validated, components

#1230 fix: button-active-filled-iconname
  packages/components/src/components/button/button.component.ts
Labels: validated, Author: Core Team, components

#1221 fix: add overflow for popover on update position
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/firefox/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/firefox/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/mobile-safari/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/mobile-safari/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/tablet-safari/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/tablet-safari/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/webkit/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/webkit/mdc-popover-rtl.png
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.e2e-test.ts
  packages/components/src/components/popover/popover.stories.ts
  packages/components/src/components/popover/popover.styles.ts
  packages/components/src/components/select/select.component.ts
  packages/components/src/components/select/select.stories.ts
  packages/components/src/components/tooltip/tooltip.stories.ts
Labels: validated, Author: Core Team, components

#1233 feat: Added new device images
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsevenfive.svg
  packages/assets/brand-visuals/src/images/device-deskphone eighteightsixsix.svg
  packages/assets/brand-visuals/src/images/device-deskphone nineeightfiveone.png
  packages/assets/brand-visuals/src/images/device-deskphone nineeightfourone.png
  packages/assets/brand-visuals/src/images/device-deskphone nineeightsevenone.png
  packages/assets/brand-visuals/src/images/device-deskphone nineeightsixone.png
  packages/assets/brand-visuals/src/images/device-deskpro.svg
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfiveone.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfourfive.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightfourone.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightoneone.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightsixfive.png
  packages/assets/brand-visuals/src/images/device-ip phone eighteightsixone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneightfourone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneightoneone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneightsixone.png
  packages/assets/brand-visuals/src/images/device-ip phone seveneighttwoone.png
  packages/assets/brand-visuals/src/images/device-phoenix.svg
  packages/assets/brand-visuals/src/images/device-telepresence dxsevenzero.svg
  packages/assets/brand-visuals/src/images/device-telepresence ixfivezerozerozero.svg
  packages/assets/brand-visuals/src/images/device-telepresence mxeightzerozero dual.svg
  packages/assets/brand-visuals/src/images/device-telepresence mxtwozerozero gtwo.svg
  packages/assets/brand-visuals/src/images/device-telepresence sxeightzero.svg
  packages/assets/brand-visuals/src/images/device-telepresence sxonezero.svg
  packages/assets/brand-visuals/src/images/device-webex board fivefive.svg
  packages/assets/brand-visuals/src/images/device-webex room bar.svg
  packages/assets/brand-visuals/src/images/device-webex room fivefive.svg
  packages/assets/brand-visuals/src/images/device-webex room kit mini.svg
  packages/assets/brand-visuals/src/images/device-webex room kit plus.svg
  packages/assets/brand-visuals/src/images/device-webex room kit.svg
  packages/assets/brand-visuals/src/images/device-webex room sevenzero dual.svg
  packages/assets/brand-visuals/src/images/device-webex room sevenzero.svg
  packages/assets/brand-visuals/src/images/device-webex share.svg
Labels: validated, brand-visuals

#1239 fix: update delete file from null to const in figma plugin
  packages/tools/figma-plugins/assets-export/src/ui/models/github.ts
Labels: validated, Author: Core Team, tools

#1245 docs: update docs with steps to start docs and fix logos path
  packages/documentation/CONTRIBUTING.md
  packages/documentation/src/components/BrandVisualsTable/BrandVisualsTable.tsx
Labels: validated, Author: Core Team, docs

#1250 feat: release ButtonLink component
  packages/components/src/components/buttonlink/buttonlink.stories.ts
Labels: validated, Author: Core Team, components

#1243 feat: Various icon updates (including deprecation of various icons)
  packages/assets/icons/src/colored/spinner-bold.svg
  packages/assets/icons/src/colored/spinner-in-progress-bold.svg
  packages/assets/icons/src/colored/spinner-in-progress-light.svg
  packages/assets/icons/src/colored/spinner-in-progress-regular.svg
  packages/assets/icons/src/colored/spinner-light.svg
  packages/assets/icons/src/colored/spinner-regular.svg
  packages/assets/icons/src/core/alternate-response-bold.svg
  packages/assets/icons/src/core/alternate-response-light.svg
  packages/assets/icons/src/core/alternate-response-regular.svg
  packages/assets/icons/src/core/channel-ussd-bold.svg
  packages/assets/icons/src/core/channel-ussd-light.svg
  packages/assets/icons/src/core/channel-ussd-regular.svg
  packages/assets/icons/src/core/chat-outbound-filled.svg
  packages/assets/icons/src/core/cisco-ai-assistant-solid-bold.svg
  packages/assets/icons/src/core/closed-captions-bold.svg
  packages/assets/icons/src/core/closed-captions-filled.svg
  packages/assets/icons/src/core/closed-captions-light.svg
  packages/assets/icons/src/core/closed-captions-regular.svg
  packages/assets/icons/src/core/follow-up-bold.svg
  packages/assets/icons/src/core/follow-up-light.svg
  packages/assets/icons/src/core/follow-up-regular.svg
  packages/assets/icons/src/core/frequency-capping-bold.svg
  packages/assets/icons/src/core/frequency-capping-light.svg
  packages/assets/icons/src/core/frequency-capping-regular.svg
  packages/assets/icons/src/core/interaction-bold.svg
  packages/assets/icons/src/core/interaction-filled.svg
  packages/assets/icons/src/core/interaction-light.svg
  packages/assets/icons/src/core/interaction-regular.svg
  packages/assets/icons/src/core/mms-filled.svg
  packages/assets/icons/src/core/save-transcript-bold.svg
  packages/assets/icons/src/core/save-transcript-filled.svg
  packages/assets/icons/src/core/save-transcript-light.svg
  packages/assets/icons/src/core/save-transcript-regular.svg
  packages/assets/icons/src/core/sms-filled.svg
  packages/assets/icons/src/core/sms-inbound-bold.svg
  packages/assets/icons/src/core/sms-inbound-light.svg
  packages/assets/icons/src/core/sms-inbound-regular.svg
  packages/assets/icons/src/core/sms-outgoing-filled.svg
  packages/assets/icons/src/core/survey-bold.svg
  packages/assets/icons/src/core/survey-filled.svg
  packages/assets/icons/src/core/survey-light.svg
  packages/assets/icons/src/core/survey-regular.svg
  packages/assets/icons/src/core/webex-helix-bold.svg
  packages/assets/icons/src/core/webex-helix-light.svg
  packages/assets/icons/src/core/webex-helix-regular.svg
Labels: validated, icons

#1251 fix: update logos svg path on brand visual docs
  packages/documentation/src/components/BrandVisualsTable/BrandVisualsTable.tsx
Labels: validated, Author: Core Team, docs

#1235 test: tablist e2e test cases
  packages/components/config/playwright/setup/types.ts
  packages/components/config/playwright/setup/utils/accessibility.ts
  packages/components/config/playwright/setup/utils/actionability.ts
  packages/components/config/playwright/setup/utils/visual-regression.ts
  packages/components/src/components/tablist/__screenshots__/chrome/mdc-tablist-high-contrast.png
  packages/components/src/components/tablist/__screenshots__/chrome/mdc-tablist-ltr.png
  packages/components/src/components/tablist/__screenshots__/chrome/mdc-tablist-rtl.png
  packages/components/src/components/tablist/__screenshots__/chrome/mdc-tablist-userflow-backward-arrow-focused.png
  packages/components/src/components/tablist/__screenshots__/chrome/mdc-tablist-userflow-backward-arrow-pressed-and-focused.png
  packages/components/src/components/tablist/__screenshots__/chrome/mdc-tablist-userflow-forward-arrow-focused.png
  packages/components/src/components/tablist/__screenshots__/chrome/mdc-tablist-userflow-forward-arrow-pressed-and-focused.png
  packages/components/src/components/tablist/__screenshots__/firefox/mdc-tablist-ltr.png
  packages/components/src/components/tablist/__screenshots__/firefox/mdc-tablist-rtl.png
  packages/components/src/components/tablist/__screenshots__/firefox/mdc-tablist-userflow-backward-arrow-focused.png
  packages/components/src/components/tablist/__screenshots__/firefox/mdc-tablist-userflow-backward-arrow-pressed-and-focused.png
  packages/components/src/components/tablist/__screenshots__/firefox/mdc-tablist-userflow-forward-arrow-focused.png
  packages/components/src/components/tablist/__screenshots__/firefox/mdc-tablist-userflow-forward-arrow-pressed-and-focused.png
  packages/components/src/components/tablist/__screenshots__/mobile-chrome/mdc-tablist-high-contrast.png
  packages/components/src/components/tablist/__screenshots__/mobile-chrome/mdc-tablist-ltr.png
  packages/components/src/components/tablist/__screenshots__/mobile-chrome/mdc-tablist-rtl.png
  packages/components/src/components/tablist/__screenshots__/mobile-safari/mdc-tablist-ltr.png
  packages/components/src/components/tablist/__screenshots__/mobile-safari/mdc-tablist-rtl.png
  packages/components/src/components/tablist/__screenshots__/msedge/mdc-tablist-high-contrast.png
  packages/components/src/components/tablist/__screenshots__/msedge/mdc-tablist-ltr.png
  packages/components/src/components/tablist/__screenshots__/msedge/mdc-tablist-rtl.png
  packages/components/src/components/tablist/__screenshots__/msedge/mdc-tablist-userflow-backward-arrow-focused.png
  packages/components/src/components/tablist/__screenshots__/msedge/mdc-tablist-userflow-backward-arrow-pressed-and-focused.png
  packages/components/src/components/tablist/__screenshots__/msedge/mdc-tablist-userflow-forward-arrow-focused.png
  packages/components/src/components/tablist/__screenshots__/msedge/mdc-tablist-userflow-forward-arrow-pressed-and-focused.png
  packages/components/src/components/tablist/__screenshots__/tablet-chrome/mdc-tablist-high-contrast.png
  packages/components/src/components/tablist/__screenshots__/tablet-chrome/mdc-tablist-ltr.png
  packages/components/src/components/tablist/__screenshots__/tablet-chrome/mdc-tablist-rtl.png
  packages/components/src/components/tablist/__screenshots__/tablet-chrome/mdc-tablist-userflow-forward-arrow-focused.png
  packages/components/src/components/tablist/__screenshots__/tablet-safari/mdc-tablist-ltr.png
  packages/components/src/components/tablist/__screenshots__/tablet-safari/mdc-tablist-rtl.png
  packages/components/src/components/tablist/__screenshots__/webkit/mdc-tablist-ltr.png
  packages/components/src/components/tablist/__screenshots__/webkit/mdc-tablist-rtl.png
  packages/components/src/components/tablist/__screenshots__/webkit/mdc-tablist-userflow-backward-arrow-focused.png
  packages/components/src/components/tablist/__screenshots__/webkit/mdc-tablist-userflow-backward-arrow-pressed-and-focused.png
  packages/components/src/components/tablist/__screenshots__/webkit/mdc-tablist-userflow-forward-arrow-focused.png
  packages/components/src/components/tablist/__screenshots__/webkit/mdc-tablist-userflow-forward-arrow-pressed-and-focused.png
  packages/components/src/components/tablist/index.ts
  packages/components/src/components/tablist/tablist.component.ts
  packages/components/src/components/tablist/tablist.e2e-test.ts
  packages/components/src/components/tablist/tablist.stories.ts
Labels: validated, Author: Core Team, components

#1254 feat: release tablist component
  packages/components/src/components/staticcheckbox/staticcheckbox.stories.ts
  packages/components/src/components/staticradio/staticradio.stories.ts
  packages/components/src/components/tablist/tablist.stories.ts
Labels: validated, Author: Core Team, components

#1229 Feat: Theme Token Update
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#1249 perf: build menu item component
  packages/components/src/components/listitem/index.ts
  packages/components/src/components/listitem/listitem.component.ts
  packages/components/src/components/listitem/listitem.stories.ts
  packages/components/src/components/menuitem/index.ts
  packages/components/src/components/menuitem/menuitem.component.ts
  packages/components/src/components/menuitem/menuitem.constants.ts
  packages/components/src/components/menuitem/menuitem.e2e-test.ts
  packages/components/src/components/menuitem/menuitem.stories.ts
  packages/components/src/components/menuitem/menuitem.types.ts
  packages/components/src/components/optgroup/optgroup.stories.ts
  packages/components/src/components/option/option.component.ts
  packages/components/src/components/option/option.stories.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1224 docs: card component and storybook documentation
  packages/components/src/components/card/card.component.ts
  packages/components/src/components/card/card.constants.ts
  packages/components/src/components/card/card.e2e-test.ts
  packages/components/src/components/card/card.stories.ts
  packages/components/src/components/card/card.styles.ts
  packages/components/src/components/card/card.types.ts
  packages/components/src/components/card/index.ts
  packages/components/src/components/cardbutton/cardbutton.component.ts
  packages/components/src/components/cardbutton/cardbutton.constants.ts
  packages/components/src/components/cardbutton/cardbutton.e2e-test.ts
  packages/components/src/components/cardbutton/cardbutton.stories.ts
  packages/components/src/components/cardbutton/cardbutton.styles.ts
  packages/components/src/components/cardbutton/cardbutton.types.ts
  packages/components/src/components/cardbutton/index.ts
  packages/components/src/components/cardcheckbox/cardcheckbox.component.ts
  packages/components/src/components/cardcheckbox/cardcheckbox.constants.ts
  packages/components/src/components/cardcheckbox/cardcheckbox.e2e-test.ts
  packages/components/src/components/cardcheckbox/cardcheckbox.stories.ts
  packages/components/src/components/cardcheckbox/cardcheckbox.styles.ts
  packages/components/src/components/cardcheckbox/cardcheckbox.types.ts
  packages/components/src/components/cardcheckbox/index.ts
  packages/components/src/components/cardradio/cardradio.component.ts
  packages/components/src/components/cardradio/cardradio.constants.ts
  packages/components/src/components/cardradio/cardradio.e2e-test.ts
  packages/components/src/components/cardradio/cardradio.stories.ts
  packages/components/src/components/cardradio/cardradio.styles.ts
  packages/components/src/components/cardradio/cardradio.types.ts
  packages/components/src/components/cardradio/index.ts
  packages/components/src/components/radiogroup/radiogroup.component.ts
  packages/components/src/index.ts
  packages/components/src/utils/mixins/CardComponentMixin.ts
Labels: validated, Author: Core Team, components
