Repository momentum-design/momentum-design, pull requests merged in 2025-03, with the labels that each got.

#1103 refactor: form internals and validation using mixin
  packages/components/src/components/button/button.stories.ts
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/checkbox/checkbox.stories.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.component.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/input/input.stories.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/radio/radio.stories.ts
  packages/components/src/components/radio/radio.styles.ts
  packages/components/src/components/radiogroup/radiogroup.component.ts
  packages/components/src/components/radiogroup/radiogroup.stories.ts
  packages/components/src/components/themeprovider/themeprovider.component.ts
  packages/components/src/components/toggle/toggle.component.ts
  packages/components/src/components/toggle/toggle.constants.ts
  packages/components/src/components/toggle/toggle.stories.ts
  packages/components/src/utils/mixins/FormInternalsMixin.ts
  packages/components/src/utils/mixins/NameMixin.ts
  packages/components/src/utils/mixins/ReadonlyMixin.ts
  packages/components/src/utils/mixins/RequiredMixin.ts
  packages/components/src/utils/mixins/ValueMixin.ts
Labels: validated, Author: Core Team, components

#1117 refactor: Refactor css classes with parts in Avatar and Virtualized List
  packages/components/src/components/avatar/avatar.component.ts
  packages/components/src/components/avatar/avatar.e2e-test.ts
  packages/components/src/components/avatar/avatar.styles.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.component.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.styles.ts
Labels: validated, Author: Core Team, components

#1123 fix(VirtualizedList): Rendering logic
  packages/components/src/components/virtualizedlist/virtualizedlist.component.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.helper.test.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.stories.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.test.component.ts
Labels: validated, Author: Core Team, components

#1121 fix: style for toggle component
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.component.ts
  packages/components/src/components/input/input.e2e-test.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/toggle/__screenshots__/chrome/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/chrome/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/chrome/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/firefox/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/firefox/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/mobile-chrome/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/mobile-chrome/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/mobile-chrome/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/mobile-safari/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/mobile-safari/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/msedge/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/msedge/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/msedge/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/tablet-chrome/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/tablet-chrome/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/tablet-chrome/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/tablet-safari/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/tablet-safari/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/webkit/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/webkit/mdc-toggle-rtl.png
  packages/components/src/components/toggle/toggle.stories.ts
  packages/components/src/components/toggle/toggle.styles.ts
Labels: validated, Author: Core Team, components

#1128 style: helptexttype on input focus
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/input/input.styles.ts
Labels: validated, Author: Core Team, components

#1112 perf: build list and listitem components
  packages/components/src/components/list/index.ts
  packages/components/src/components/list/list.component.ts
  packages/components/src/components/list/list.constants.ts
  packages/components/src/components/list/list.e2e-test.ts
  packages/components/src/components/list/list.stories.ts
  packages/components/src/components/list/list.styles.ts
  packages/components/src/components/listitem/index.ts
  packages/components/src/components/listitem/listitem.component.ts
  packages/components/src/components/listitem/listitem.constants.ts
  packages/components/src/components/listitem/listitem.e2e-test.ts
  packages/components/src/components/listitem/listitem.stories.ts
  packages/components/src/components/listitem/listitem.styles.ts
  packages/components/src/components/listitem/listitem.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1129 refactor: random generation of id added individually
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/toggle/toggle.component.ts
  packages/components/src/utils/mixins/FormInternalsMixin.ts
Labels: validated, Author: Core Team, components

#1125 feat: Design token updates
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
Labels: validated, tokens

#1131 refactor: remove forminternalmixin on button
  packages/components/src/components/buttonsimple/buttonsimple.component.ts
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/toggle/toggle.component.ts
  packages/components/src/utils/mixins/FormInternalsMixin.ts
Labels: validated, Author: Core Team, components

#1132 feat: added support for new themes
  packages/assets/tokens/config/tokens/additional-themes.json
  packages/assets/tokens/config/tokens/core.json
  packages/assets/tokens/package.json
  packages/assets/tokens/scripts/build-components-css.js
  packages/assets/tokens/src/additionaltheme/dark/bronze.json
  packages/assets/tokens/src/additionaltheme/dark/indigo.json
  packages/assets/tokens/src/additionaltheme/dark/jade.json
  packages/assets/tokens/src/additionaltheme/dark/lavender.json
  packages/assets/tokens/src/additionaltheme/dark/rose.json
  packages/assets/tokens/src/additionaltheme/light/bronze.json
  packages/assets/tokens/src/additionaltheme/light/indigo.json
  packages/assets/tokens/src/additionaltheme/light/jade.json
  packages/assets/tokens/src/additionaltheme/light/lavender.json
  packages/assets/tokens/src/additionaltheme/light/rose.json
  packages/components/config/storybook/provider/overrides.css
  packages/components/config/storybook/provider/themeProvider.js
  packages/components/config/storybook/themes/index.js
  packages/components/config/storybook/themes/themes.css
  packages/components/src/Consumption.mdx
  packages/components/src/components/themeprovider/themeprovider.component.ts
  packages/documentation/src/pages/en/tokens/theme-stable.astro
Labels: validated, Author: Core Team, components, tokens, docs

#1135 chore: specs for list and listitem component
  packages/components/config/playwright/setup/utils/Stickersheet.ts
  packages/components/src/components/checkbox/checkbox.styles.ts
  packages/components/src/components/divider/divider.e2e-test.ts
  packages/components/src/components/list/__screenshots__/chrome/mdc-list-high-contrast.png
  packages/components/src/components/list/__screenshots__/chrome/mdc-list-ltr.png
  packages/components/src/components/list/__screenshots__/chrome/mdc-list-rtl.png
  packages/components/src/components/list/__screenshots__/firefox/mdc-list-ltr.png
  packages/components/src/components/list/__screenshots__/firefox/mdc-list-rtl.png
  packages/components/src/components/list/__screenshots__/mobile-chrome/mdc-list-high-contrast.png
  packages/components/src/components/list/__screenshots__/mobile-chrome/mdc-list-ltr.png
  packages/components/src/components/list/__screenshots__/mobile-chrome/mdc-list-rtl.png
  packages/components/src/components/list/__screenshots__/mobile-safari/mdc-list-ltr.png
  packages/components/src/components/list/__screenshots__/mobile-safari/mdc-list-rtl.png
  packages/components/src/components/list/__screenshots__/msedge/mdc-list-high-contrast.png
  packages/components/src/components/list/__screenshots__/msedge/mdc-list-ltr.png
  packages/components/src/components/list/__screenshots__/msedge/mdc-list-rtl.png
  packages/components/src/components/list/__screenshots__/tablet-chrome/mdc-list-high-contrast.png
  packages/components/src/components/list/__screenshots__/tablet-chrome/mdc-list-ltr.png
  packages/components/src/components/list/__screenshots__/tablet-chrome/mdc-list-rtl.png
  packages/components/src/components/list/__screenshots__/tablet-safari/mdc-list-ltr.png
  packages/components/src/components/list/__screenshots__/tablet-safari/mdc-list-rtl.png
  packages/components/src/components/list/__screenshots__/webkit/mdc-list-ltr.png
  packages/components/src/components/list/__screenshots__/webkit/mdc-list-rtl.png
  packages/components/src/components/list/list.e2e-test.ts
  packages/components/src/components/list/list.stories.ts
  packages/components/src/components/listitem/__screenshots__/chrome/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/chrome/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/chrome/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/firefox/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/firefox/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/mobile-chrome/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/mobile-chrome/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/mobile-chrome/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/mobile-safari/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/mobile-safari/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/msedge/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/msedge/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/msedge/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/tablet-chrome/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/tablet-chrome/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/tablet-chrome/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/tablet-safari/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/tablet-safari/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/webkit/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/webkit/mdc-listitem-rtl.png
  packages/components/src/components/listitem/listitem.component.ts
  packages/components/src/components/listitem/listitem.e2e-test.ts
  packages/components/src/components/listitem/listitem.stories.ts
Labels: validated, Author: Core Team, components

#1141 feat: release list and listitem component
  packages/components/src/components/list/list.stories.ts
  packages/components/src/components/listitem/__screenshots__/chrome/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/chrome/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/chrome/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/firefox/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/firefox/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/mobile-chrome/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/mobile-chrome/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/mobile-chrome/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/mobile-safari/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/mobile-safari/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/msedge/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/msedge/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/msedge/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/tablet-chrome/mdc-listitem-high-contrast.png
  packages/components/src/components/listitem/__screenshots__/tablet-chrome/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/tablet-chrome/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/tablet-safari/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/tablet-safari/mdc-listitem-rtl.png
  packages/components/src/components/listitem/__screenshots__/webkit/mdc-listitem-ltr.png
  packages/components/src/components/listitem/__screenshots__/webkit/mdc-listitem-rtl.png
  packages/components/src/components/listitem/listitem.e2e-test.ts
  packages/components/src/components/listitem/listitem.stories.ts
Labels: validated, Author: Core Team, components

#1147 chore: added brand visuals ts logos
  packages/assets/brand-visuals/config/momentum.json
  packages/assets/brand-visuals/config/templates/lit.ts.hbs
  packages/assets/icons/config/momentum.json
  packages/tools/builder/src/assets/builder/transformer/lit-transformer.ts
  packages/tools/builder/src/assets/builder/transformer/lit-transformer.unit.test.ts
  packages/tools/builder/src/assets/builder/types.ts
Labels: validated, Author: Core Team, icons, brand-visuals, tools

#1138 chore: build textarea component
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/textarea/index.ts
  packages/components/src/components/textarea/textarea.component.ts
  packages/components/src/components/textarea/textarea.constants.ts
  packages/components/src/components/textarea/textarea.stories.ts
  packages/components/src/components/textarea/textarea.styles.ts
  packages/components/src/components/textarea/textarea.types.ts
  packages/components/src/index.ts
  packages/components/src/utils/mixins/FormInternalsMixin.ts
Labels: validated, Author: Core Team, components

#1150 feat(popover): add disable-aria-expanded attribute
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.constants.ts
  packages/components/src/components/popover/popover.stories.ts
Labels: validated, Author: Core Team, components

#1148 fix: fixing popover cannot find trigger in shadow dom
  packages/components/src/components/popover/popover.component.ts
Labels: validated, Author: Core Team, components

#1124 test(popover): e2e test for popover component
  packages/components/config/playwright/public/index.css
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/firefox/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/firefox/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/mobile-chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/mobile-safari/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/mobile-safari/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/msedge/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-high-contrast.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/tablet-chrome/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/tablet-safari/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/tablet-safari/mdc-popover-rtl.png
  packages/components/src/components/popover/__screenshots__/webkit/mdc-popover-ltr.png
  packages/components/src/components/popover/__screenshots__/webkit/mdc-popover-rtl.png
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.e2e-test.ts
Labels: validated, Author: Core Team, components

#1151 feat: release popover component
  packages/components/src/components/popover/popover.stories.ts
Labels: validated, Author: Core Team, components

#1149 feat: tooltip - component, storybook page, e2e tests and release
  packages/components/config/playwright/setup/utils/accessibility.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.styles.ts
  packages/components/src/components/tooltip/__screenshots__/chrome/mdc-tooltip-high-contrast.png
  packages/components/src/components/tooltip/__screenshots__/chrome/mdc-tooltip-ltr.png
  packages/components/src/components/tooltip/__screenshots__/chrome/mdc-tooltip-rtl.png
  packages/components/src/components/tooltip/__screenshots__/firefox/mdc-tooltip-ltr.png
  packages/components/src/components/tooltip/__screenshots__/firefox/mdc-tooltip-rtl.png
  packages/components/src/components/tooltip/__screenshots__/mobile-chrome/mdc-tooltip-high-contrast.png
  packages/components/src/components/tooltip/__screenshots__/mobile-chrome/mdc-tooltip-ltr.png
  packages/components/src/components/tooltip/__screenshots__/mobile-chrome/mdc-tooltip-rtl.png
  packages/components/src/components/tooltip/__screenshots__/mobile-safari/mdc-tooltip-ltr.png
  packages/components/src/components/tooltip/__screenshots__/mobile-safari/mdc-tooltip-rtl.png
  packages/components/src/components/tooltip/__screenshots__/msedge/mdc-tooltip-high-contrast.png
  packages/components/src/components/tooltip/__screenshots__/msedge/mdc-tooltip-ltr.png
  packages/components/src/components/tooltip/__screenshots__/msedge/mdc-tooltip-rtl.png
  packages/components/src/components/tooltip/__screenshots__/tablet-chrome/mdc-tooltip-high-contrast.png
  packages/components/src/components/tooltip/__screenshots__/tablet-chrome/mdc-tooltip-ltr.png
  packages/components/src/components/tooltip/__screenshots__/tablet-chrome/mdc-tooltip-rtl.png
  packages/components/src/components/tooltip/__screenshots__/tablet-safari/mdc-tooltip-ltr.png
  packages/components/src/components/tooltip/__screenshots__/tablet-safari/mdc-tooltip-rtl.png
  packages/components/src/components/tooltip/__screenshots__/webkit/mdc-tooltip-ltr.png
  packages/components/src/components/tooltip/__screenshots__/webkit/mdc-tooltip-rtl.png
  packages/components/src/components/tooltip/index.ts
  packages/components/src/components/tooltip/tooltip.component.ts
  packages/components/src/components/tooltip/tooltip.constants.ts
  packages/components/src/components/tooltip/tooltip.e2e-test.ts
  packages/components/src/components/tooltip/tooltip.stories.ts
  packages/components/src/components/tooltip/tooltip.styles.ts
  packages/components/src/components/tooltip/tooltip.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1140 feat(coachmark): create coachmark component
  packages/components/TESTING.md
  packages/components/config/playwright/setup/types.ts
  packages/components/config/playwright/setup/utils/visual-regression.ts
  packages/components/package.json
  packages/components/src/components/coachmark/__screenshots__/chrome/mdc-coachmark-high-contrast.png
  packages/components/src/components/coachmark/__screenshots__/chrome/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/chrome/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/firefox/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/firefox/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/mobile-chrome/mdc-coachmark-high-contrast.png
  packages/components/src/components/coachmark/__screenshots__/mobile-chrome/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/mobile-chrome/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/mobile-safari/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/mobile-safari/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/msedge/mdc-coachmark-high-contrast.png
  packages/components/src/components/coachmark/__screenshots__/msedge/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/msedge/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/tablet-chrome/mdc-coachmark-high-contrast.png
  packages/components/src/components/coachmark/__screenshots__/tablet-chrome/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/tablet-chrome/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/tablet-safari/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/tablet-safari/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/__screenshots__/webkit/mdc-coachmark-ltr.png
  packages/components/src/components/coachmark/__screenshots__/webkit/mdc-coachmark-rtl.png
  packages/components/src/components/coachmark/coachmark.component.ts
  packages/components/src/components/coachmark/coachmark.constants.ts
  packages/components/src/components/coachmark/coachmark.e2e-test.ts
  packages/components/src/components/coachmark/coachmark.stories.ts
  packages/components/src/components/coachmark/index.ts
  packages/components/src/components/popover/popover.e2e-test.ts
  packages/components/src/components/tooltip/tooltip.e2e-test.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1154 fix(popover): make id and triggerid reflective
  packages/components/src/components/popover/popover.component.ts
Labels: validated, Author: Core Team, components

#1139 perf: build options and options group components.
  packages/components/src/components/listitem/listitem.component.ts
  packages/components/src/components/listitem/listitem.styles.ts
  packages/components/src/components/optgroup/index.ts
  packages/components/src/components/optgroup/optgroup.component.ts
  packages/components/src/components/optgroup/optgroup.constants.ts
  packages/components/src/components/optgroup/optgroup.e2e-test.ts
  packages/components/src/components/optgroup/optgroup.stories.ts
  packages/components/src/components/optgroup/optgroup.styles.ts
  packages/components/src/components/option/index.ts
  packages/components/src/components/option/option.component.ts
  packages/components/src/components/option/option.constants.ts
  packages/components/src/components/option/option.e2e-test.ts
  packages/components/src/components/option/option.stories.ts
  packages/components/src/components/option/option.styles.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1159 fix(coachmark): export placement type
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1158 feat: release chip component
  packages/components/src/components/alertchip/alertchip.stories.ts
  packages/components/src/components/chip/chip.stories.ts
  packages/components/src/components/filterchip/filterchip.stories.ts
  packages/components/src/components/inputchip/inputchip.stories.ts
Labels: validated, Author: Core Team, components

#1156 perf: e2e specs on option and option group component
  packages/components/config/playwright/setup/utils/Stickersheet.ts
  packages/components/src/components/optgroup/__screenshots__/chrome/mdc-optgroup-high-contrast.png
  packages/components/src/components/optgroup/__screenshots__/chrome/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/chrome/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/firefox/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/firefox/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/mobile-chrome/mdc-optgroup-high-contrast.png
  packages/components/src/components/optgroup/__screenshots__/mobile-chrome/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/mobile-chrome/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/mobile-safari/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/mobile-safari/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/msedge/mdc-optgroup-high-contrast.png
  packages/components/src/components/optgroup/__screenshots__/msedge/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/msedge/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/tablet-chrome/mdc-optgroup-high-contrast.png
  packages/components/src/components/optgroup/__screenshots__/tablet-chrome/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/tablet-chrome/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/tablet-safari/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/tablet-safari/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/webkit/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/webkit/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/optgroup.e2e-test.ts
  packages/components/src/components/option/__screenshots__/chrome/mdc-option-high-contrast.png
  packages/components/src/components/option/__screenshots__/chrome/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/chrome/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/firefox/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/firefox/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/mobile-chrome/mdc-option-high-contrast.png
  packages/components/src/components/option/__screenshots__/mobile-chrome/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/mobile-chrome/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/mobile-safari/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/mobile-safari/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/msedge/mdc-option-high-contrast.png
  packages/components/src/components/option/__screenshots__/msedge/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/msedge/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/tablet-chrome/mdc-option-high-contrast.png
  packages/components/src/components/option/__screenshots__/tablet-chrome/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/tablet-chrome/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/tablet-safari/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/tablet-safari/mdc-option-rtl.png
  packages/components/src/components/option/__screenshots__/webkit/mdc-option-ltr.png
  packages/components/src/components/option/__screenshots__/webkit/mdc-option-rtl.png
  packages/components/src/components/option/option.e2e-test.ts
Labels: validated, Author: Core Team, components

#1155 chore: e2e specs for textarea component
  packages/components/src/components/textarea/__screenshots__/chrome/mdc-textarea-high-contrast.png
  packages/components/src/components/textarea/__screenshots__/chrome/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/chrome/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/firefox/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/firefox/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/mobile-chrome/mdc-textarea-high-contrast.png
  packages/components/src/components/textarea/__screenshots__/mobile-chrome/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/mobile-chrome/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/mobile-safari/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/mobile-safari/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/msedge/mdc-textarea-high-contrast.png
  packages/components/src/components/textarea/__screenshots__/msedge/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/msedge/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/tablet-chrome/mdc-textarea-high-contrast.png
  packages/components/src/components/textarea/__screenshots__/tablet-chrome/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/tablet-chrome/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/tablet-safari/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/tablet-safari/mdc-textarea-rtl.png
  packages/components/src/components/textarea/__screenshots__/webkit/mdc-textarea-ltr.png
  packages/components/src/components/textarea/__screenshots__/webkit/mdc-textarea-rtl.png
  packages/components/src/components/textarea/textarea.component.ts
  packages/components/src/components/textarea/textarea.constants.ts
  packages/components/src/components/textarea/textarea.e2e-test.ts
  packages/components/src/components/textarea/textarea.stories.ts
  packages/components/src/components/textarea/textarea.styles.ts
Labels: validated, Author: Core Team, components

#1161 fix: not showing presence while typing
  packages/components/src/components/avatar/avatar.component.ts
Labels: validated, Author: Core Team, components

#1163 feat: release option and option group components
  packages/components/src/components/optgroup/optgroup.stories.ts
  packages/components/src/components/option/option.stories.ts
Labels: validated, Author: Core Team, components

#1160 fix: check for popover to be visible
  packages/components/src/components/coachmark/coachmark.e2e-test.ts
Labels: validated, Author: Core Team, components

#1162 feat: release textarea component
  packages/components/src/components/textarea/textarea.stories.ts
Labels: validated, Author: Core Team, components

#1164 fix(popover): handle number prefixed triggerID
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.stories.ts
Labels: validated, Author: Core Team, components

#1169 fix(popover): stop isOpenUpdated from running on initial render
  packages/components/src/components/popover/popover.component.ts
Labels: validated, Author: Core Team, components

#1170 docs: brand visuals folder restructuring fix
  packages/documentation/astro.config.mjs
  packages/documentation/src/components/Tokens/TokenTable/TokenTable.tsx
Labels: validated, Author: Core Team, docs

#1168 fix: expose popover events
  packages/components/src/components/coachmark/coachmark.component.ts
  packages/components/src/components/coachmark/coachmark.stories.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/popover/popover.events.ts
  packages/components/src/components/popover/popover.stories.ts
  packages/components/src/components/tooltip/tooltip.component.ts
  packages/components/src/components/tooltip/tooltip.stories.ts
Labels: validated, Author: Core Team, components

#1172 fix: connectedcallback-attribute
  packages/components/conventions/README.md
  packages/components/conventions/component-initialisation.md
  packages/components/conventions/component-naming-guidelines.md
  packages/components/conventions/data-attributes-on-host.md
  packages/components/src/components/alertchip/alertchip.component.ts
  packages/components/src/components/avatarbutton/avatarbutton.component.ts
  packages/components/src/components/checkbox/checkbox.component.ts
  packages/components/src/components/chip/chip.component.ts
  packages/components/src/components/coachmark/coachmark.component.ts
  packages/components/src/components/divider/divider.component.ts
  packages/components/src/components/filterchip/filterchip.component.ts
  packages/components/src/components/formfieldgroup/formfieldgroup.component.ts
  packages/components/src/components/listitem/listitem.component.ts
  packages/components/src/components/option/option.component.ts
  packages/components/src/components/radio/radio.component.ts
  packages/components/src/components/tab/tab.component.ts
  packages/components/src/components/textarea/textarea.component.ts
  packages/components/src/components/toggle/toggle.component.ts
  packages/components/src/components/tooltip/tooltip.component.ts
  packages/components/src/components/tooltip/tooltip.constants.ts
  packages/components/src/components/tooltip/tooltip.e2e-test.ts
  packages/components/src/components/tooltip/tooltip.stories.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1165 fix: create progressbar component
  packages/components/src/components/progressbar/__screenshots__/chrome/mdc-progressbar-variants-high-contrast.png
  packages/components/src/components/progressbar/__screenshots__/chrome/mdc-progressbar-variants-ltr.png
  packages/components/src/components/progressbar/__screenshots__/chrome/mdc-progressbar-variants-rtl.png
  packages/components/src/components/progressbar/__screenshots__/firefox/mdc-progressbar-variants-ltr.png
  packages/components/src/components/progressbar/__screenshots__/firefox/mdc-progressbar-variants-rtl.png
  packages/components/src/components/progressbar/__screenshots__/mobile-chrome/mdc-progressbar-variants-high-contrast.png
  packages/components/src/components/progressbar/__screenshots__/mobile-chrome/mdc-progressbar-variants-ltr.png
  packages/components/src/components/progressbar/__screenshots__/mobile-chrome/mdc-progressbar-variants-rtl.png
  packages/components/src/components/progressbar/__screenshots__/mobile-safari/mdc-progressbar-variants-ltr.png
  packages/components/src/components/progressbar/__screenshots__/mobile-safari/mdc-progressbar-variants-rtl.png
  packages/components/src/components/progressbar/__screenshots__/msedge/mdc-progressbar-variants-high-contrast.png
  packages/components/src/components/progressbar/__screenshots__/msedge/mdc-progressbar-variants-ltr.png
  packages/components/src/components/progressbar/__screenshots__/msedge/mdc-progressbar-variants-rtl.png
  packages/components/src/components/progressbar/__screenshots__/tablet-chrome/mdc-progressbar-variants-high-contrast.png
  packages/components/src/components/progressbar/__screenshots__/tablet-chrome/mdc-progressbar-variants-ltr.png
  packages/components/src/components/progressbar/__screenshots__/tablet-chrome/mdc-progressbar-variants-rtl.png
  packages/components/src/components/progressbar/__screenshots__/tablet-safari/mdc-progressbar-variants-ltr.png
  packages/components/src/components/progressbar/__screenshots__/tablet-safari/mdc-progressbar-variants-rtl.png
  packages/components/src/components/progressbar/__screenshots__/webkit/mdc-progressbar-variants-ltr.png
  packages/components/src/components/progressbar/__screenshots__/webkit/mdc-progressbar-variants-rtl.png
  packages/components/src/components/progressbar/index.ts
  packages/components/src/components/progressbar/progressbar.component.ts
  packages/components/src/components/progressbar/progressbar.constants.ts
  packages/components/src/components/progressbar/progressbar.e2e-test.ts
  packages/components/src/components/progressbar/progressbar.stories.ts
  packages/components/src/components/progressbar/progressbar.styles.ts
  packages/components/src/components/progressbar/progressbar.types.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1175 feat: release progressbar component
  packages/components/src/components/progressbar/progressbar.stories.ts
Labels: validated, Author: Core Team, components

#1174 feat: align icon added
  packages/assets/icons/src/core/align-bold.svg
  packages/assets/icons/src/core/align-filled.svg
  packages/assets/icons/src/core/align-light.svg
  packages/assets/icons/src/core/align-regular.svg
Labels: validated, icons

#1176 fix: added an option to select "none" for presence indicator
  packages/components/src/components/avatar/avatar.stories.ts
  packages/components/src/components/avatarbutton/avatarbutton.stories.ts
Labels: validated, Author: Core Team, components

#1177 fix: input test case; remove unwanted await calls
  packages/components/src/components/alertchip/alertchip.e2e-test.ts
  packages/components/src/components/avatar/avatar.e2e-test.ts
  packages/components/src/components/avatarbutton/avatarbutton.e2e-test.ts
  packages/components/src/components/badge/badge.e2e-test.ts
  packages/components/src/components/button/button.e2e-test.ts
  packages/components/src/components/buttonsimple/buttonsimple.e2e-test.ts
  packages/components/src/components/chip/chip.e2e-test.ts
  packages/components/src/components/formfieldwrapper/formfieldwrapper.e2e-test.ts
  packages/components/src/components/input/input.e2e-test.ts
  packages/components/src/components/inputchip/inputchip.e2e-test.ts
  packages/components/src/components/link/link.e2e-test.ts
  packages/components/src/components/popover/popover.component.ts
  packages/components/src/components/radio/radio.e2e-test.ts
  packages/components/src/components/radiogroup/radiogroup.e2e-test.ts
  packages/components/src/components/tab/tab.e2e-test.ts
  packages/components/src/components/textarea/textarea.e2e-test.ts
  packages/components/src/components/toggle/toggle.e2e-test.ts
  packages/components/src/components/virtualizedlist/virtualizedlist.e2e-test.ts
Labels: validated, Author: Core Team, components

#1178 fix: storybook-sort
  packages/components/config/storybook/main.js
  packages/components/config/storybook/preview.js
  packages/components/package.json
  yarn.lock
Labels: validated, Author: Core Team, components

#1181 fix: set undefined for disabled boolean mixin
  packages/components/src/components/optgroup/__screenshots__/chrome/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/chrome/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/firefox/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/firefox/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/mobile-chrome/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/mobile-chrome/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/mobile-safari/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/mobile-safari/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/msedge/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/msedge/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/tablet-chrome/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/tablet-chrome/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/tablet-safari/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/tablet-safari/mdc-optgroup-rtl.png
  packages/components/src/components/optgroup/__screenshots__/webkit/mdc-optgroup-ltr.png
  packages/components/src/components/optgroup/__screenshots__/webkit/mdc-optgroup-rtl.png
  packages/components/src/components/option/option.component.ts
  packages/components/src/utils/mixins/DisabledMixin.ts
Labels: validated, Author: Core Team, components

#1182 fix: storybook sort example top
  packages/components/config/storybook/main.js
Labels: validated, Author: Core Team, components

#1167 fix: Design token updates
  packages/assets/tokens/src/$metadata.json
  packages/assets/tokens/src/additionaltheme/dark/bronze.json
  packages/assets/tokens/src/additionaltheme/dark/indigo.json
  packages/assets/tokens/src/additionaltheme/dark/jade.json
  packages/assets/tokens/src/additionaltheme/dark/lavender.json
  packages/assets/tokens/src/additionaltheme/dark/rose.json
  packages/assets/tokens/src/additionaltheme/light/bronze.json
  packages/assets/tokens/src/additionaltheme/light/indigo.json
  packages/assets/tokens/src/additionaltheme/light/jade.json
  packages/assets/tokens/src/additionaltheme/light/lavender.json
  packages/assets/tokens/src/additionaltheme/light/rose.json
  packages/assets/tokens/src/theme/stable/dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_dark.json
  packages/assets/tokens/src/theme/stable/highcontrast/hc_light.json
  packages/assets/tokens/src/theme/stable/light.json
  packages/components/src/components/toggle/__screenshots__/chrome/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/chrome/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/chrome/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/firefox/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/firefox/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/mobile-chrome/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/mobile-chrome/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/mobile-chrome/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/mobile-safari/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/mobile-safari/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/msedge/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/msedge/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/msedge/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/tablet-chrome/mdc-toggle-high-contrast.png
  packages/components/src/components/toggle/__screenshots__/tablet-chrome/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/tablet-chrome/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/tablet-safari/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/tablet-safari/mdc-toggle-rtl.png
  packages/components/src/components/toggle/__screenshots__/webkit/mdc-toggle-ltr.png
  packages/components/src/components/toggle/__screenshots__/webkit/mdc-toggle-rtl.png
Labels: validated, components, tokens

#1179 feat: build brandvisual component
  .gitignore
  packages/components/config/esbuild/esbuild-e2e.config.js
  packages/components/config/playwright/public/index.html
  packages/components/package.json
  packages/components/scripts/copyBrandvisuals.js
  packages/components/src/components/brandvisual/__screenshots__/chrome/mdc-brandvisual-high-contrast.png
  packages/components/src/components/brandvisual/__screenshots__/chrome/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/chrome/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/firefox/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/firefox/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/mobile-chrome/mdc-brandvisual-high-contrast.png
  packages/components/src/components/brandvisual/__screenshots__/mobile-chrome/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/mobile-chrome/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/mobile-safari/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/mobile-safari/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/msedge/mdc-brandvisual-high-contrast.png
  packages/components/src/components/brandvisual/__screenshots__/msedge/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/msedge/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/tablet-chrome/mdc-brandvisual-high-contrast.png
  packages/components/src/components/brandvisual/__screenshots__/tablet-chrome/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/tablet-chrome/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/tablet-safari/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/tablet-safari/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/webkit/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/webkit/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/brandvisual.component.ts
  packages/components/src/components/brandvisual/brandvisual.constants.ts
  packages/components/src/components/brandvisual/brandvisual.e2e-test.ts
  packages/components/src/components/brandvisual/brandvisual.stories.ts
  packages/components/src/components/brandvisual/brandvisual.styles.ts
  packages/components/src/components/brandvisual/brandvisual.types.ts
  packages/components/src/components/brandvisual/index.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1185 feat(assets): Added potential-fraud
  packages/assets/icons/src/core/potential-fraud-bold.svg
  packages/assets/icons/src/core/potential-fraud-filled.svg
  packages/assets/icons/src/core/potential-fraud-light.svg
  packages/assets/icons/src/core/potential-fraud-regular.svg
Labels: validated, icons

#1180 docs: search field component, storybook, docs and test cases
  packages/components/src/components/alertchip/alertchip.styles.ts
  packages/components/src/components/chip/chip.styles.ts
  packages/components/src/components/input/input.component.ts
  packages/components/src/components/input/input.constants.ts
  packages/components/src/components/input/input.e2e-test.ts
  packages/components/src/components/input/input.stories.ts
  packages/components/src/components/input/input.styles.ts
  packages/components/src/components/input/input.types.ts
  packages/components/src/components/inputchip/inputchip.component.ts
  packages/components/src/components/inputchip/inputchip.stories.ts
  packages/components/src/components/inputchip/inputchip.styles.ts
  packages/components/src/components/searchfield/__screenshots__/chrome/mdc-searchfield-high-contrast.png
  packages/components/src/components/searchfield/__screenshots__/chrome/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/chrome/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/firefox/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/firefox/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/mobile-chrome/mdc-searchfield-high-contrast.png
  packages/components/src/components/searchfield/__screenshots__/mobile-chrome/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/mobile-chrome/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/mobile-safari/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/mobile-safari/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/msedge/mdc-searchfield-high-contrast.png
  packages/components/src/components/searchfield/__screenshots__/msedge/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/msedge/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/tablet-chrome/mdc-searchfield-high-contrast.png
  packages/components/src/components/searchfield/__screenshots__/tablet-chrome/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/tablet-chrome/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/tablet-safari/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/tablet-safari/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/__screenshots__/webkit/mdc-searchfield-ltr.png
  packages/components/src/components/searchfield/__screenshots__/webkit/mdc-searchfield-rtl.png
  packages/components/src/components/searchfield/index.ts
  packages/components/src/components/searchfield/searchfield.component.ts
  packages/components/src/components/searchfield/searchfield.constants.ts
  packages/components/src/components/searchfield/searchfield.e2e-test.ts
  packages/components/src/components/searchfield/searchfield.stories.ts
  packages/components/src/components/searchfield/searchfield.styles.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components

#1187 feat: releasing searchfield component
  packages/components/src/components/searchfield/searchfield.stories.ts
Labels: validated, Author: Core Team, components

#1186 feat: build appheader component
  packages/components/src/components/appheader/__screenshots__/chrome/mdc-appheader-high-contrast.png
  packages/components/src/components/appheader/__screenshots__/chrome/mdc-appheader-ltr.png
  packages/components/src/components/appheader/__screenshots__/chrome/mdc-appheader-rtl.png
  packages/components/src/components/appheader/__screenshots__/firefox/mdc-appheader-ltr.png
  packages/components/src/components/appheader/__screenshots__/firefox/mdc-appheader-rtl.png
  packages/components/src/components/appheader/__screenshots__/mobile-chrome/mdc-appheader-high-contrast.png
  packages/components/src/components/appheader/__screenshots__/mobile-chrome/mdc-appheader-ltr.png
  packages/components/src/components/appheader/__screenshots__/mobile-chrome/mdc-appheader-rtl.png
  packages/components/src/components/appheader/__screenshots__/mobile-safari/mdc-appheader-ltr.png
  packages/components/src/components/appheader/__screenshots__/mobile-safari/mdc-appheader-rtl.png
  packages/components/src/components/appheader/__screenshots__/msedge/mdc-appheader-high-contrast.png
  packages/components/src/components/appheader/__screenshots__/msedge/mdc-appheader-ltr.png
  packages/components/src/components/appheader/__screenshots__/msedge/mdc-appheader-rtl.png
  packages/components/src/components/appheader/__screenshots__/tablet-chrome/mdc-appheader-high-contrast.png
  packages/components/src/components/appheader/__screenshots__/tablet-chrome/mdc-appheader-ltr.png
  packages/components/src/components/appheader/__screenshots__/tablet-chrome/mdc-appheader-rtl.png
  packages/components/src/components/appheader/__screenshots__/tablet-safari/mdc-appheader-ltr.png
  packages/components/src/components/appheader/__screenshots__/tablet-safari/mdc-appheader-rtl.png
  packages/components/src/components/appheader/__screenshots__/webkit/mdc-appheader-ltr.png
  packages/components/src/components/appheader/__screenshots__/webkit/mdc-appheader-rtl.png
  packages/components/src/components/appheader/appheader.component.ts
  packages/components/src/components/appheader/appheader.constants.ts
  packages/components/src/components/appheader/appheader.e2e-test.ts
  packages/components/src/components/appheader/appheader.stories.ts
  packages/components/src/components/appheader/appheader.styles.ts
  packages/components/src/components/appheader/index.ts
  packages/components/src/components/brandvisual/__screenshots__/chrome/mdc-brandvisual-high-contrast.png
  packages/components/src/components/brandvisual/__screenshots__/chrome/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/chrome/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/firefox/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/firefox/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/mobile-chrome/mdc-brandvisual-high-contrast.png
  packages/components/src/components/brandvisual/__screenshots__/mobile-chrome/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/mobile-chrome/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/mobile-safari/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/mobile-safari/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/msedge/mdc-brandvisual-high-contrast.png
  packages/components/src/components/brandvisual/__screenshots__/msedge/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/msedge/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/tablet-chrome/mdc-brandvisual-high-contrast.png
  packages/components/src/components/brandvisual/__screenshots__/tablet-chrome/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/tablet-chrome/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/tablet-safari/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/tablet-safari/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/__screenshots__/webkit/mdc-brandvisual-ltr.png
  packages/components/src/components/brandvisual/__screenshots__/webkit/mdc-brandvisual-rtl.png
  packages/components/src/components/brandvisual/brandvisual.styles.ts
  packages/components/src/index.ts
Labels: validated, Author: Core Team, components
